[2022-08-08 16:32] domef commented on #1233
I don't have `tensorrt` in my environment, in fact my question is: how can I install `tensorrt`?

[2022-08-08 16:39] narendasan commented on #1233
The tensorrt python package should come prepacked with Jetpack. Are you using the system python install or something like conda?

[2022-08-08 16:42] domef commented on #1233
I created a new environment with python3.8 (I installed `torch-tensorrt` in the virtual env).

[2022-08-08 16:43] narendasan commented on #1233
Can you try importing tensorrt with the system python?

[2022-08-08 17:01] ncomly-nvidia commented on #1008
Please take a look at #1058. Should support your needs!

[2022-08-08 17:01] #1008 closed

[2022-08-08 17:04] #1235 closed

[2022-08-08 17:06] ncomly-nvidia commented on #1229
CC: @tanayvarshney

[2022-08-08 17:27] kneatco opened #1241 "Cannot build libtorch dependency for Torch-Tensorrt on Jetson (jetpack 4.6) using bazel"
Hi, I am trying to install Torch-Tensorrt on my Jetson Xavier using jetpack 4.6

I was able to install bazel and I have reached the point in the pytorch guide where I need to build libtorch using bazel. Specifically this command:

`bazel build //:libtorchtrt --platforms //toolchains:jetpack_4.6`

The error that gets produced:
[code]

Reference documentation:
https://pytorch.org/TensorRT/tutorials/

[2022-08-08 18:58] narendasan commented on #1241
Refer to this discussion https://github.com/pytorch/TensorRT/discussions/1077

[2022-08-08 19:03] kneatco commented on #1241
Hello, thank you for your timely response. I did refer to this earlier actually, and it somewhat helped. It looks like towards the end of the build (building setup.py), the program wants to create some directories in the usr/local/lib/python3.6/dist-packages.

It gets a permission denied error, but when I try running with sudo -H (in hopes of giving it permission) I get this:
fatal: unsafe reposit

[2022-08-08 19:54] kneatco commented on #1241
This most recent issue was solved by downgrading numpy version. Found on:

https://forums.developer.nvidia.com/t/sudo-python-illegal-instruction/198978

This issue can be closed.

[2022-08-08 19:54] #1241 closed

[2022-08-08 20:24] kneatco opened #1243 "❓ [Question] How to correctly configure LD_LIBRARY_PATH"
## ❓ Question

Hello, after installing torch_tensorrt on my jetson xavier using jetpack 4.6, I cannot import it. I am having a similar issue to other bugs that have been reported and answered. I am wondering though, how do you correctly add tensorrt to LD_LIBRARY_PATH? (Proposed solution from other bugs).

## What you have already tried

The tensorrt package is stored in /usr/lib/python3.6/dist-pa

[2022-08-08 20:32] #1243 closed

[2022-08-08 20:34] kneatco commented on #1243
Never mind, this finally worked... To be exact, the LD_LIBRARY_PATH had to be [Old Path]:/[New Path]...

To confirm you can `echo $LD_LIBRARY_PATH` and it should look like that notation once you've 'added' the tensorrt lib.

[2022-08-09 00:57] #623 closed

[2022-08-09 07:18] domef commented on #1233
I will try, but how can I install `tensorrt` on another virtual environment?

[2022-08-09 18:39] narendasan commented on #1233
I am not sure, TensorRT gets install via Jetpack (a debian package internally). You could try to extract the wheel to install. Alternatively you can check if it is distributed for aarch64-jetson on `nvidia-pyindex`

[2022-08-09 23:00] zsef123 opened #1245 "🐛 [Bug] Error on build with CMAKE, win11"
##  Bug Description

C2487 error on `Input Constructor`
[code]

`TORCHTRT_API Input(std::vector<int64_t> shape, TensorFormat format = TensorFormat::kContiguous);
`
like this codes

## To Reproduce
Use Visual Studio 2019 with CMake, Build > Install tab

## Expected behavior

## Environment

 - Torch-TensorRT Version (e.g. 1.0.0): master
 - PyTorch Version (e.g. 1.0): 1.12
 - CPU Architecture: Ryzen

[2022-08-10 08:04] domef commented on #1233
I tried to import `tensorrt` with the system python and it is imported succesfully.
To install `tensorrt` in my environment i tried this:

[code]

but I get this error:

[code]
      $ pip install nvidia-pyindex
      $ pip install nvidia-tensorrt
[code]

[2022-08-10 09:55] SBodenstedt commented on #1211
I am facing the exact same issue, is there a workaround by any chance?

[2022-08-10 15:04] domef opened #1248 "🐛 [Bug] Warning thrown when exporting model"
##  Bug Description

An unexpected warning is thrown when I try to export a simple model with `torch_tensorrt`.

## To Reproduce

This is the code I used:

[code]

The output is:

[code]

The same warning is thrown with this equivalent model:

[code]

## Environment

I' m using the container nvcr.io/nvidia/pytorch:22.07-py3.
To give more information about the environment I'm using, I used the scri

[2022-08-10 16:48] narendasan commented on #1248
I don't think there is a call to this method from anything in Torch-TRT but this warning fundamentally comes from TensorRT itself. My guess is that there is some legacy TRT code calling this API producing the error but in our case it can safely be ignored.

[2022-08-10 16:49] narendasan commented on #1245
@andi4191 Do you have access to a Windows machine to repro? I wont for a few weeks

[2022-08-10 17:18] andi4191 commented on #1245
I need to check.

[2022-08-10 17:23] narendasan commented on #1245
The graph input fix for cmake was merged last night, so maybe try that out and see if it helps

[2022-08-10 19:13] zsef123 commented on #1245
I fused problems.
missing file is related with GraphInputs ( above comments)

And still got error about Input or Compilepsecs

[2022-08-10 20:25] #1231 closed

[2022-08-11 02:55] #1166 closed

[2022-08-11 06:26] noman-anjum-retro opened #1253 "❓ [Question] How to load a TRT_Module in python environment on Windows which has been compiled on C++ Windows ?"
## ❓ Question

I have compiled torch_trt module using libtorch on C++ windows platform. This module is working perfectly on C++ for inference, however I want to use it in Python program on windows platform. How to load this module on python?

When I tried to load it with torch.jit.load() or torch.jit.load() it is throwing following error:

 `File ~\AppData\Local\Programs\Python\Python310\lib\site-

[2022-08-11 12:28] mjack3 commented on #929
Hello, I am having the same issue. Could you update us about this?
Thanks

[2022-08-11 18:01] narendasan commented on #1253
@andi4191 can you take a look at this as well when you look at the other windows issue?

[2022-08-11 18:02] narendasan commented on #1180
Addressed in #1252

[2022-08-11 18:17] narendasan commented on #1144
@gcuendet At first glance seems reasonable

[2022-08-11 18:22] narendasan commented on #226
I am going to close this issue because we have a community maintained cmake build system to build the libraries. Open a new issue if it is still a problem.

[2022-08-11 18:47] #1081 closed

[2022-08-11 21:42] andi4191 commented on #1253
@noman-anjum-retro: Don't you need to load torchtrt_runtime.dll using python on windows?

[2022-08-11 22:01] narendasan commented on #660
This works in Torch-TensorRT 1.2.0 via traced with the addition that `aten::div` is forced to fallback due to unary not supporting int32, this can be automated through converter capabilities in the future (#1130). Scripted requires something along the lines of #621. Going to close this issue but the links to open issues will remain for reference.

[2022-08-11 22:01] #660 closed

[2022-08-11 23:19] narendasan commented on #772
This is not currently supported and requires the next phase collections feature (#629). The issue is we need to be able to generate the torchscript code to manage mapping from function input to tensorrt input when potentially any arbitrary input could be None.

[2022-08-11 23:29] #797 closed

[2022-08-11 23:37] narendasan commented on #763
Yes, just tried the provided code in 1.12.0a0 and it runs fine. Here is the source of what I ran.

[code]

Just so that we can tell what has been addressed and what hasn't, I am going to close this but feel free to reopen if there is still issues.

[2022-08-11 23:43] narendasan commented on #836
Ran the provided repro with torch-tensorrt master(1.2.0a0+45e3bd47) and it works end to end. Likely this is due to a naming convention issue we resolved recently. Going to close to help us track what needs to be worked on but if there are still issues please reopen with additional details.

[2022-08-11 23:43] #836 closed

[2022-08-12 00:02] #987 closed

[2022-08-12 00:20] #877 closed

[2022-08-12 00:25] narendasan commented on #899
Yes I tested this and it works

[2022-08-12 01:08] narendasan commented on #929
Seems like an issue with partitioning not being able to access a `const` tensor that is passed as an input to an earlier graph.

[2022-08-12 01:36] narendasan commented on #1233
Sorry this is so convoluted.

This error is likely due to NVIDIA not shipping aarch64 tensorrt packages on the nvidia-pyindex, pip falls back to a dummy package on the main pypi index which points you to the nvidia-index (confusingly for Jetson users). Not sure what the next step is here. You can look on the host machine you used to flash the jetson for inside the folder which contains all the res

[2022-08-12 01:45] narendasan commented on #1218
Well it at least seems like the issue is coming from how TorchScript manages classes and associated methods, so in normal PyTorch this would be like the relationship between `MyModule` and `forward` in a module like this:

[code]

It might be that we are not satisfying this relationship properly, but not sure why this only appears when you look to script and serialize a hybrid nn.Module/Torch-TRT

[2022-08-12 01:48] narendasan commented on #1170
This should be solved in the upcoming release, you can try now on master.

[2022-08-12 01:51] narendasan commented on #1165
Not seeing the segfault but seen an issue from the partitioning phase.

[code]

[2022-08-12 01:53] narendasan commented on #1129
This feature is now in master #1201, reopen if there are still issues

[2022-08-12 01:53] #1129 closed

[2022-08-12 01:54] #1170 closed

[2022-08-12 01:55] narendasan commented on #1139
@andi4191 now that you are back, thoughts on this feature?

[2022-08-12 01:56] narendasan commented on #1087
Looks like the fixes for these have been merged, reopen if there are still issues

[2022-08-12 01:56] #1087 closed

[2022-08-12 02:06] narendasan commented on #1050
[code]

I was able to run the above script using master, hopefully that unblocks you. Leaving this bug open however because I found an issue with partitioning when `require_full_compilation` is `False`

[2022-08-12 02:10] #1050 closed

[2022-08-12 02:15] narendasan commented on #989
The segfault is resolved in master. However, none of the ops in the repro are supported by TensorRT (in our current converter library) so torch_tensorrt does nothing.

[code]

Going to close this, feel free to reopen if you are still having trouble.

[2022-08-12 02:15] #989 closed

[2022-08-12 02:17] narendasan commented on #1068
Going to close this, reopen if you are still having trouble

[2022-08-12 02:17] #1068 closed

[2022-08-12 03:06] narendasan commented on #805
@peri044 I tried running this model and seems like there is an off by one error in the _convolution converter. Can you take a look? I can share the model with you over slack

[2022-08-12 03:07] narendasan opened #1256 "✨[Feature] Add the ability to set breakpoints in the compilation process."
**Is your feature request related to a problem? Please describe.**

Sometimes you want to pause or break compilation of a graph at a certain point to see what is happening at that operation. This can help figure out what is happening in the conversion process without having to recompile the entire library.

**Describe the solution you'd like**

At least for the conversion process it should be poss

[2022-08-12 03:08] narendasan commented on #1256
Similarly this could be helpful in partitioning @bowang007. Though we need to centralize the context first to do this I would think.

[2022-08-12 03:12] narendasan commented on #1256
I am thinking the way this would work is you would do something like:

[code]

where breakpoints would interrupt conversion / partitioning and pause / maybe cancel conversion after that point. And context dumps would dump context at those ops onto the debug log.

[2022-08-12 03:16] #1156 closed

[2022-08-12 06:16] mjack3 commented on #929
Thanks @narendasan

In my desk computer with v1.0.0 the conversion works.

Then, in a Jetson with v1.0.0 build from source it fails with the error.

- May this be moved as issue?.
- Do you know if v1.1.0 can be used in a Jetson? That may solve the problem.

[2022-08-12 06:30] noman-anjum-retro commented on #1253
@andi4191 I'm not sure how to load it. When I tried to load it via this code:

`import torch
import ctypes

# Load DLL into memory.

hllDll = ctypes.WinDLL ("D:/Codes/RetroActivity/experiments/src/exploration/action_recognition/torchtrt_runtime.dll")
print("DLL Loaded")
#torch.ops.load_library("D:/Codes/RetroActivity/experiments/src/exploration/action_recognition/torchtrt_runtime.dll")
model =  to

[2022-08-12 07:24] mjack3 opened #1260 "🐛 [Bug] Conversion works in v1.0.0 (desktop pc) but not in v1.0.0+55c3bab4 (Jetson)"
##  Bug Description

TorchScript to TensorRT works correctly in v1.0.0 (desktop computer) but fail in 1.0.0+55c3bab4 (Jetson+JetPack4.6)

## To Reproduce

The code it is the same in my desktop and Jetson, but failling in the second device

1. I trace model
2. Then, I convert the model to TensorRT32 engine

[code]

`WARNING: [Torch-TensorRT] - Dilation not used in Max pooling converter
Traceback (m

[2022-08-12 09:28] DzAvril commented on #1199
How do you fix the error "ModuleNotFoundError: No module named 'torch.fx.passes.pass_manager'"?

[2022-08-12 16:18] narendasan commented on #1260
Can you provide the debug logs for both desktop and jetson? You can do this with:

[code]

Since this is an issue with 1.0.0, the best advice I have is to upgrade. If it is not possible to upgrade your Jetpack (seems like you are on 4.6) you can backport v1.1.0 to base on PyTorch 1.10.0

[2022-08-12 16:34] #266 closed

[2022-08-12 16:34] #834 closed

[2022-08-12 16:42] narendasan commented on #266
@apivovarov Using the following script I am able to run InceptionV3. Please open a new issue if there are still problems, I think the original issue from Jan 2021 has been addressed with `truncate_long_and_double`

[code]

[2022-08-12 17:25] ncomly-nvidia commented on #899
Closing. @chaoz-dev please reopen / file a new issue if there is still a problem.

[2022-08-12 17:25] #899 closed

[2022-08-12 17:36] mjack3 commented on #1260
Hello, I'll next tuesday.

By the way, as far as I know, torch_tensorrt v1.1.0 does not work in Jetson (NX) with JetPack 4.6. I tried two days ago with Pytorch v1.10.0.

Could you confirm?

Thanks

[2022-08-12 18:53] narendasan commented on #1260
Yes it does not work out of the box. There is a small patch in lowering you must apply (essentially revert this commit https://github.com/pytorch/TensorRT/commit/c009a1fc5167a9b85818aa94d2a67c9a650b6070) to get it working with 1.10.

[2022-08-12 19:36] apivovarov commented on #1096
Looks like it was just fixed - https://github.com/pytorch/TensorRT/pull/1259

https://github.com/pytorch/TensorRT/issues/266#issuecomment-1213313545

[2022-08-12 19:38] apivovarov commented on #266
Thank you! Can you double check that it works with shape `(1,3,299,299)` - which is inception_v3 input shape https://pytorch.org/hub/pytorch_vision_inception_v3/

[2022-08-12 21:10] narendasan commented on #266
yes this input size works as well.

[2022-08-14 13:04] gdippolito opened #1262 "🐛 [Bug] Can't install torch_tensorrt python wheel with Bazel and rules_python"
##  Bug Description

When installed with `rules_python` the python wheel`torch_tensorrt` is not made available in the runfiles folder and thefore an import error is raised:
[code]

## To Reproduce

Simple repo https://github.com/gdippolito/reproduce-rules-python-bug/tree/main

## Expected behavior

The package is made available to Bazel targets.

## Environment

 - Torch-TensorRT Version (e.g. 1.0

[2022-08-15 04:15] minhhoangbui commented on #730
If you insist on using TRT Backend to accelerate inference speed, I suggest you to convert this model to Tensorflow format and then convert to tensorrt. I failed to convert from torchscript to tensorrt too. Maybe there is some mismatches in floating point between torchscript and tensorrt which generates this error

[2022-08-15 14:31] Pradnya-Mundargi opened #1265 "🐛 [Bug] Torch_tensorrt compile doesn’t support pretrained torchvision Mask_RCNN model."
##  Bug Description

Torch_tensorrt compile doesn’t support pretrained torchvision Mask_RCNN model.
**Error:**
RuntimeError:
temporary: the only valid use of a module is looking up an attribute but found = prim::SetAttr[name=“_has_warned”](%self, %178)
:

## To Reproduce

Steps to reproduce the behavior:

1. Please execute the .ipynb notebook attached below
https://drive.google.com/file/d/1nN95csu

[2022-08-15 14:37] peri044 opened #1266 "✨[Feature] Perform constant folding of operations in the graph if nodes can be evaluated at compile time"
**Is your feature request related to a problem? Please describe.**

[code]

In the snippet below we have a reshape node %bar which is forced to fallback by min_block_size. Because %bar is forced to fallback its input %37 = prim::ListConstruct is also forced to fallback along with %28 : int = aten::size. In both cases these ops are supported by evaluators and (at least with static shapes) should be

[2022-08-15 14:41] narendasan commented on #1266
Shouldn’t OpSupported report back that the node can be evaluated? https://github.com/pytorch/TensorRT/blob/5fa38f4566ca3d4b2daf0f65f2d87ddaa2a304cf/core/conversion/conversion.cpp#L22

[2022-08-15 14:43] narendasan commented on #1266
https://github.com/pytorch/TensorRT/pull/1263 This pr aims to log every state change in target executor for nodes, might help clear up what is happening

[2022-08-15 15:25] peri044 commented on #1266
Yes. But the request here is to remove these nodes  (make it a constant list which is passed to reshape node directly) altogether in the torchscript graph before partitioning phase so that ListConstruct won't obstruct partitioning and create additional segments.

[code]
So that

[2022-08-15 15:32] narendasan commented on #1266
Is this because of the input signature changes?

[2022-08-15 15:36] ncomly-nvidia commented on #790
Please see #1058 for building on windows. If this is not sufficient please file a new issue w/ the problem!

[2022-08-15 15:36] #790 closed

[2022-08-15 16:07] ncomly-nvidia commented on #1010
As @narendasan mentioned, this is a limitation of Torchscript itself. If you need the model to be run in Torchscript, please file an issue to [pytorch/pytorch](https://github.com/pytorch/pytorch/issues).

Alternatively, in v1.2 Torch-TRT will have an FX frontend (Beta) which you can experiment with to workaround these Torchscript limitations! Details coming soon!

[2022-08-15 19:12] mfeliz-cruise commented on #1266
My thinking here is that when an op is supported with an Evaluator, it is resolvable to a constant in TRT. If these are ops are resolvable to constants in TRT they should also be resolvable to constants in TorchScript. If we implemented an evaluator pass which ran before partitioning and evaluated any evaluatable node (ex. aten::size with static shaped input) we could replace those nodes with cons

[2022-08-15 19:58] #1227 closed

[2022-08-15 21:38] narendasan commented on #1266
This is true in some cases but not all. For example a `prim::list_construct` could take a number of tensors which are the result of preceding TRT converted nodes. In this case the `nvinfer1::ITensor`s must exist to create the list.

Therefore, such a preprocessing system would need to be able to distinguish constant nodes using some characteristic other than node kind. All that is guaranteed by th

[2022-08-15 21:45] #1180 closed

[2022-08-15 22:21] mfeliz-cruise commented on #1266
Thanks @narendasan. are there more examples beyond prim::ListConstruct and prim::ListUnpack? I agree these do not fit the resolve-to-constant pattern I'm trying to address here. Could these be considered as converters?

This addresses one of my concerns. I'm worried about cases where evaluators may resolve a value incorrectly to a constant or error out because the input is not constant. Ex. aten::

[2022-08-15 23:52] bowang007 commented on #983
this can be resolved by adding torch::jit::exception_elimination pass https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/remove_exceptions.cpp in lowering.

[2022-08-15 23:52] #983 closed

[2022-08-16 02:46] ghazalehtrb commented on #1265
I’m getting the same type of error for a custom  model.

[2022-08-16 04:13] narendasan commented on #1266
`prim::TupleConstruct/Unpack`, `aten::append`, `aten::size`, `aten::clone`, `aten::copy` are all evaluators which are designed to handle `ITensors` i.e. potentially non constant data. They are not converters since converters are designed to purely emit `ITensors`. Evaluators produce `IValues` so types such as `int`, `double`, `Tensor`, `Tuple`, `List` (or wrapped `ITensors`).  We have in the past

[2022-08-16 06:38] noman-anjum-retro commented on #1144
Hello, it is working fine with debug mode in visual studio, however when I switched to Release mode,(I also changed libtorch to release) it is unable to load TrTCompiledEngine and throwing following error
`    model = torch::jit::load(model_path, device);
`
`Unknown type name '__torch__.torch.classes.tensorrt.Engine':
  File "code/__torch__/movinets/models.py", line 4
  __parameters__ = []
  __buf

[2022-08-16 07:25] noman-anjum-retro commented on #1253
update: I checked all the dependent files of torchtrt_runtime.dll and I found some more libraries with it. I got some of them from TensorRT and some from libtorch. Now the error while loading  the dll has changed to:

`  File "D:\Codes\RetroActivity\experiments\src\exploration\action_recognition\video_play.py", line 198, in get_torch_tensorrt_converted_model
    hllDll = ctypes.WinDLL(r"D:\Codes\R

[2022-08-16 09:02] Njuapp opened #1271 "🐛 [Bug] Failure to compile swin/BERT with dynamic batch"
##  Bug Description

When compiling swin transformer/BERT with dynamic batch, torch-trt will report errors.

Swin-Transformer reports error:
[code]

BERT reports error:
[code]

## To Reproduce

- Steps to reproduce the swin transformer compilation error:
  1. Download [swin_tiny.ts](https://drive.google.com/file/d/1aMsfkQLN-jsx0660zMRAjP1cAgNBmA2O/view?usp=sharing)
**NOTE**: this torchscript is sa

[2022-08-16 13:25] mjack3 commented on #1260
Hello @narendasan

Finally, I updated JP to the production release and I managed the conversion correctly using `torch==1.11.0` and `torch_tensorrt==1.1.0+c2e396a8`. Thank for your help!

[2022-08-16 13:25] #1260 closed

[2022-08-16 13:40] mjack3 opened #1272 "❓ [Question] How can I debug the error: Unable to freeze tensor of type Int64/Float64 into constant layer, try to compile model with truncate_long_and_double enabled"
## ❓ Question

Converting a model to Tensor Engine with the next code does not work

Input:
[code]
Output:

`RuntimeError: [Error thrown at core/conversion/converters/converter_util.cpp:167] Unable to freeze tensor of type Int64/Float64 into constant layer, try to compile model with truncate_long_and_double enabled
`

Running with `truncate_long_and_double=True` works but I want to understand what

[2022-08-16 13:47] mjack3 commented on #1272
INFO: [Torch-TensorRT] - ir was set to default, using TorchScript as ir
DEBUG: [Torch-TensorRT] - Settings requested for Lowering:
    torch_executed_modules: [
    ]
DEBUG: [Torch-TensorRT] - RemoveNOPs - Note: Removing operators that have no meaning in TRT
INFO: [Torch-TensorRT] - Lowered Graph: graph(%x.1 : Tensor):
  %2 : int[] = prim::Constant[value=[0]]()
  %10 : int[] = prim::Constant[value

[2022-08-16 13:48] mjack3 commented on #1272
`DEBUG: [Torch-TensorRT TorchScript Conversion Context] - Evaluating %self.encoder.layer1.2.bn1.weight : Float(128, strides=[1], requires_grad=0, device=cuda:0) = prim::Constant[value=<Tensor>]()
DEBUG: [Torch-TensorRT TorchScript Conversion Context] - Found the value to be a tensor (shape [128])
DEBUG: [Torch-TensorRT TorchScript Conversion Context] - Evaluating %self.encoder.layer1.2.bn1.bias :

[2022-08-16 13:48] mjack3 commented on #1272
`DEBUG: [Torch-TensorRT] - padding: [0, 0]
DEBUG: [Torch-TensorRT] - dilation: [1, 1]
DEBUG: [Torch-TensorRT] - out_padding: [0, 0]
DEBUG: [Torch-TensorRT] - groups: 1
DEBUG: [Torch-TensorRT] - Output tensor shape: [1, 256, 56, 56]
INFO: [Torch-TensorRT TorchScript Conversion Context] - Adding Layer %input.67 : Tensor = aten::batch_norm(%input.65, %self.encoder.layer2.0.bn1.weight, %self.encoder.l

[2022-08-16 16:09] narendasan commented on #1272
What is happening is your model makes use of int64 and double types. These types are not supported in TensorRT natively. By enabling `truncate_long_and_double=True` you allow Torch-TensorRT to downcast int64 -> int32 and double -> long allowing TensorRT to run them. This is not default behavior because definitionally the numerics of the model will change so we want users to explicitly opt-in.

[2022-08-16 18:37] chaoz-dev opened #1274 "🐛 [Bug] Advanced Indexing/GatherND compilation causes error: `isObject() INTERNAL ASSERT FAILED at "libtorch/_virtual_includes/ATen/ATen/core/ivalue_inl.h":123, please report a bug to PyTorch. Expected Object but got None`"
##  Bug Description
PyTorch uses advanced indexing to implement GatherND. For example:
[code]
is considered a valid indexing operation.
However, when applying TensorRT compilation, we see the following error:
[code]

## To Reproduce
Run with `nvcr.io/nvidia/pytorch:22.07-py3` container (`gathernd.py`):
[code]
Outputs the following:
[code]
Note that the pytorch version (ie. no-TRT) model outputs th

[2022-08-16 20:32] #1271 closed

[2022-08-16 21:38] narendasan opened #1276 "🐛 [Bug] Issues with partitioning showing that the model should be built e2e but running anyway"
##  Bug Description

There are issues where networks may be fully supported but for some reason partitioning starts running.

## To Reproduce

[code]

## Expected behavior

These models should run end to end.

## Environment

 - Torch-TensorRT Version (e.g. 1.0.0): 1.2.0a0+master
 - PyTorch Version (e.g. 1.0): 1.12
 - CPU Architecture: x86
 - OS (e.g., Linux): Linux
 - How you installed `PyTorch`

[2022-08-16 21:49] narendasan opened #1277 "✨[Feature] Centralize common debug information in AssociateValueandITensor"
**Is your feature request related to a problem? Please describe.**

Many converters have this sort of pattern.

[code]
Which provides information that makes it easy to determine if a converter worked properly.
However because this requires the converter developer to add it, it is not uniformly applied

**Describe the solution you'd like**

Centralize the dumping of key debug information in `Conver

[2022-08-16 23:29] Belval commented on #922
Sorry for not getting back at you earlier.

I tried your suggestion but it does not seem to removes the `requires_grad=1`. Here's what I am doing:

[code]

I get the same error as described here. The model is in eval mode and `backbone.training` does report `False`.

[2022-08-17 02:26] andi4191 commented on #1139
@narendasan: We can make a check for precision request against the SM compute capability as per support matrix.
Something like https://docs.nvidia.com/deeplearning/tensorrt/support-matrix/index.html#hardware-precision-matrix

This check will be done at runtime though.

[2022-08-17 02:34] narendasan commented on #1139
Well the question is will it do anything if engines are not portable across compute capability?

[2022-08-17 03:45] andi4191 commented on #1139
I don't think we can do anything other than throwing an error instead of letting it crash. IIRC If the engines are not portable across computing capability, TensorRT fails at deserialization.

[2022-08-17 05:04] narendasan commented on #1266
Seems like tracing is now including shape information:

[code]

[2022-08-17 05:22] narendasan commented on #1274
I have a fix for this error as well as the general None case but we hit the current limitation where the converter does not support more than one tensor used to index. https://github.com/pytorch/TensorRT/blob/c63a5a5717e28d1a195740356fffbb9afcff36a8/core/conversion/converters/impl/select.cpp#L287

@ruoqianguo Do you have more information on this limitation? Is this something we can address but hav

[2022-08-17 09:33] ruoqianguo commented on #1274
@narendasan The complete function looks like that https://github.com/pytorch/TensorRT/pull/921#discussion_r823279468. I think we can address this problem and i will try to support several indices input.

[2022-08-17 17:34] mfeliz-cruise commented on #1266
Would we hit issues with dynamic shapes if we rely on the traced shape values?

[2022-08-18 10:35] BrettRyland commented on #1157
I see that the `torch_executed_modules` is intended for this, but I haven't been able to get it to work. How does one specify these modules?
E.g., in this simple script [trt_bug4.py](https://github.com/pytorch/TensorRT/files/9372688/trt_bug4.py.txt) everything always gets compiled despite all the variants I'm passing to `torch_executed_modules`.

[2022-08-18 13:04] Mark-M2L opened #1282 "❓ [Question] How do you solve the error: Expected Tensor but got Uninitialized?"
## ❓ Question

Currently, I am compiling a custom segmentation model using torch_tensorrt.compile(), using a model script obtained from jit. The code to compile is as follows:

[code]

The code fails to compile at the following step:
[code]
, throwing the following error:
[code]

It seems that some variable is uninitialized. However, the strange thing is that replacing the previous code with the f

[2022-08-18 18:30] bowang007 commented on #1282
@Mark-M2L  could you please try if this works? https://github.com/pytorch/TensorRT/issues/983

[2022-08-18 20:52] ncomly-nvidia commented on #922
@bowang007 @narendasan ^

[2022-08-18 21:51] bowang007 commented on #1276
fixed here #1289

[2022-08-18 21:51] #1276 closed

[2022-08-19 00:03] #875 closed

[2022-08-19 00:04] narendasan commented on #365
@apbose any updates on this issue?

[2022-08-19 07:42] mallorbc commented on #1113
Pretty sure I also have this issue.  Trying to use dynamic input sizes for GPT models.  I will look at PR later to see if that helps.

[2022-08-19 08:34] centerzong commented on #1245
I meet the same problem on windows10.i need help.

[2022-08-19 18:53] bowang007 opened #1293 "✨[Feature] Collection IO end to end support for TRT engine"
**Is your feature request related to a problem? Please describe.**

Currently Torch-TensorRT is relying on Partitioning to support Tuple/List grouped inputs, which means for some models with Tuple/List input/output, they are not supported end to end. This could also affect performance. So, we should try to implement a change where when we go to construct the inputs to the engine we on the fly grou

[2022-08-20 07:31] VRSEN commented on #473
@maiskovich Sorry for my long silence.
I did this a while back and can't remember the process but I think this is the file you're looking for:
https://github.com/VRSEN/TRTorch/blob/d019ecf4f6f66d8d6cb02f89b104b902264d049c/core/conversion/converters/impl/nms.cpp

[2022-08-21 00:02] #1034 closed

[2022-08-21 03:33] HugeBob opened #1295 "Jetpack 5.0.2"
## ❓ Question

Is it known yet whether Torch TensorRT is compatible with NVIDIA Jetpack 5.0.2 on NVIDIA Jetson devices?

## What you have already tried

I am trying to install torch-tensorrt for Python on my Jetson Xavier NX with Jetpack 5.0.2. Followed the instructions for the Jetpack 5.0 install and have successfully run everything up until ```python3 setup.py install --use-cxx11-abi``` which ra

[2022-08-22 00:38] HugeBob commented on #1295
This was a permission error of some kind, changing the ownership of my site-packages folder resolved this.

[2022-08-22 00:38] #1295 closed

[2022-08-22 09:58] BrettRyland opened #1296 "🐛 [Bug] if statements without else branches are triggering "RuntimeError: ArrayRef: invalid index Index = 0; Length = 0""
##  Bug Description
`if` statements with no `else` branch (or an `else` branch that doesn't modify the variable) are triggering the `RuntimeError: ArrayRef: invalid index Index = 0; Length = 0` exception when the `torch_executed_ops=["aten::size"]` option is specified (not specifying it gives a warning about undefined behaviour during compilation).

This appears to be similar to, but not the same

[2022-08-22 16:23] ekolodin commented on #741
Any updates??? How to compile upsample nearest???

[2022-08-22 17:12] apbose commented on #365
Hi @narendasan I tested this locally and the test passes now.

[2022-08-22 17:14] narendasan commented on #365
Do we have a dynamic batch aten::add test?

[2022-08-22 17:29] ekolodin commented on #1211
The same issue

[2022-08-22 17:47] ncomly-nvidia commented on #960
Please try #1058 as the recommended way to install on windows.

[2022-08-22 17:50] ncomly-nvidia commented on #855
This is a constraint on data dependent shapes (DDS), currently slated for v1.4 end of year.

[2022-08-22 17:56] ncomly-nvidia commented on #690
Please try #1058 for Windows Support

[2022-08-22 17:56] #690 closed

[2022-08-22 18:14] #1272 closed

[2022-08-23 05:18] bowang007 commented on #922
@Belval could you please try this fix? https://github.com/pytorch/TensorRT/pull/1298
I tested locally and it works for the models that I have now.
I tried to test on your model but I only have the model file that's based on ngc 22.06, and I got some errors if I want to build this new branch on ngc 22.06.

[2022-08-23 14:05] SM1991CODES opened #1303 "How to correctly format input for Fp16 inference using torch-tensorrt C++"
## ❓ Question

## What you have already tried

Hi, I am using the following to export a torch scripted model to Fp16 tensorrt which will then be used in a C++ environment.

`network.load_state_dict(torch.load(path_weights, map_location="cuda:0"))
    network.eval().cuda()

    dummy_input = torch.rand(1, 6, 320, 224).cuda()
    network_traced = torch.jit.trace(network, dummy_input)  # converting t

[2022-08-23 14:05] SM1991CODES commented on #1303
try {
        // Deserialize the ScriptModule from a file using torch::jit::load().
        trt_ts_mod_cnn = torch::jit::load(trt_ts_module_path);
        trt_ts_mod_cnn.to(torch::kCUDA);
        cout << trt_ts_mod_cnn.type() << endl;
        cout << trt_ts_mod_cnn.dump_to_str(true, true, false) << endl;
        } catch (const c10::Error& e) {
            std::cerr << "error loading the model from

[2022-08-23 15:44] narendasan commented on #1303
The way you build your model seems fine, seems like you explicitly set the input to expect FP16 then provide an FP32 tensor during inference. You can set it to expect an FP32 input during compilation otherwise use the commented out line in your C++ to provide the input tensor

[2022-08-24 10:19] SM1991CODES commented on #1303
Thank you for your quick response. Here is what I did:

**1) Converting to torch-tensorrt via Python: FP16**

- I removed the explicit dtype specification

def convert_trained_model_to_tensorrt_script_fp16(network, path_weights, trt_ts_save_path):
    """
    Convert the model instance and weights to tensorrt optimized script
    """

    network.load_state_dict(torch.load(path_weights, map_locati

[2022-08-24 13:20] ghazalehtrb opened #1305 "🐛 [Bug] Encountered bug when using Torch-TensorRT (We don't have an op for aten::floor_divide but it isn't a special case)"
##  Bug Description

Hi, I'm trying to compile a model with torch_tensorrt. I was able to successfully create the scripted model but when compiling it I'm getting the following error:

[code]

I don't know which part of the model is exactly causing this error yet, I'll post a simple version once I figure it out but I think torch_tensortrt 1.1.0 release is supposed to support floor_divide.

This is

[2022-08-24 13:39] Mark-M2L commented on #983
Thanks a lot for your reply. I have taken a look into it and have a question about this implementation. I am thinking of two ways of implementing the possible solution you suggest. The first is to create a scripted model using `torch.jit.script(model)` and then feed this scripted model to the code written in [](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/remove_exceptions.

[2022-08-24 13:41] Mark-M2L commented on #1282
Thanks a lot for your reply. I have taken a look into it and have a question about this implementation. I am thinking of two ways of implementing the possible solution you suggest. The first is to create a scripted model using `torch.jit.script(model)` and then feed this scripted model to the code written in [remove_exceptions.cpp](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/pass

[2022-08-24 18:37] bowang007 commented on #1282
Hey @Mark-M2L, sorry I didn't make it clear.
I think what you can do is simply add torch::jit::exception_elimination right after this line: https://github.com/pytorch/TensorRT/blob/5d1acbacb3928c7d5b1f125cf8fe98c9bbaffbeb/core/lowering/lowering.cpp#L35.
Then recompile Torch-TensorRT, it should be good.

[2022-08-24 21:18] narendasan commented on #1305
From what I can tell the issue is that there is some operation in your model of the form:

[code]

Which does not seem to be a valid TorchScript operator which why PyTorch not necessarily us is reporting this issue.

I took a look at PyTorch and saw there is a `aten::floordiv.int` operator which would make sense for the input types you have. The question is why this model has `floor_divide` and no

[2022-08-24 21:29] narendasan opened #1306 "✨[Feature] Nodes inserted by lowering passes should point to the pass which inserted them"
**Is your feature request related to a problem? Please describe.**

During lowering some nodes may get inserted as part of lowering operations such as the unpack passes. Unlike nodes created by TorchScript scripting, these will not point to any location in the source code so it can become difficult to determine what inserted those nodes.

**Describe the solution you'd like**

Passes should add to

[2022-08-24 21:32] narendasan commented on #1305
This is the only lowering pass which uses `floor_divide` but seems to use the tensor variant so that probably is not the root cause: https://cs.github.com/pytorch/TensorRT/blob/679ea2179aaaf28fd16203d610315ddf9ea8dfe8/core/lowering/passes/reduce_remainder.cpp?q=repo%3Apytorch%2Ftensorrt+aten%3A%3Afloor_divide+language%3AC%2B%2B

[2022-08-24 22:18] narendasan commented on #1303
Could be a number of reasons hard to say for sure. Could be that casting in the TRT network is especially slow and perhaps precasting upstream would help. You can compare the built engines in depth using tools like trex https://developer.nvidia.com/blog/exploring-tensorrt-engines-with-trex/

Yes. Engines built on different hardware will perform different. Also you must build your engine on your ta

[2022-08-25 00:15] ghazalehtrb commented on #1305
@narendasan Thank you for your response.
So far it seems like what causing the issue is the Modulus operator (%).

The following network gives the same error:

[code]

[2022-08-25 13:02] Mark-M2L commented on #1282
Thanks for your clarification. I recompiled Torch-TensorRT using your suggestion (previously built it using Python, as explained in https://github.com/pytorch/TensorRT/issues/1026#issuecomment-1119561746). The compilation went fine, but adding your step and then recompiling, I still got the same error (Expected Tensor but got Uninitialized). What versions of CUDA, cuDNN, TensorRT, and torch_tensor

[2022-08-25 18:17] bowang007 commented on #1282
Hey @Mark-M2L, do you have a small repro so I can also run and test locally?
Btw, we see this error previously when we have this kind of operations:

[code]
This happens because when we have a If node like this, we do it in fallback and there is no raiseException corresponded value, as explained here #983.

Could you please add these lines in your script to print the logs so we can know at which g

[2022-08-25 19:24] narendasan commented on #1305
This is the torchscript graph I am getting back (PyTorch 1.12.1)

[code]

Don't seem to see the `floor_divide`. Maybe this changed in 1.12?

[2022-08-25 20:53] narendasan commented on #1305
Seems like the same graph from PyTorch 1.11

[2022-08-26 09:07] Mark-M2L commented on #1282
Hi @bowang007 Thank you very much for your help. I created a small reproducible repo at [Reproduced repo](https://github.com/Mark-M2L/ttrt_compilation_ddrnet). It is basically a copy of [DDRNet.pytorch](https://github.com/chenjun2hao/DDRNet.pytorch), but modified such that it compiles with torch_tensorrt (in the future).

For this repo, I use Python 3.8.13. The packages that are installed are:
<im

[2022-08-26 18:06] galv commented on #1296
I just wanted to note that I am encountering the same issue. Thank you for the detective work and work around @BrettRyland !

[2022-08-27 00:03] #856 closed

[2022-08-27 00:03] #733 closed

[2022-08-27 15:45] s-mohaghegh97 opened #1317 "caffe2"
Why don't you install caffe2 with pytorch in NGC container 22.08?

[2022-08-27 20:42] SM1991CODES opened #1318 "🐛 [Bug] Native compilation on Xavier AGX using L4T-Pytorch docker"
##  Bug Description

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

 - Torch-TensorRT Version (e.g. 1.0.0): 1.1.1
 - PyTorch Version (e.g. 1.0): 1.11
 - CPU Architecture: aarch64
 - OS (e.g., Linux): Linux, Jetpack 5.0.2
 - How you installed PyTorch (`conda`, `pip`, `libtorch`, source): docker NGC L4T-Pytorch
 - Build command you used (if compili

[2022-08-28 15:44] SM1991CODES opened #1319 "🐛 [Bug] Encountered bug when using Torch-TensorRT - native compilation xavier AGX"
##  Bug Description

After successful build of both C++ and Python interfaces I get this error when I try to import torch_tensorrt

![image](https://user-images.githubusercontent.com/69435296/187082590-ce1d2540-659e-4fab-a788-e52285559e2d.png)

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

 - Torch-TensorRT Version (e.g. 1.0.0):
 - PyTorch Versi

[2022-08-28 23:52] #833 closed

[2022-08-29 08:25] hassan11196 commented on #1253
@noman-anjum-retro did you get it working? facing the same issue here,

[2022-08-29 10:21] noman-anjum-retro commented on #1253
No, still waiting for @narendasan or @andi4191 help

[2022-08-29 16:11] narendasan commented on #1319
This issue is usually because your pytorch version is too old

[2022-08-29 16:44] ncomly-nvidia commented on #1094
Closing w/ #1095. @mfeliz-cruise please comment if this issue should stay open.

[2022-08-29 16:44] #1094 closed

[2022-08-29 16:46] ncomly-nvidia commented on #1317
Hi @s-mohaghegh97  can you expand on your need for caffe2? We don't actively support it in the latest versions of Torch-TRT.

[2022-08-29 16:49] ncomly-nvidia commented on #1305
@narendasan  seems a lowering pass could be a good WAR here.

[2022-08-29 21:13] amishra791 opened #1321 "🐛 [Bug] Encountered 403 error when building using tarball installations"
##  Bug Description

I get 403 error when trying to build libtorchtrt.

## To Reproduce

I followed the steps to compile torch-tensorrt outlined [here](https://github.com/pytorch/TensorRT#compiling-torch-tensorrt).

Steps to reproduce the behavior:

1. installed bazel
2. downloaded the respective tarball files for cuDNN and TensorRT and placed them in `third_party/dist_dir/x86_64-linux-gnu`
3. Ran

[2022-08-30 13:09] EstherMalam opened #1322 "Error when I'm trying to use torch-tensorrt"
## ❓ Question

Hi
I'm trying to use torch-tensorrt with the pre built ngc container

I built it with 22.04 branch  and with 22.04 version of ngc
My versions are:
cuda  10.2
torchvision  0.13.1
torch 1.12.1

But I get that error:
Traceback (most recent call last):
  File "main.py", line 31, in <module>
    import torch_tensorrt
  File "/usr/local/lib/python3.8/dist-packages/torch_tensorrt/__init__.

[2022-08-30 17:12] ncomly-nvidia opened #1323 "🐛 [Bug] Torch-TRT QDQ nodes affect perf vs PTQ, native TRT they do not"
##  Bug Description

When using the PyT-QAT toolkit, QAT perf is slower than PTQ, for TRT this is not the case.

Torch-TRT:

Model | Accuracy | Performance
-- | -- | --
Baseline MobileNetv2 | 75.56% | 11.92ms
Base + TRT(TRT FP32) | 75.59% | 6.78ms
PTQ + TRT(TRT int8) | 71.41% | 1.57ms
QAT+TRT(TRT INT8) | 74.00% | *2.18ms*

</body>
</html>

Native TRT:

| Model                    | Accuracy | Perfo

[2022-08-30 18:12] narendasan commented on #1321
Download the tarballs and place them in the distdir then try running the command.

[2022-08-30 18:14] narendasan commented on #1322
How is your WORKSPACE configured? If you are using PyTorch 1.12.1 not sure 22.04 is the right branch to use.

[2022-08-30 23:24] amishra791 commented on #1321
As I mentioned in Step 2 of the To Reproduce section, I indeed did that before running the command.

[2022-08-31 06:58] EstherMalam commented on #1322
My torch version is: 1.12.1,
So what the right branch for me?

Thank's!!

[2022-08-31 15:05] ncomly-nvidia opened #1327 "🐛 [Bug] FX intro example broken"
##  Bug Description

FX front-end simple example is broken due to API change. Reported by @jaybdub

File /opt/conda/lib/python3.8/site-packages/torch_tensorrt/_compile.py:116, in compile(module, ir, inputs, enabled_precisions, **kwargs)
    114     lower_precision = LowerPrecision.FP16
    115 elif torch.float32 in enabled_precisions or torch_tensorrt.dtype.float in enabled_precisions:
--> 116

[2022-08-31 15:06] ghazalehtrb opened #1328 "❓ [Question] How do you ....?"
## ❓ Question

Hi,

I am trying to use torch-tensorrt to optimize my model for inference. I first compile the model with torch.jit.script and then covnert it to tesnsorrt.

[code]

However, the tensorrt model has almost the same speed as the regular PyTorch model. And the torchscript model is about 2 times slower:

[code]
I'd really appreciate it if someone can help me understand what could be cau

[2022-08-31 18:19] frank-wei commented on #1327
@jaybdub, I suspect the installation has some problems. Could you try `from torch_tensorrt.fx.utils import LowerPrecision`? How about `import torch_tensorrt.fx`?

[2022-08-31 18:28] jaybdub commented on #1327
Hi @frank-wei ,

Thanks for your reply!

Both of the commands you provided pass, but the example still fails.

I'm using the NGC 22.08 PyTorch container, which ships with torch_tensorrt.

Let me know if anything else needed.

Best,
John

[2022-08-31 18:37] frank-wei commented on #1327
Got it.
1. How about other fx examples?
2. Are you testing with master branch?

[2022-09-01 07:56] andi4191 commented on #1322
Hi,

Please refer the PyTorch release page for NGC here:
https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/index.html

I am also curious as the error logs shows:
/usr/local/lib/python3.8/dist-packages/torch_tensorrt/lib/libtorchtrt.so

Inside the NGC container the path for torch_tensorrt package is at:
/opt/conda/... as mentioned here:

https://github.com/pytorch/TensorRT/blob/

[2022-09-01 09:29] andi4191 commented on #1253
@noman-anjum-retro: Can you try this?
I added the option in torchtrtc to support custom torch op or torch_tensorrt converter. I have used windows.h header file and LoadLibrary for loading the symbol tables from a dll file.

https://github.com/pytorch/TensorRT/blob/72457277e80247d71a3bf9737d98f08b65b217d7/cpp/bin/torchtrtc/main.cpp#L27

[2022-09-01 09:38] BrettRyland commented on #922
FYI @bowang007, I had this bug show up again in my complicated proprietary model. Applying #1298 on top of the current `release/1.2` branch fixed it for me. I'm currently stuck on #1296 and to a lesser extent #1157, though.

[2022-09-01 16:26] andi4191 commented on #1245
@centerzong: Can you please try the master branch and confirm if it fixes your issue?

[2022-09-02 05:44] noman-anjum-retro commented on #1253
@andi4191  What's the solution you are suggesting? Should I recompile my TRT module on C++ with this change and try to load it in python?

[2022-09-02 06:29] s-mohaghegh97 commented on #1317
I use caffe2 to export detecron2 model to onnx format.
https://detectron2.readthedocs.io/en/latest/tutorials/deployment.html#caffe2-deployment

[2022-09-02 15:47] ghazalehtrb commented on #1328
UPDATE:
I noticed a very strange behavior. It seems like that torch-tensorrt is in fact speeding the model up a lot (about 3.5 times). However, generating the random tensor in the loop becomes extremely slow when I'm using the trt model compared to when I'm running the regular PyTorch model.
I tried it with real data and the same issue exists when I do any preprocessing (resizing, etc.). The prepr

[2022-09-02 17:36] narendasan commented on #1328
@peri044 @andi4191 can you share our benchmarking setup? Benchmarking PyTorch requires setting a few settings globally due to how normal execution works. At a high level you need to set cudnn_benchmark mode to true and make sure you synchronize before and after the workload completes

[2022-09-02 17:45] #1091 closed

[2022-09-02 17:50] #662 closed

[2022-09-02 17:51] #960 closed

[2022-09-02 17:53] narendasan commented on #1318
This doesnt seem like an issue with Torch-TensorRT, seems like an issue with your docker setup? Can you at least provide instructions on how to reproduce this issue?

[2022-09-02 17:56] narendasan commented on #1253
Yes, the fix was merged into master so go ahead and try it and see if fixes your issue

[2022-09-02 18:00] narendasan commented on #1262
Tried this out and can see the issue but not sure what is causing it. Will investigate further

[2022-09-02 18:04] narendasan commented on #1199
Newer PyTorch implements this API but this issue should be resolved in master regardless of 1.11 or 1.12. Reopen if the issue persists

[2022-09-02 18:04] #1199 closed

[2022-09-02 18:06] narendasan commented on #1144
@noman-anjum-retro Seems like the runtime is not properly registering. Are you running this in C++? Can you try latest master?

[2022-09-02 18:08] andi4191 commented on #1328
@ghazalehtrb: Please refer to perf benchmark utility suite here:
https://github.com/pytorch/TensorRT/tree/master/tools/perf

[2022-09-02 18:08] narendasan commented on #1138
Reopen if you need more help

[2022-09-02 18:08] #1138 closed

[2022-09-02 18:09] #1014 closed

[2022-09-02 18:11] #863 closed

[2022-09-02 18:12] #226 closed

[2022-09-02 18:27] narendasan commented on #798
Initial feature support has been merged

[2022-09-02 18:27] #798 closed

[2022-09-02 18:28] narendasan commented on #524
Support for this case should be merged, reopen if still an issue

[2022-09-02 18:28] #524 closed

[2022-09-02 18:32] narendasan commented on #969
We now build nightlies for aarch64: https://app.circleci.com/pipelines/github/pytorch/TensorRT/884/workflows/e5e74606-929a-4ca4-93f8-6bf068fa8ea7/jobs/3857/artifacts which you can use. Official binaries will still take a bit due to some dependency complexities we are working through.

[2022-09-02 18:32] #969 closed

[2022-09-02 18:32] #859 closed

[2022-09-02 18:33] narendasan commented on #949
Converting this to a discussion as it is not a specific request but a general request for improvement

[2022-09-02 18:36] narendasan commented on #1266
Potentially, also I think this would force people to use trace. We need to investigate this further.

[2022-09-03 02:25] vinthony commented on #1045
add `import torch_tensorrt` works for me

[2022-09-03 08:08] SM1991CODES commented on #1318
I agree - in this case torch-tensorrt was not the problem.
It turns out on Xavier AGX and Orin, new user needs to be added to video group for cuda stuff to work.

sudo usermod -a -G video $USER

Best Regards

[2022-09-03 08:08] #1318 closed

[2022-09-05 06:57] noman-anjum-retro commented on #1253
Hello @andi4191 , no it didn't help it popped the same errors in series mentioned above.

[2022-09-05 12:35] lixiaolx opened #1332 "❓ [Question] Using torch-trt to test bert's qat quantitative model"
## ❓ Question

When using torch-trt to test Bert's qat quantization ( https://zenodo.org/record/4792496#.YxGrdRNBy3J ) model, I encountered many FakeTensorQuantFunction nodes in the pass, and at the same time triggered many nodes that could not convert TRT, and split the graph into many subgraphs
![image](https://user-images.githubusercontent.com/17673134/188449461-55791f9e-884a-4961-b861-7b82110c

[2022-09-06 06:54] kimseongah opened #1333 "[Converter] Request implementation aten::rsqrt(Tensor self) -> (Tensor) in Torch-TensorRT"
##  Bug Description

ERROR: [Torch-TensorRT] - Method requested cannot be compiled end to end by Torch-TensorRT.TorchScript.
Unsupported operators listed below:
  - aten::rsqrt(Tensor self) -> (Tensor)

...

Traceback (most recent call last):
  File "/workspace/SimSwap/simswap_torchTensorRT.py", line 17, in <module>
    trt_ts_module = torch_tensorrt.compile(
  File "/usr/local/lib/python3.8/dist-

[2022-09-06 09:15] zsef123 commented on #1245
@andi4191 working fine 👍

[2022-09-06 09:15] #1245 closed

[2022-09-06 12:50] Mark-M2L commented on #1282
Hi @bowang007, did you perhaps have time to test the sample code? Would be really helpful to us if you can help us out.

[2022-09-06 12:53] Njuapp opened #1334 "🐛 [Bug] Encountered bug when compiling BERT with `token_type_ids`"
##  Bug Description

When compiling BERT which takes three arguments (`input_ids`, `attention_mask`, `token_type_ids`), the compilation will fail and report strange bugs as below.

![image](https://user-images.githubusercontent.com/15108866/188640093-fd4836fc-2bb2-49f7-9bb0-42063dbd17cc.png)

If we remove the last argument (`token_type_ids`) and compile the BERT with only two arguments, everything

[2022-09-06 13:14] Njuapp commented on #1334
Environment issue, solved when turned to nvidia NGC pytorch-docker22.07.

[2022-09-06 13:14] #1334 closed

[2022-09-06 14:52] Belval commented on #922
Still getting this error after checking out `param_input`

[code]

Here is my Dockerfile:

[code]

My script to reproduce the issue:

[code]

I'll send the torchscripted backbone file so that you can try it on your side.

WORKSPACE file:

[code]

[2022-09-06 15:16] zsef123 opened #1335 "[Question? Bug?] Tried to allocate 166.38 GiB, seems weird"
## ❓ Question

I got errors
[code]

Converting Script
[code]

My model takes 28GB on inference forward.
But the 166GB so huge, is this correct memory usage?

## Environment

 - Docker :  nvcr.io/nvidia/pytorch:22.07-py3
 - TRT : 1.2.0a0
 - GPU models and configuration: V100 32GB

## Additional context

[2022-09-06 15:27] ncomly-nvidia commented on #662
@narendasan have we verified DLRM?

[2022-09-06 15:33] ncomly-nvidia commented on #112
@inocsin confirmed offline. Closing.

[2022-09-06 15:33] #112 closed

[2022-09-06 16:37] noman-anjum-retro commented on #1253
## Progress:

Hello @andi4191  @narendasan, I tried loading compiled TRT module on C++ and python.
On C++ it worked fine on Debug mode, but on C++ Release mode and In Python it throwed following error:

`RuntimeError:
Unknown type name 'torch.torch.classes.tensorrt.Engine':
File "code/torch/movinets/models.py", line 4
parameters = []
buffers = []
_torch___movinets_models_MoViNet_trt_engine : torch

[2022-09-06 17:03] andi4191 commented on #1253
It seems to be complaining about the FileNotFound

IIRC, in Windows, the paths are mentioned as:
<Path to directory>\\src\\exploration\\action_recognition\\torchtrt_runtime.dll

Can you try above and share your observation?

[2022-09-06 17:24] andi4191 commented on #1321
Did you change the rule in WORKSPACE file to use the distdir?

Please refer to the [README](https://github.com/pytorch/TensorRT#2-building-using-locally-installed-cudnn--tensorrt)

[2022-09-06 17:28] amishra791 commented on #1321
No, since I assumed that was only in the case where I already installed TensorRT and cuDNN locally.

[2022-09-06 17:33] ncomly-nvidia commented on #1332
@peri044 What nodes are inserted by the [PyT QAT Toolkit](https://github.com/NVIDIA/TensorRT/tree/main/tools/pytorch-quantization)? Are they `FakeTensorQuantFunction` layers?

[2022-09-06 18:03] bowang007 commented on #1282
Hey @Mark-M2L , I'm going to have a test this week. Stuck on something else last week. Will update to you soon.

[2022-09-06 19:00] chaoz-dev commented on #1274
Just tested this on master `d1768aa3d2c7d7d91d9f061e3e5dc5f976124dfe` built in NGC pytorch:22.08-py3, but I'm still seeing the same errors running the above script:
[code]

[2022-09-06 19:54] ncomly-nvidia commented on #1274
@narendasan ^

[2022-09-06 21:23] bowang007 opened #1336 "🐛 [Bug] Missing value if a Non-Tensor value is used in a sub-block"
##  Bug Description

In this graph:
[code]
In partitioning stage, prim::If is unsupported, so we run BFS to check if any of the values consumed by prim::If are NonTensor. However, prim::If()->input() only contains %0 here. As a result, the ListConstruct node won't fallback here, and since ListConstruct is supported node, which results in the ListConstruct node in a TRT segment, and %1 is missing i

[2022-09-06 21:36] bowang007 commented on #1282
Hey @Mark-M2L I run your model locally and I have this bug https://github.com/pytorch/TensorRT/issues/1336. Seems like it's because I'm using latest Torch-TensorRT version while you are using 1.10, and there are some changes since 1.10.

I'm now trying to support your model together with this pr: https://github.com/pytorch/TensorRT/pull/1263. Hopefully this could be completed this week. I will rep

[2022-09-07 01:51] ruoqianguo commented on #1274
In container `pytorch/pytorch:1.12.0-cuda11.3-cudnn8-devel`, I just tested this script on master `d1768aa3d2c7d7d91d9f061e3e5dc5f976124dfe`. And the results look like correct. Whether this results are related to container?
[code]

[2022-09-07 07:34] noman-anjum-retro commented on #1144
Yeah, It's working now with the latest master. Thanks

[2022-09-07 07:48] noman-anjum-retro commented on #1253
No it didn't work. Can you please try to load a TRT on your side, maybe you'll catch something that I am missing. It's weird that it's loading in C++ and not in Python

[2022-09-07 14:10] noman-anjum-retro commented on #1253
## Update:
 I tried loading torchtrt_runtime.dll without importing torch in python and it loaded gracefully. Then I tried importing torch, but it failed with same error [WinError 1114] A dynamic link library (DLL) initialization routine failed. It seems that Python is unable to load both torchtrt_runtime.dll and torch at the same time, first operation gets completed and second one fails.

When tor

[2022-09-08 11:19] BrettRyland commented on #1296
Additionally, replacing the
[code]
line in `MyMod.forward` in the first repro script with
[code]
causes a segmentation fault — Repro script: [trt_bug5_v2.py](https://github.com/pytorch/TensorRT/files/9526305/trt_bug5_v2.py.txt)
[code]

Here's a stack trace of the segfault:
[code]

[2022-09-08 11:43] BrettRyland commented on #1296
Here's the same stacktrace, but with `torch-tensorrt` compiled in debug mode with `pip3 install -e ./py` so that it shows line numbers and extra debugging:
[code]

[2022-09-08 12:47] Mark-M2L commented on #1282
Hi @bowang007, thank you very much for taking your time to support the model. I really appreciate it. Looking forwards to your update :)

[2022-09-08 18:19] peri044 commented on #1335
@zsef123 Can you share your model or your debug logs? The debug logs can be generated via
[code]
TRT builder can take additional memory but probably not 166 Gb.

[2022-09-08 20:00] andi4191 commented on #1253
Hi @noman-anjum-retro,

I think the problem is with the mode while you are trying to load the symbol tables.

I tried following and is working:

[code]

For quick reference:
https://docs.microsoft.com/en-us/windows/win32/api/libloaderapi/nf-libloaderapi-loadlibraryexa
https://github.com/python/cpython/blob/3.9/Lib/ctypes/__init__.py#L358

Additionally, can you also check if the torch installed on

[2022-09-09 00:05] bowang007 commented on #922
Hey @Belval I was able to reproduce the error finally.
Tested locally and the reason why we still have the error after using this PR https://github.com/pytorch/TensorRT/pull/1298 is because the input Float is Tensor with gradient, then when we try to use this function https://github.com/pytorch/pytorch/blob/9b8e0a38a6674c78a8f2729ce15393859aa2bd3d/torch/csrc/jit/ir/constants.cpp#L62 to insert it a

[2022-09-09 02:26] wzywzywzy opened #1340 "❓ [Question] No improvement when I use sparse-weights?"
## ❓ Question

 **No speed improvement when I use sparse-weights.**
I just modified this notebook https://github.com/pytorch/TensorRT/blob/master/notebooks/Hugging-Face-BERT.ipynb
And add the sparse_weights=True in the compile part. I also changed the regional bert-base model when I apply 2:4 sparse on most parts of the FC layers.
![image](https://user-images.githubusercontent.com/32805624/1892584

[2022-09-09 05:56] noman-anjum-retro commented on #1253
Thanks for the help, I tried it and .dll got loaded along with torch, however torch.jit.load(<path to trt module>) throwed the same error as in start:

`RuntimeError:
Unknown type name 'torch.torch.classes.tensorrt.Engine':
File "code/torch/movinets/models.py", line 4
parameters = []
buffers = []
_torch___movinets_models_MoViNet_trt_engine : torch.torch.classes.tensorrt.Engine
< -- HERE
 def forwa

[2022-09-10 00:02] #862 closed

[2022-09-10 00:02] #830 closed

[2022-09-12 06:57] bowang007 opened #1346 "✨[Feature] Support auto data type transformation between int64 <-> int32"
**Is your feature request related to a problem? Please describe.**
In this graph:

[code]

`%index` is converted to int32, but in block 1, `scatter` function needs data type int64 but got int32.
This is because TensorRT doesn't support int64, so Torch-TensorRT will cast all int64=>int32 to run them in TensorRT. However, when partitioning is enabled, some functions in Torch they still need type int

[2022-09-12 15:35] ncomly-nvidia commented on #1346
@inocsin  for viz.

[2022-09-12 16:14] dathudeptrai commented on #1214
@narendasan can you share me the torch-tensorrt-1.2.0a0 whl file ?, the link above didn't work anymore

[2022-09-12 19:52] ncomly-nvidia commented on #1327
CC: @narendasan @andi4191

Do we have test cases in DLFW for FX?

[2022-09-12 23:29] bowang007 commented on #922
Hey @Belval, I have your model supported using this branch:
https://github.com/pytorch/TensorRT/tree/amazon_model_support

Could you try it as well?
Btw, I'm getting Nan tensor output when I run your model using some random generated input through Torchscript or Torch-TensorRT converted model. Not sure if this is expected.

[2022-09-13 01:38] Belval commented on #922
Did you change anything else? Reusing the docker file I sent (but with `amazon_model_support`) I get what seems to be the same error.

[code]

[2022-09-13 01:59] bowang007 commented on #922
No. Did you uninstall pre-installed torch_tensorrt?
[code]

[2022-09-13 02:39] Pekary opened #1351 "❓ [Question] Not enough inputs provided (runtime.RunCudaEngine)"
## ❓ Question

i make a pressure test on my model compiled by torch-tensorrt, it will report errors after 5 minutes, the traceback as blow:
[code]
then i get an error about cuda memory illegal access:
[code]

## What you have already tried

I have tried upgrade the pytorch version from 1.10.0 to 1.10.2, also tried upgrade torch to 1.11.0 python 3.7, but it didn't works.

## Environment

 - PyTorch

[2022-09-13 02:47] inocsin commented on #1346
We should also record which value has been truncated in converson process

[2022-09-13 04:51] narendasan opened #1353 "✨[Feature] Add nvidia-tensorrt and torchvision as an required and optional dependecies to setup.py"
**Is your feature request related to a problem? Please describe.**

Would be nice if installing torch-tensorrt just pulled nvidia-tensorrt with it. As well as torchvision when necessary

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-13 04:53] narendasan opened #1354 "✨[Feature] Relax dependency on nvidia-tensorrt"
**Is your feature request related to a problem? Please describe.**

nvidia-tensorrt is a soft dependency for TS and a hard one for FX. If possible it would be nice to enable or disable relevant frontends on the fly depending on if this dep is installed.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-13 07:03] ivan94fi commented on #927
Any news on this issue? We still cannot use our models with int8 precision because of this bug.

[2022-09-13 09:34] mjack3 opened #1355 "❓ [Question] How can I add torchvision.transforms.functional.gaussian_blur to the conversion?"
## ❓ Question

How could I make torchvision.transforms.functional.gaussian_blur operation compatible with torch_tensorrt ?

## What you have already tried

Hello. The last step of my forward method is to apply gaussian_blur. Unfortunately this is not compatible with this framework and I must to put it out of the forward method. If I do, the model is correctly parsed to TensorRT engine. If not, I g

[2022-09-13 11:18] lixiaolx opened #1356 "🐛 [Bug] Conversion error when using torch-TRT to run the bert model after qat quantization"
##  Bug Description
When using the latest code to test the bert model after qat quantization, the following error occurs and the model cannot be run.
![image](https://user-images.githubusercontent.com/17673134/189883821-ef584b8f-f934-4d8d-93a4-6a23cf9faced.png)

Error corresponds to the code location ( https://github.com/pytorch/TensorRT/blob/master/core/partitioning/shape_analysis.cpp#L93 )

Thro

[2022-09-13 18:38] andi4191 commented on #1327
I think the root cause for this failure is here:
https://github.com/pytorch/TensorRT/blob/release/ngc/22.08/py/torch_tensorrt/_compile.py#L8-L10

@jaybdub: Please uncomment these lines and re-install. You should be able to run it correctly.

I see that this has been resolved in master branch already.

@ncomly-nvidia : We don't have fx frontend test cases in DLFW CI yet.
@apbose : Please add fx exa

[2022-09-14 01:54] wzywzywzy commented on #1340
@ncomly-nvidia Sincerely thank you for your reply!
I just chose the largest 2 entries among every 4 .
Here are some parts of my model parameters on the Bert's FC layers.
![image](https://user-images.githubusercontent.com/32805624/190039913-16046cec-29ce-4619-915d-25e1a86f8bc7.png)

By the way, I refer to Nvidia's previous work , discover that you test the acceleration reach 1.5x ,so I wondering ho

[2022-09-14 18:40] bowang007 commented on #1282
Hey @Mark-M2L, sorry I forgot to reply earlier.
Could you please try this 2 PRs #1263 , #1345 ?
I tested locally and your model is supported using these 2 PRs. The results is also good.
Please update and close this issue if you succeed. Thanks.

[2022-09-14 20:27] bowang007 commented on #922
@Belval I set up a clean container and tested again, here is the detailed steps:

[code]

[2022-09-14 20:38] ncomly-nvidia commented on #1340
One option for you to investigate the kernel selection further is to extract the TRT engines from Torch-TRT via the `torch_tensorrt.ts.convert_method_to_trt_engine` API then tools like [TREx](https://developer.nvidia.com/blog/exploring-tensorrt-engines-with-trex/) to inspect it and compare with sparsity on & off.

[2022-09-14 21:28] bowang007 opened #1357 "✨[Feature] Introduce a detection mechanism for prim::If to fallback to avoid runtime error when sub-block is data-dependent"
**Is your feature request related to a problem? Please describe.**
We have this graph:

[code]
In shape analysis phase, we will run all the blocks in prim::If node. However, In this case, %prev_features is a Tensor with specified size, so it will fail because torch_tensorrt is trying to run aten::upsample_nearest1d function with %prev_features's size as 2, this triggers torch dimension check failu

[2022-09-16 00:03] #979 closed

[2022-09-16 02:03] narendasan commented on #1355
Hmm, I'll have to look into the implementation, but theres probably some conv that takes in to tensors which are both produced during the course of computation. It would help if you could turn on debug logging and share what the graph looks like and the output of the conv converter when it runs on the ops for Gaussian blur. Also, you could instruct torch_tensorrt to run all instances of the gaussi

[2022-09-16 02:16] wzywzywzy commented on #1340
Now I use the ASP  https://github.com/NVIDIA/apex/blob/master/apex/contrib/sparsity/asp.py  method to prune my bert model, however when I convert my onnx to trt_engine I find that the
**[09/16/2022-02:05:36] [I] [TRT] (Sparsity) Layers eligible for sparse math:
[09/16/2022-02:05:36] [I] [TRT] (Sparsity) TRT inference plan picked sparse implementation for layers:**
are both empty.

[ASP][Info] perm

[2022-09-16 07:22] mjack3 commented on #1355
Ok, I go for it

[2022-09-16 08:34] mjack3 commented on #1355
Hello @narendasan I will organize the answers:

`It would help if you could turn on debug logging `

I will share the part where gaussian_blur appears, if not the text would be very long.

This is how ends the code of my foward method

[code]

[code]

`and the output of the conv converter when it runs on the ops for Gaussian blur`

Input before gauss = [1, 1, 224, 224]
Output after gauss = [1, 1,

[2022-09-16 10:02] wzywzywzy commented on #1340
Here are more details
my tensorrt version is 8.4.2.4
The command of trtexec `trtexec --onnx=./onnx/bert-sparse-ASP-qabase-sq128-b1.onnx --sparsity=force --workspace=4096`

[code]

by the way ,when I create vit model by timm, I can see only a Conv was successfully detected.
 `trtexec --onnx=vit_tiny_patch16_224_sparse.onnx --sparsity=force`
[code]
I think there should have more `MatMul` sparsity ac

[2022-09-16 11:36] Mark-M2L commented on #1282
Hi @bowang007 Thanks a lot! So you suggest that one of the two PRs worked for you? Then I will start testing one of them as soon as I have time. If it succeeds I will notify here and close the issue.

[2022-09-16 18:25] dathudeptrai commented on #1113
@narendasan can you take a look?

[2022-09-16 23:59] mfeliz-cruise opened #1361 "✨[Feature] Add a no-conversion flow to Torch-TensorRT"
Add a "no_conversion" option to torch-tensorrt which when enabled will replace the standard conversion and engine insertion with an embedded function call for each convertible segment. This allows inspection of the partition without running conversion and the possibility to convert each engine individually in subsequent runs. This could eventually run without requiring a GPU dependency to allow fo

[2022-09-17 00:02] #1066 closed

[2022-09-17 00:34] narendasan commented on #1361
I am not sure I entirely follow what is produced when this option is enabled. Can you provide a graph or something and some example use cases?

[2022-09-17 00:34] narendasan commented on #1361
It sounds to me almost like a dry run feature

[2022-09-17 01:24] mfeliz-cruise commented on #1361
Thanks  @narendasan I think a "dry run" is a good way of describing it. I've included the output from the ResNet50 unit test in the PR below (`aten::add` forced to fallback).

Use cases:
1. Run output to check parity with original model, validates lowering.
2. Partition without conversion. Individually convert engine functions to isolate parity issues to a specific engine.
3. Partition without con

[2022-09-17 14:22] joeyballentine opened #1362 "❓ [Question] Why do you not build & release Windows wheels?"
## ❓ Question

Just curious why you only make Linux wheels. It seems like since the last release it totally should have been possible for you guys to pre-build windows wheels. Just curious why this is

[2022-09-19 13:20] tiny-dentist opened #1363 "🐛 [Bug] Encountered bug when using Torch-TensorRT for INT8"
##  Bug Description

Hi all, I noticed a strange behavior when trying to convert my custom model to INT8. Whenever I try to convert it to INT8 using Post Training Quantization, it shows a pybind 11 error and then says terminate called after throwing an instance of 'pybind11::error_already_set'
  what():  AttributeError: 'dict' object has no attribute 'to'

This only occurs in INT8, when trying to

[2022-09-19 15:44] ncomly-nvidia commented on #1135
@peri044 can we please confirm if this is still an issue in 22.09? P1

[2022-09-19 15:48] ncomly-nvidia commented on #927
@peri044 can we please confirm the PTQ notebook is working properly, then go after this bug? P1

[2022-09-19 15:50] ncomly-nvidia commented on #1363
@peri044 for another PTQ bug. P1

[2022-09-19 15:53] ncomly-nvidia commented on #1362
Hi @joeyballentine currently windows support was added by the community and is experimental. We would need to setup further guides, testing, and infrastructure to put out a consistent & stable windows build.

We will be doing all of this in the future, but are currently prioritizing other features like the new FX front-end!

[2022-09-19 15:53] #1362 closed

[2022-09-19 16:00] ncomly-nvidia commented on #1356
Hi @lixiaolx is the model trained using the [PyTorch QAT toolkit](https://github.com/NVIDIA/TensorRT/tree/main/tools/pytorch-quantization)?

[2022-09-20 02:11] lixiaolx commented on #1356
Yes, this bert model is using pytorch QAT tools. I can run it on the version of torch-tensorrt that does not support the tuple function. After using the latest version, the segmentation model graph is triggered, and the above error occurs.，This mistake I located is in the shape analysis part ( https://github.com/pytorch/TensorRT/blob/master/core/partitioning/shape_analysis.cpp#L93 )

[2022-09-20 13:21] ivan94fi commented on #1135
Hi,

I tried the latest available image 22.08, and everything seems to work fine. At least the model is converted and no error are raised. I will investigate further as soon as I have more time, but for now the issue can be closed.

Thank you,
Ivan

[2022-09-21 14:30] lschaupp opened #1365 "🐛 [Bug] TensorRT getting stuck without any debug information on the current status of the conversion"
##  Bug Description

When trying to convert a torch model to tensorrt, the process becomes stuck without showing any kind of debugging information on what is going on. CPU shows 100%, but memory usage stays at the same level. So maybe something is going on but it is not showing.

## To Reproduce

[code]

Environment:
Python 3.9
Torch 1.12 GPU
TensorRT 1.20
RTX 3090

[2022-09-21 21:38] ncomly-nvidia commented on #1135
Thanks! Closing. Please post a new issue if something else comes up.

[2022-09-21 21:38] #1135 closed

[2022-09-22 07:56] ntakouris commented on #428
bump

[2022-09-22 08:44] aviadmx opened #1366 "🐛 [Bug] Encountered bug when using Torch-TensorRT"
##  Bug Description

EfficientNet example notebook does not compile to FP16

## To Reproduce

Steps to reproduce the behavior:

Just open the EfficientNet notebook and try to run all.
It will hang forever on:
[code]

[code]

## Expected behavior

## Environment

 - Torch-TensorRT Version (e.g. 1.0.0): 1.2.0
 - PyTorch Version (e.g. 1.0): 1.12
 - CPU Architecture:
 - OS (e.g., Linux): Linux
 - How

[2022-09-22 17:18] ncomly-nvidia commented on #428
Hi @ntakouris have you checked out the [v1.2 release](https://github.com/pytorch/TensorRT/releases/tag/v1.2.0)? It includes a first pass on collections (list & tuple I/O).

@narendasan  is this issue OK to close?

[2022-09-22 18:40] #428 closed

[2022-09-22 19:18] narendasan commented on #1366
What happens if you enable debug messaging? Running the following script works fine on my side:

[code]

[2022-09-22 21:37] #1266 closed

[2022-09-22 23:12] cpjenkins opened #1368 "🐛 [Bug] Support for modules with multiple outputs seems broken in v1.2.0"
##  Bug Description

It appears that modules with multiple outputs no longer compile when using dynamic input shapes in v1.2.0.

The following example works in **v1.1.1** but fails in **v1.2.0**
[code]
Fails with error:

In *v1.1.1*, the graph returns two output tensors - while in **v1.2.0** it creates an intermediate node to (%13) and returns a single TupleConstruct output. Unfortunately MarkOutp

[2022-09-23 00:14] mfeliz-cruise commented on #1361
RFC created here https://github.com/pytorch/TensorRT/discussions/1369

[2022-09-23 06:01] tiny-dentist commented on #1363
@peri044 Is there any update on the issue?

[2022-09-23 08:49] dscho15 opened #1371 "🐛 [Bug] Encountered bug when using Torch-TensorRT"
##  Bug Description

I can't install TensorRT using pip install on Ubuntu 20.04 in a virtual environment.

## To Reproduce

Steps to reproduce the behavior:

1. Install tensorrt, etc. https://pytorch.org/TensorRT/getting_started/installation.html#installation
2. pip3 install nvidia-pyindex
3. pip3 install nvidia-tensorrt
4. pip3 install torch-tensorrt -f https://github.com/pytorch/TensorRT/release

[2022-09-23 08:59] dahliarobotics commented on #1371
Having the same issue!
Also followed https://github.com/pytorch/TensorRT/issues/1026#issuecomment-1119561746 and tried explicitly the combination `torch==1.10.0 torch-tensorrt==1.0.0`.

For `pip install torch-tensorrt -f https://github.com/NVIDIA/Torch-TensorRT/releases` I get the same error message from above (https://github.com/pytorch/TensorRT/issues/1371#issue-1383487444).

With specified vers

[2022-09-23 10:18] amarckal commented on #1371
It seems github is not returning a response with assets expanded, and here is a workaround

[code]

[2022-09-23 11:07] dscho15 commented on #1371
Thanks, I'm closing this issue as it is resolved.

[2022-09-23 11:34] amarckal commented on #1371
@dscho15 I'm not a maintainer of this repo but I think you should leave this issue open, since it needs to be properly resolved i.e. update the installation instructions in the readme.

[2022-09-23 20:18] narendasan commented on #1368
This is a change in TorchScript, not Torch-TensorRT as in the graph you get when you trace has changed. Torch-TensorRT does not have control over this, so while graphs from 1.11 of this form will still work, these graphs will no longer get produced by TorchScript going forward. However, the two graphs are functionally equivalent as when a function in python returns multiple values it actually is r

[2022-09-23 21:45] cpjenkins commented on #1368
Sorry, I should have been more clear. I am holding the version of Torch constant here (1.12.1). The graphs above are the *lowered* graphs.

The input graph from torch does end with a TupleConstruct node:
[code]

But in TRT v1.1.1 the TupleConstruct is immediately reduced to two outputs in the lowered graph (while in v1.2.0 it is *not* reduced).

[code]

And in v1.2.0
[code]

Unfortunately neither

[2022-09-23 22:21] cpjenkins commented on #1368
@narendasan for future reference, is there an open discord / development channel? I'm interesting in contributing and don't want to dirty up the issues page unnecessarily

[2022-09-23 22:25] narendasan commented on #1368
We are on the pytorch slack (invite form here https://pytorch.org/resources/) , #jit-be-extension-trt-poc is where we used to discuss development but I can look into getting an official channel created. Also we monitor the Discuss forum for PyTorch and our own Discussions (https://github.com/pytorch/TensorRT/discussions) is where we post designs for new features and related topics.

[2022-09-23 22:40] mfeliz-cruise opened #1374 "🐛 [Bug] aten::unbind converter produces incorrect output dimensions"
##  Bug Description
torch.unbind removes the dimension it splits on. The existing converter for aten::unbind preserves the dimension in its output. You can see the difference in the shapes below from the aten::unbind unit tests.
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Remove the reshapes on the trt outputs from the aten::unbind unit test. You will see that the split dimension

[2022-09-23 22:42] narendasan commented on #1371
Yeah seems like Github has changed the link structure for the release page and links are not directly accessible anymore without going to the specific stub for a release's artifacts. We are looking into the requirements to setup and maintain a index but in the meantime documentation has been updated

[2022-09-23 22:42] #1371 closed

[2022-09-24 05:32] zhaozhiming37 opened #1378 "🐛 [Bug] RuntimeError: [Error thrown at core/partitioning/shape_analysis.cpp:92] Expected to find type float for value scale_factor.1 but get nothing."
##  Bug Description

## To Reproduce

Steps to reproduce the behavior:

[code]

bug info:
[code]

## Expected behavior

I want dynamic parameter `scale_factor` supported.

## Environment

## Additional context

[2022-09-24 21:34] aviadmx commented on #859
I'm on ubuntu and also fail to install from pip

[2022-09-26 06:41] fatemebafghi commented on #1188
I am getting the same error when I want to install torch-tensorrt in ubuntu
I have installed pytroch, nvidia-pyindex, and nvidia-tensorrt
when I use the command " pip3 install torch-tensorrt==1.1.0 -f https://github.com/pytorch/tensorrt/releases/expanded_assests/1.1.0" or "pip3 install torch-tensorrt==1.1.0 -f https://github.com/pytorch/tensorrt/releases ", I get the following error:

Looking in i

[2022-09-26 09:30] SM1991CODES opened #1379 "Why is size of tensorrt compiled INT8 model after QAT is same as size of FP16 model"
## ❓ Question

I have been trying to use INT8 inference for a trained pytorch model.

I followed this:
https://pytorch.org/TensorRT/_notebooks/vgg-qat.html
and
https://docs.nvidia.com/deeplearning/tensorrt/pytorch-quantization-toolkit/docs/tutorials/quant_resnet50.html

**My steps are outlined as:**
1) **Train pytorch model**

- Normal training loop

2) **Calibrate the model with quant_modules**

[2022-09-26 10:46] zhaozhiming37 opened #1380 "🐛 [Bug] import torch_tensorrt error in docker"
##  Bug Description

## To Reproduce

Steps to reproduce the behavior:

1. `import torch_tensorrt`

[code]

## Expected behavior

no error

## Environment

`docker build --build-arg BASE=22.08 -f docker/Dockerfile -t torch_tensorrt:latest .`

## Additional context

[2022-09-26 15:12] ncomly-nvidia commented on #552
Closing in favor of #1376

[2022-09-26 15:12] #552 closed

[2022-09-26 16:15] ncomly-nvidia commented on #859
GitHub changes broke the pip distro. please see: https://github.com/pytorch/TensorRT/issues/1371#issuecomment-1256760254

[2022-09-26 16:35] mjack3 commented on #1355
Are there any update about this?

- How could I use`torchvision.transforms.gaussian_blur`?
- How can I use `torch_executed_modules`? Documentation about it is very poor

[2022-09-26 16:56] tanayvarshney commented on #1366
The notebook, when exported to `.py`, works. Seems like another jupyter notebook specific issue. @narendasan do you have a clue about why this would happen?

@aviadmx The content of the notebook would work fine if you run it in a `.py` file. Use `jupyter nbconvert --to script EfficientNet-example.ipynb` to convert the notebook.

[2022-09-26 19:18] narendasan commented on #1005
https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/classnvinfer1_1_1_i_einsum_layer.html

[2022-09-26 19:19] narendasan commented on #1005
cc: @gs-olive

[2022-09-26 21:59] ncomly-nvidia commented on #1248
Closing based on https://github.com/pytorch/TensorRT/issues/1248#issuecomment-1210982509

[2022-09-26 21:59] #1248 closed

[2022-09-27 06:24] inocsin opened #1382 "✨[Feature] Automatic conversion for int32<->int64 in fallback"
As we know, if there are some operators that torch-tensorrt doesn't support, the model will be partitioned into tensorrt and torch subgraphs. TensorRT doesn't support int64 value and will truncate int64 to int32.

In some cases, the operators in the torch subgraph consume int64 value(like aten::index), and this value is produced from tensorrt subgraph(truncated into int32), this will cause an erro

[2022-09-27 06:25] inocsin commented on #1382
@bowang007

[2022-09-28 07:28] aviadmx commented on #741
Any updates?

[2022-09-28 09:46] SM1991CODES opened #1383 "🐛 [Bug] torch_tensorrt.compile does not work anymore with torchscript - v1.2.0"
##  Bug Description

Compiling torchscript modules to tensorrt was working fine in last release.
Now the simple script below fails with the following error message.

I have tried with tracing, scripting as well as simple pytorch module, same error.

## To Reproduce

`
def export_pth_to_trt_fp32(path_trained_pth, path_save_ts_trt):
    """
    Function exports the trained model and weighst to tenso

[2022-09-28 11:38] prazyzheng opened #1384 "🐛 [Bug] Using Dockerfile build, setMemoryPoolLimit error"
##  Bug Description

INFO: Found 1 target...
[0 / 30] [Prepa] BazelWorkspaceStatusAction stable-status.txt ... (6 actions, 0 running)
[6,682 / 6,881] Compiling core/util/trt_util.cpp; 13s processwrapper-sandbox ... (128 actions running)
[6,682 / 6,881] Compiling core/util/trt_util.cpp; 40s processwrapper-sandbox ... (128 actions running)
[6,683 / 6,881] Compiling core/util/trt_util.cpp; 61s proces

[2022-09-28 12:22] SM1991CODES commented on #922
I think doing model.eval() did the trick for me.

`
model.load_state_dict(torch.load(path_trained_pth, map_location="cuda:0"))
model.eval()
sample_input = torch.randn((2, 4, 384, 384)).cuda().float()
traced_model = torch.jit.trace(model, sample_input)

trt_ts_module = trt.compile(traced_model, inputs=[sample_input], enabled_precisions={torch.float32})
`

[2022-09-28 18:49] ncomly-nvidia commented on #1274
Verified on v1.2 again. Closing. @chaoz-dev please comment if you're still facing this issue.

[2022-09-28 23:00] andi4191 commented on #1384
Which TensorRT version are you using?
What command did you run for docker build?

[2022-09-29 18:26] narendasan commented on #1384
@prazyzheng please fill out the information on how you are building and what your system configuration is otherwise it is incredibly hard for us to help you:
[code]

[2022-09-30 16:04] jcyk opened #1386 "❓ [Question] Why my model is not accelerated by using fp16 ?"
## ❓ Question

I tried the exact same example in the [notebook](https://github.com/pytorch/TensorRT/blob/master/notebooks/Hugging-Face-BERT.ipynb).

## What you have already tried

see the code (I just copy the code in the [.ipynb](https://github.com/pytorch/TensorRT/blob/master/notebooks/Hugging-Face-BERT.ipynb). But the result is very different while I use the same A100 GPU!!!

[code]

## Enviro

[2022-10-03 18:23] narendasan commented on #1371
Github recently broke these links, please use the following:

pip3 install nvidia-pyindex
pip3 install nvidia-tensorrt
pip3 install torch-tensorrt==<VERSION> -f https://github.com/pytorch/TensorRT/releases/expanded_assets/v<VERSION>

[2022-10-03 21:53] mjack3 commented on #1355
Hello.
Could you give me a example of how to apply `torch_executed_modules`?

Thanks

[2022-10-03 21:55] mjack3 opened #1388 "❓ [Question] How can we use torch_executed_modules?"
## ❓ Question

Could you give us and example of how to use `torch_executed_modules` in `torch_tensorrt.ts.compile`

## What you have already tried

I tried many things. I would appreciate a little sample of how to use it.
Thanks

[2022-10-03 22:22] narendasan commented on #1388
You can follow the process used in the test cases for the API https://github.com/pytorch/TensorRT/blob/master/tests/py/api/test_module_fallback.py

[2022-10-04 05:34] fatemebafghi opened #1389 "🐛 [Bug] Encountered bug of same layer name when using Torch-TensorRT compile function"
##  Bug Description

Hello every one. I am trying to compile my traced model using torch-tensorrt; In my model I have some tensor.Long values so I had to turn truncate_long_and_double flag true. when compiling with this flag on, I get following error.

![Screenshot from 2022-10-03 17-34-16](https://user-images.githubusercontent.com/91779797/193740762-9a455d81-5c01-4626-b18d-443be51afdf9.png)
I hav

[2022-10-04 16:57] mjack3 commented on #1388
Thanks guys!

[2022-10-04 17:33] ncomly-nvidia commented on #1386
@jcyk can you please try with the latest 22.09 container?

[2022-10-05 00:19] #1005 closed

[2022-10-05 00:19] #938 closed

[2022-10-05 12:02] valeriosofi commented on #1334
Hello, I found the same error described in this issue on my environment. As suggested here I tried with NGC pytorch-docker22.07 and it works, but when trying with the latest version of the container (22.09) it fails again. So I think that the problem is still there.

[2022-10-05 23:40] #1074 closed

[2022-10-07 10:31] gmlwns2000 commented on #1265
I am having similer issue too.

[code]

However my torch.jit.script dump doesn't not have ` prim::SetAttr[name="center"](%c2.53, %8)`.

[code]

[2022-10-09 01:52] #1384 closed

[2022-10-10 11:57] allen-ash opened #1396 "Question about triton example in tutorial"
Why using platform: "pytorch_libtorch" while model.pt as Torch TensorRT

instead of

[2022-10-10 17:56] ncomly-nvidia commented on #1065
@frank-wei I don't have access rights to change the branch name. Seems we've solidified on a workflow already, are we OK to change the name to main?

Are you have to do so?

[2022-10-11 00:12] tanayvarshney commented on #1396
Hi @allen-ash

Even after the torch tensorrt compilation, the model is still viewed as TorchScript, using PyTorch to execute the model. Therefore, from Triton's perspective, we still need to use a PyTorch backend.

[2022-10-11 03:24] msaroufim commented on #1233
@narendasan I'm getting the same error on stock Ubuntu - any suggestions for next steps? I litterally followed these steps from your release notes

[code]

And I get this error

[code]

And my OS version

[code]

[2022-10-11 07:26] nrakltx opened #1398 "🐛 [Bug] Cannot import torch_tensorrt after following installation steps"
##  Bug Description

I want to use `torch_tensorrt` in my Python code. After following the installation steps, I still am not able to use it as it cannot find `libtorch_cuda_cu.so`.
Running `tree / | grep libtorch_cuda_cu.so` also doesn't find anything, which probably means it doesn't actually exist on my computer. Trying solutions of similar issues hasn't worked.
## To Reproduce

Steps to reprodu

[2022-10-11 15:39] bowang007 commented on #1378
@zhaozhiming37  this PR #1399  fixes your bug.

[2022-10-11 15:42] #1282 closed

[2022-10-11 20:06] narendasan commented on #1398
Did you install the cuda 11.3 or cuda 11.6 version of pytorch?

[2022-10-12 00:38] #1182 closed

[2022-10-12 04:46] gaurav274 commented on #1188
Getting the same error on ubuntu. Any suggestion?

[2022-10-12 04:49] gaurav274 commented on #1233
This fixed it for me: https://github.com/pytorch/TensorRT/issues/1371#issuecomment-1256035010

[2022-10-12 09:26] nrakltx commented on #1398
Yes that was indeed the issue thank you!

[2022-10-12 09:26] #1398 closed, assigned to nobody

[2022-10-12 09:54] #1378 closed

[2022-10-12 20:25] #1333 closed

[2022-10-12 20:26] chaoz-dev commented on #930
Confirmed fixed on 1.2

[2022-10-12 20:39] narendasan commented on #1274
Keeping this open since we are seeing some intermittent issues.

[2022-10-13 02:12] chaoz-dev commented on #1274
Tested the latest release 1.2.0 using NGC `nvcr.io/nvidia/pytorch:22.09-py3`. Running the above script, I'm still seeing the same errors:
[code]

@ruoqianguo for viz.
Your output above looks correct though, so it looks like this should work... checking the 1.2 release, looks like it should contain `d1768aa3d2c7d7d91d9f061e3e5dc5f976124dfe`, so we should be ahead of the working commit here...

[2022-10-13 03:59] msaroufim commented on #1383
Getting the same error, I believe this should be a top priority

[2022-10-13 04:10] vishwanath-gowda opened #1401 "🐛 [Bug] Compiling BERT model from transformers fails"
##  Bug Description
While compiling a Pytorch model following [this tutorial](https://pytorch.org/TensorRT/getting_started/getting_started_with_python_api.html). Compilation fails with below error

[code]

## To Reproduce
Here is the code used to compile
[code]
Steps to reproduce the behavior:

1. Copy above code to /home/compile.py
2. sudo docker run --gpus all -v /home:/home -it --rm nvcr.io/nvi

[2022-10-13 08:07] Mansterteddy commented on #1401
Looks like you need to move model to cuda device: model.eval().cuda().

[2022-10-13 08:58] SM1991CODES commented on #1383
Dear Pytorch/ Nvidia community,

While my comments may be ill-informed, but as a regular user of Nvidia/ Pytorch frameworks, I have a small advice/ request.

Presently, to get Pytorch models running on Nvidia hardware suing Tensorrt, I see several ways, each with it's shortcomings. I have tried to outline them based on the observations in my use case (3D object detection):

1) Torch-Tensorrt:
Good

[2022-10-13 17:28] vishwanath-gowda commented on #1401
Have tried this already but no help.
[code]

[code]

[2022-10-13 17:29] vishwanath-gowda commented on #1401
I have also tried
[code]

Same error

[2022-10-13 17:50] msaroufim opened #1402 "✨[Feature] PyPi binaries"
**Is your feature request related to a problem? Please describe.**
Having to use a custom index is less than ideal if I'd like to for example have this library be part of extra dependencies in my `setup.py`

**Describe the solution you'd like**
 `pip install torch-tensorrt`

[2022-10-13 18:05] narendasan commented on #1402
We already have the name reserved on pypi but we cannot currently upload builds since some of our dependencies are not compliant with the manylinux spec. This may change in the future and when it does we will push packages there.

[2022-10-13 22:18] agunapal opened #1405 "🐛 [Bug] Error when running fx_trt_example.py"
##  Bug Description

Error when running [fx_trt_example.py
](https://github.com/pytorch/TensorRT/blob/master/examples/fx/fx2trt_example.py)

## To Reproduce

Steps to reproduce the behavior:

1. Start a docker container with the following command
`docker run --gpus all -it --rm -v local_dir:container_dir nvcr.io/nvidia/pytorch:22.09-py3`
2. Run the script `python fx2trt_example.py`

Getting the fo

[2022-10-14 20:47] jsd784 opened #1406 "Error Received when Resnet50-example.ipynb notebook"
When using notebook

https://github.com/pytorch/TensorRT/blob/master/notebooks/Resnet50-example.ipynb

**Using FP32**

[code]

**Error Msg:**

File ~/anaconda3/envs/torch/lib/python3.9/site-packages/torch_tensorrt/ts/_compiler.py:136, in compile(module, inputs, input_signature, device, disable_tf32, sparse_weights, enabled_precisions, refit, debug, capability, num_avg_timing_iters, workspace_size,

[2022-10-14 21:27] narendasan commented on #1401
For JIT trace are your example tensors on the GPU as well?

[2022-10-14 23:36] msaroufim commented on #1402
@ncomly-nvidia do you think this is happening this year? I was hoping to create a seamless installation experience for my users in torchserve https://github.com/pytorch/serve/pull/1857

[2022-10-15 00:03] #1127 closed

[2022-10-17 09:32] bowang007 opened #1408 "🐛 [Bug] Compilation process stuck at EliminateExceptions pass"
##  Bug Description

For some models which throw exceptions, the compilation process stuck at torch::jit::EliminateExceptions(). After inspection, it turns out that torch::jit::EliminateExceptions() might contradict with torch::jit::EliminateCommonSubexpression pass.

This can be fixed if we change the passing orders.

## To Reproduce
This error can be reproduced using the model mentioned here: ht

[2022-10-17 11:51] ZZM37 commented on #1380
Is there any update for the issue?

[2022-10-17 21:22] gs-olive opened #1410 "🐛 [Bug] Encountered bug when converting `deepset/roberta-base-squad2` Hugging Face Network"
##  Bug Description

When converting the deepset/roberta-base-squad2 Hugging Face network (https://huggingface.co/deepset/roberta-base-squad2) from TorchScript to Torch-TRT, the following error is encountered:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run `torch_tensorrt.compile` with `deepset/roberta-base-squad2` model as input, using `fp32` precision.
2. Choose fixed input s

[2022-10-18 06:16] Augis363 commented on #1265
Getting the same error if I try to convert simple Mask RCNN, although torch.jit.script() works fine.

[2022-10-18 18:07] #1410 closed

[2022-10-18 18:13] #1408 closed

[2022-10-18 21:53] msaroufim commented on #1402
Thank you @ncomly-nvidia !

[2022-10-19 17:27] ncomly-nvidia commented on #1402
@msaroufim sure thing. We have been gated by TensorRT's availability on PyPI. It will be available early Nov. so torch-trt should be able to get this up shortly there after. By the end of the year seems reasonable.

Looking forward to your working in torch serve!

[2022-10-20 17:52] ntakouris commented on #922
I get the same error trying to convert torchvision fcos with resnet50.

Relevant issue: https://github.com/pytorch/vision/issues/6200

[2022-10-20 23:05] ychfan commented on #1402
Is TensorRT available [here](https://pypi.org/project/nvidia-tensorrt/)?

[2022-10-21 16:18] ncomly-nvidia commented on #1402
Hi @ychfan yes it is, however, the package is undergoing changes internally which will be finalized in the next TRT release in Nov. Torch-TRT will pickup this package after the changes.

[2022-10-22 04:12] yinghai commented on #1405
@wushirong could you take a look?

[2022-10-22 22:19] frank-wei commented on #1405
@agunapal  contacted me internally. We have solved the issue by using fx only installation. The reason ngc pytorch 22.09 does not work is that it contains torch-tensorRT 1.1.0 which does not contain fx path yet.
I think we can close this issue.

[2022-10-22 22:19] #1405 closed

[2022-10-24 11:34] galAcarteav commented on #1207
Hey, facing in same issue..
can you please share your solution please?

[2022-10-24 12:24] galAcarteav commented on #1207
@gxxyongzhe

[2022-10-24 13:48] chava100 commented on #1010
I've got the same issue can any one please elaborate what exactly is the limitation and how to avoid it?
thanks!

[2022-10-24 15:30] ncomly-nvidia commented on #1123
cc: @gs-olive

[2022-10-25 15:02] Mansterteddy opened #1418 "🐛 [Bug] Encountered cuda 710 error when apply Torch-TensorRT to BERT"
##  Bug Description

I wanted to use Torch-TensorRT to boost BERT model inference, but met following errors:

../aten/src/ATen/native/cuda/Indexing.cu:975: indexSelectLargeIndex: block: [239,0,0], thread: [32,0,0] Assertion `srcIndex < srcSelectDimSize` failed.
../aten/src/ATen/native/cuda/Indexing.cu:975: indexSelectLargeIndex: block: [239,0,0], thread: [33,0,0] Assertion `srcIndex < srcSelectDim

[2022-10-25 16:39] ncomly-nvidia commented on #946
Closing in favor of #1009. The target is still v1.4. @chaoz-dev please add any more comments or feedback to the discussion.

[2022-10-25 16:39] #946 closed

[2022-10-26 06:45] gs-olive commented on #1418
I can confirm the issue is still occurring on the latest commit (ce29cc), built with PyTorch 1.13, and I am investigating the cause. I have tried the model code from the tutorial here (https://huggingface.co/bert-base-chinese), which seems to use a different `transformers` module (`AutoModelForMaskedLM`), and that model is currently succeeding (compilation + inference) with my configuration.

[2022-10-26 18:25] patrickwilliams3 commented on #1406
I'm seeing the same issue with the same environment.

Could it be related to this pybind issue here?
https://github.com/pytorch/pytorch/issues/68747

[2022-10-27 02:22] Mansterteddy commented on #1418
Yes, same for me.

[2022-10-27 13:01] jaehyun-ko commented on #733
I think you have torch_tensort.py file in your working directory.

[2022-10-28 22:36] gs-olive commented on #1401
I have reproduced the error with the described environment, and was able to resolve the issue in my environment with these changes:

- Put the `model` on GPU
  - Add `device = "cuda"`
  - Add `model = model.to(device)`
- Initialize `inp` as a `torch.int32` type (instead of `torch.int64`) and put `inp` on GPU
  - `inp = torch.rand(1, 256).long()` $\Longrightarrow$ `inp = torch.rand(1, 256).int().to

[2022-10-29 00:02] #1134 closed

[2022-10-31 16:48] narendasan opened #1428 "Implement the converter capabilities/versioning class, extend the converter registry to manage them"
Implementing the capabilities setting struct and extending the NodeConverterRegistry to use these settings as part of the search for coverters

[2022-10-31 17:15] ncomly-nvidia commented on #1115
@dheerajperi FYI on dynamic shape + resize.

[2022-10-31 19:12] narendasan commented on #1401
1. User should be responsible for putting model on GPU and in Eval mode, we can work on improving detection here to help the user catch this issue but not a bug.
2. Currently TRT does not support int64 inputs, FR in #1387 to make a compatibility mode
3. The `truncate_long_and_double` feature will tell you if you need this

[2022-10-31 19:38] narendasan opened #1429 "✨[Feature] Improve detection and error messages for models not on GPU and not in Eval mode."
**Is your feature request related to a problem? Please describe.**

Sometimes a user forgets to put the model on GPU or to place the model in eval mode. Right now it does not seem like we provide good feedback to the user about catching this issue. (#1401)

**Describe the solution you'd like**

A explicit check of device and mode and a clear error message if it not correct

**Describe alternatives

[2022-11-01 01:21] narendasan opened #1431 "TensorRT 8.5 Upgrade"
Upgrading TensorRT version to 8.5

[2022-11-01 01:23] narendasan opened #1432 "CUDA 11.7 + Pytorch 1.13 + TRT 8.5 Upgrade"
Upgrade to CUDA 11.7 including PyTorch 11.7 CUDA build as well as updating CI Pipelines

[2022-11-01 01:24] narendasan opened #1433 "Runtime Unification between TS and FX"

[2022-11-01 07:47] yunseung-dable commented on #1398
@nrakltx have you solved the problem? i'm having a same issue now 😭

[2022-11-01 17:43] Christina-Young-NVIDIA opened #1434 "↔ [Converter] Dummy PR for CLA - Torch-TensorRT"
##
Dummy PR request for CLA...

- **Function Schema**:  N/A

- **Original PyTorch API**:  N/A

- **Relevant TensorRT Documentation**:  N/A

## Alternatives

## Additional context

[2022-11-02 04:10] joshuafc commented on #698
Any news?

[2022-11-02 05:21] noman-anjum-retro commented on #1253
@narendasan  @andi4191 any update on this?

[2022-11-02 11:28] IncrediBlame opened #1436 "🐛 [Bug] Routine pip install of torch-tensorrt leads to ImportError on Ubuntu"
##  Bug Description

Hi, I tried to install **torch-tensorrt** through **pip** in a newly created environment in Ubuntu 22.04 LTS. Environment is created with **venv**, Python version 3.10.6.

I noticed that after the packages are installed **torch-tensorrt** throws errors like
`ImportError: libtorch_cuda_cu.so: cannot open shared object file: No such file or directory`,
where the missing library

[2022-11-02 15:41] LukeRoss00 commented on #1253
Hi all,
I'm also trying to make Torch-TensorRT work with Python on Windows. I was able to compile TensorRT from source using CMake and to reproduce the following as posted by @andi4191 (I had to copy over the .dll dependencies as suggested by @noman-anjum-retro):

[code]

However I'm not sure what I'm supposed to do with the handle returned by WinDLL. My next objective is to call any function from

[2022-11-02 18:11] narendasan commented on #1436
Not sure if pip is able to support both version ranges and also handle PyTorch's specific convention for specific cuda versions. We want the range to let users install patch releases that come out after Torch-TensorRT is released without pip reporting version conflicts. We could probably amend the instructions to have an explicit step to install torch beforehand.

[2022-11-02 18:11] #1434 closed

[2022-11-02 18:26] mfeliz-cruise opened #1437 "❓ [Question] Are the interpolate plugins with align_corners=True still necessary?"
## ❓ Question

## What you have already tried
https://github.com/pytorch/TensorRT/blob/master/core/conversion/converters/impl/interpolate.cpp#L566
This note is in the aten::upsample_bilinear2d converter:
`Align corners and scale factor behave slightly different together in TRT and PyTorch so run the layer in ATen to maintain consistency between Torch-TensorRT and PyTorch https://pytorch.org/docs/s

[2022-11-02 18:29] narendasan commented on #1437
Haven't look at this recently so not sure if its still necessary but re

In ~TRT7 there was an issue with the implementation where PyTorch used one formula for the align corners case to calculate dimensions and TRT used the TF (iirc) formula causing this setting to produce different results in each. I think this was fixed in TRT 8 which is why we have the two cases.

[2022-11-02 18:32] mfeliz-cruise commented on #1437
Thanks @narendasan, this case specifically is running in TRT 8. Was this intended?
https://github.com/pytorch/TensorRT/blob/b1db33a06fe6e49004405431678946e9e8248ba8/core/conversion/converters/impl/interpolate.cpp#L566

[2022-11-02 18:34] narendasan commented on #1253
`torch.torch.classes.tensorrt.Engine` stands out as kinda weird, id expect this to just be `torch.classes.tensorrt.Engine`. Is it possible to upload the compiled ts module so we can take a look?

[2022-11-02 18:42] narendasan commented on #1253
So the steps laid out above are for runtime execution of compiled modules in python, not compiling modules in python. It assumes you compiled the module using the C++ API or `torchtrtc` since we haven't had time to get the bindings working for Python on Windows.

I think the best way to do this is not really some post compilation monkey patching but overhauling the setup.py to use cmake in additio

[2022-11-02 18:43] narendasan commented on #621
See #1361

[2022-11-02 20:11] peri044 commented on #698
@joshuafc  We had our focus on transformers and dynamic shape models in the recent times. We couldn't get to finish an example based on detectron
@bowang007  Can you share the status of retinanet or mask-rcnn if you have worked on either of those ?

[2022-11-02 21:40] LukeRoss00 commented on #1253
Thank you for the hint about using `torchtrtc` to compile the model offline, which got me a step further. Now I seem to be stuck at the same point as @noman-anjum-retro :

[code]

The compiled module is [attached](https://github.com/pytorch/TensorRT/files/9924242/efficientnet_b0_traced_trt.zip): I'm trying to repro [this example](https://developer.nvidia.com/blog/accelerating-inference-up-to-6x-fa

[2022-11-03 03:39] IncrediBlame commented on #1436
I'm not sure how requirements are passed to pip, but can't something like this be used?
[code]

[2022-11-03 05:32] noman-anjum-retro commented on #1253
@narendasan please find compiled module [here](https://drive.google.com/file/d/1GrgS-ct1hCGI7DIzAnVnZmr1wJI8ge7K/view?usp=sharing). This was compiled with tensorrt 8.4.3

[2022-11-03 14:21] LukeRoss00 commented on #1253
Opening the compiled modules (they're just zip archives) I can see that the "___torch_mangle_[0-9]+" information is being swallowed up by the `torchtrtc` compiler when running under Windows. Could this be what makes the compiled file unparseable by the loader?

[2022-11-03 16:52] chava100 commented on #1222
I encountered the same issue ,
I would appreciate it if anyone has information about this error.

[2022-11-03 17:08] peri044 commented on #1432
I've added Pytorch 1.13 + TRT 8.5 + CUDA-11.7 to the same PR https://github.com/pytorch/TensorRT/pull/1417 since everything needs to work together.

[2022-11-03 17:10] peri044 commented on #1432
Current status as of Thu (Nov 3rd).
- All tests pass except 1 FX test test_fuse_permute_linear_trt.py::TestFusePermuteLinear::test_multi_fuse_permute_linear
- Circle CI has been refactored to use latest libraries and fixed CUDA, CUDNN versions in the VM
- TRT 8.5 has a lot of new APIS which breaks Jetson build (since Jetson is on an older TRT version).

[2022-11-03 21:24] narendasan commented on #1437
@peri044 do you know what the current status of interpolate functions are in TRT?

[2022-11-04 20:46] peri044 commented on #1437
The plugins might not be necessary now I think.
@mfeliz-cruise There has been a lot of refactor and updates related to parameters around resize layers since TRT 7 and in TRT 8.
I've disabled the plugins in upsample_bilinear2d and ran the test cases so that they use `resize_layer_size` call. They pass successfully. So, we should get away with these plugin cases and refactor interpolate.cpp

[2022-11-04 22:44] gs-olive opened #1441 "🐛 [Bug] Bug encountered when compiling `Jasper10x5dr` network"
##  Bug Description

When compiling the [Jasper10x5dr](https://catalog.ngc.nvidia.com/orgs/nvidia/teams/nemo/models/stt_en_jasper10x5dr) speech recognition model with Torch-TRT, the following error is displayed:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run torch_tensorrt.compile with `Jasper10x5dr` model as input, using fp32 precision.
2. Choose fixed input sizes of [1, 64, 2

[2022-11-07 19:16] ncomly-nvidia commented on #1357
@bowang007 this feels more like a bug than a feature to me. Do you agree? CC: @narendasan

[2022-11-07 19:24] ncomly-nvidia commented on #1190
@bowang007 this seems like a bug as well. partitioning should never change the I/O of the graph. CC: @narendasan

[2022-11-07 19:34] ncomly-nvidia commented on #832
Closing as dup of #621

[2022-11-07 19:34] #832 closed

[2022-11-08 00:33] frank-wei opened #1444 "🐛 [Bug] Non-zero bias term for torch.nn.Linear causes engine building to fail using FX frontend (release/1.3)"
##  Bug Description

One fx test is failing on the release/1.3 branch

## To Reproduce

Steps to reproduce the behavior:

1. pytest test_fuse_permute_linear_trt.py

## Expected behavior
Here is the debug process:
1. I simplified the test to the version below
2. The test will fail if self.linear2.bias.data.fill_() with non-zero. If we filled it with zero, then test is good.
3. I further checked tha

[2022-11-08 00:44] frank-wei commented on #1444
I reproduced this test on https://app.circleci.com/pipelines/github/pytorch/TensorRT/1304/workflows/ef298775-40a3-4f78-8da8-3318789a8908/jobs/6365

[2022-11-08 01:35] narendasan commented on #1444
@peri044 can you take a look here?

[2022-11-08 05:41] frank-wei opened #1445 "🐛 [Bug] Encountered bug of `test_conv3d_5_groups` when using Torch-TensorRT on release/1.3"
##  Bug Description

The `test_conv3d_5_groups` failed. It is working well in previous TRT versions.

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

[code]

## Environment

 - Torch-TensorRT Version (e.g. 1.0.0): 8.5.1.7
 - PyTorch Version (e.g. 1.0): 1.13.0
 - CPU Architecture:
 - OS (e.g., Linux):
 - How you installed PyTorch (`conda`, `pip`, `libtorch`, source):

[2022-11-08 05:44] frank-wei commented on #1445
Hi, @narendasan  and @dheerajperi , the test failure is also due to the TRT 8.5. We have observed the same failure internally. Could you help to check with TRT team?

[2022-11-08 08:33] Njuapp opened #1446 "🐛 [Bug] 0-D Tensor input for TensorRT subgraph is usually on cpu, not cuda"
##  Bug Description

When encountered `aten::Int` operations, the graph is usually partitioned, and the TensorRT subgraph may accept a 0-D Tensor as its input. This 0-D Tensor input is usually put on CPU, not cuda, as it is done so on Torchscript/Torch.

## To Reproduce

  File "reproduce.py", line 39, in <module>
    trt_output = trt_model(img_input)
  File "/opt/conda/lib/python3.7/site-packages

[2022-11-08 08:40] Njuapp opened #1447 "🐛 [Bug] Some elementwise like `floor_divide.Scalar` using float as default scalar type"
##  Bug Description

Elementwise operations like `floor_divide.Scalar` uses float as default scalar type, this may cause error in such a case:
The graph is partitioned into torch/tensorrt-interleaved subgraphs, and  `floor_divide.Scalar` accepts one INT-type tensor and one INT-type scalar as input, and the output is fed into the subsequent subgraph as its INT-type input.
However, currently the `fl

[2022-11-08 11:10] qingwan7 commented on #1271
Excuse me, how do you export **swin_tiny.ts** ？

[2022-11-08 19:31] narendasan commented on #1445
@bowang007 can you look at this issue along side the other fx issue?

[2022-11-08 19:33] narendasan commented on #1447
@Njuapp can you share a repro?

[2022-11-09 02:44] #1418 closed

[2022-11-09 07:59] bowang007 commented on #1445
@narendasan  sure let me take a look.

[2022-11-10 00:02] #1006 closed

[2022-11-10 08:14] vogoriachko commented on #262
Is any updates ?

[2022-11-11 22:02] dfung opened #1449 "❓ [Question] How do you compile for multiple GPU architectures?"
## ❓ Question

How do you compile for multiple GPU architectures?  Or do you need to compile one torchscript per architecture?

[2022-11-13 07:09] #1190 closed

[2022-11-14 19:34] #1382 closed

[2022-11-14 19:36] #1446 closed

[2022-11-14 20:12] narendasan commented on #1449
Right now it is one TorchScript per GPU architecture.

[2022-11-15 15:27] noman-anjum-retro commented on #1253
any success with it @LukeRoss00 ?

[2022-11-15 19:19] ncomly-nvidia commented on #365
bump @apbose to Naren's question

[2022-11-15 19:37] collinmccarthy opened #1452 "🐛 [Bug] FX front-end layer norm, missing plugin"
## Bug Description

I'm using a ConvNeXt model from the timm library which uses `torch.nn.functional.layer_norm`. I'm getting this warning during conversion:

[code]

which is triggered from [this line](https://github.com/pytorch/TensorRT/blob/e3b992941b3ae5f1863de271fc9032829834ec6a/py/torch_tensorrt/fx/converters/acc_ops_converters.py#L717) because it fails to find the `LayerNormDynamic` plugin.

[2022-11-15 23:34] gs-olive commented on #1444
I was able to reproduce the issue and investigate the cause further, and it seems that changing the shape of the bias term affects the result. Specifically, replacing the following line in the test case makes it work on my machine, interestingly:
[code]
The default shape of the bias in this case is `(2,)`, so it seems the shape of the bias term in the second linear argument (`linear2`) is playing

[2022-11-16 01:07] peri044 commented on #1444
Thanks @frank-wei  George and I verified this and this seems to be a regression. We have escalated it internally.

[2022-11-16 05:12] frank-wei commented on #1444
thanks for your investigation @peri044  and @gs-olive . It is interesting for George's experiment. I can repro it. Since its initial size is (1,1) compared with default (1,2) and this create different final output which seems very weird.

[2022-11-16 15:09] peri044 commented on #1445
Hello @frank-wei I've reproduced the bug internally via ONNX as well. We have escalated internally to investigate this issue.

[2022-11-16 20:22] LukeRoss00 commented on #1253
No, honestly I've given up trying to run this on Windows.

[2022-11-17 02:09] stupiding opened #1453 "🐛 [Bug] Encountered bug when using Torch-TensorRT"
##  Bug Description

I'm running a smallest test code.  When I use torch_tensorrt to compile the model, it throw s shape mismatch error in TorchScript, but the torch.jit.trace itself didn't show the same error.
Can you please help me with this problem?

## To Reproduce

Steps to reproduce the behavior:

1. python trt_sample.py

code sample:

`

        import time
        import random

        im

[2022-11-17 02:22] gs-olive opened #1455 "🐛 [Bug] Compilation Error on GPT-2"
##  Bug Description

When converting the GPT-2 network (https://huggingface.co/gpt2) from TorchScript to Torch-TRT, the following error is encountered:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run torch_tensorrt.compile with GPT-2 model as input, using fp32 precision.
2. Choose fixed input size of [1, 128] and enable truncate_long_and_double with 12 GB workspace.
3. Pass in m

[2022-11-17 15:10] peri044 commented on #1452
I don't see a plugin named `LayerNormDynamic` in TRT plugin registry which is why we see this error.
 Here are the plugins in TRT : https://github.com/NVIDIA/TensorRT/tree/main/plugin#contents
On the other hand, with respect to torchscript backend, we implement layernorm using native TRT layers rather than plugin.
@frank-wei  Do you know of a testcase which uses this converter https://github.com/p

[2022-11-17 16:05] gs-olive commented on #1453
The origin of the issue seems to be the `rand` argument in the `forward` function. During partitioning, Torch-TRT currently generates random inputs to the the `forward` function, and so when the line `idcs = torch.where(rand > 0.2)[0]` is executed on internally-generated inputs, its size differs from that of the externally-generated `rand`. We are working on adding an argument to specify sample in

[2022-11-17 20:57] narendasan commented on #1445
@peri044 @frank-wei We are thinking we are going to disable this converter or try to detect this edge-case and either printing guidance or ideally fallback to PyTorch in `release/1.3` and remove this check / re-enable in a patch release. @peri044 can you implement this workaround?

[2022-11-17 20:59] narendasan commented on #1444
Internal tracker: nvbugs/3871266

[2022-11-17 21:10] narendasan commented on #1444
We should replace fully_connected here with matmul + add https://github.com/pytorch/TensorRT/blob/a1498ea7cf72afee86acef364cbf3422c11f10c6/py/torch_tensorrt/fx/converters/linear.py#L33

This may address this issue.

[2022-11-17 22:07] frank-wei commented on #1445
I am ok with the temporary disable. It is tracked in Project anyway.

[2022-11-17 22:14] frank-wei commented on #1444
I may miss the doc. Where is it documented that fully_connected is deprecated?

[2022-11-17 22:31] narendasan commented on #1444
https://docs.nvidia.com/deeplearning/tensorrt/operators/docs/FullyConnected.html

[2022-11-17 23:22] IamExperimenting commented on #1050
@narendasan why you're not giving the exact installation process? it would be really helpful if you give the installation requirements,
- Python version
- Cuda version
- support packages version
- tensorrt version
- torch_tensorrt version

Its becoming challenging for me and everyone to install torch_tensorrt and use it.

[2022-11-17 23:26] IamExperimenting commented on #1188
@narendasan why you're not giving the exact installation process? it would be really helpful if you give the installation requirements,

Python version
Cuda version
support packages version
tensorrt version
torch_tensorrt version
Its becoming challenging for me and everyone to install torch_tensorrt and use it.

[2022-11-17 23:29] IamExperimenting commented on #1050
@narendasan  I'm getting the following error, could you please provide the proper installation steps for ubuntu
![Screenshot from 2022-11-17 23-28-00](https://user-images.githubusercontent.com/74839416/202581690-1a2ea081-2781-49fb-aa26-844218412c3e.png)

[2022-11-17 23:34] IamExperimenting commented on #1050
@
![Screenshot from 2022-11-17 23-33-39](https://user-images.githubusercontent.com/74839416/202582418-88961cd8-f64c-461a-b7e5-037481e22123.png)
narendasan I'm getting another new error. Could you please provide me with the proper installation step for ubuntu 20.04

[2022-11-18 00:07] mjack3 commented on #1050
Try to import TensorRT. If you cannot that's the problem

[2022-11-18 03:56] #1441 closed

[2022-11-18 04:01] narendasan opened #1459 "✨[Feature] Global versions of embed_engine_in_module and convert_method_to_trt_engine"
**Is your feature request related to a problem? Please describe.**

With the new TRTModule incoming and relaxed dependency on TorchScript for the output format, we can now make a top level version of `embed_engine_in_module` and `convert_module_to_engine` which lets users pick the frontend from the top level.

**Describe the solution you'd like**

Implementation of `torch_tensorrt.embed_engine_in_

[2022-11-18 07:33] frank-wei commented on #1444
Thanks for giving the pointer.
For this test, we are using matmul+add as in https://github.com/pytorch/TensorRT/blob/a1498ea7cf72afee86acef364cbf3422c11f10c6/py/torch_tensorrt/fx/converters/acc_ops_converters.py#L51

[2022-11-18 08:55] stupiding commented on #1453
Sorry but another wierd problem occurs when I try to convert the model to torch script first,
[code]
the compilation says nothing wrong, but the returned tensor of inference is just all zero, something like the code
`            cout[:, idcs.long()] = out
`
was not executed

[2022-11-18 16:53] gs-olive commented on #1453
When I substitute in the above code, I am seeing a CUDA out-of-bounds error, because it seems that the `cout[:, idcs.long()] = out[:, idcs.long()]` line in the forward function tries to access out-of-bounds indices on the `out` tensor (because `idcs` includes indices larger than the size of `out`). Could you send the entire script you are using which is displaying the behavior, including tensor in

[2022-11-18 19:45] gs-olive commented on #1444
As a side note, I am not seeing the issue when the model is compiled via TorchScript, in TRT 8.5. The outputs appear to agree, potentially because the fusion causing this discrepancy may not be used here. Code attached below:

[code]

[2022-11-18 21:12] gs-olive opened #1462 "🐛 [Bug] Error encountered when compiling Waveglow model"
##  Bug Description

When compiling the [Waveglow](https://catalog.ngc.nvidia.com/orgs/nvidia/teams/adlr/models/waveglow) ([Github](https://github.com/NVIDIA/waveglow)) spectrogram-to-speech model with Torch-TRT, the following error is encountered:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run torch_tensorrt.compile with Waveglow model as input, using fp32 precision.
2. Choose

[2022-11-18 22:18] collinmccarthy opened #1463 "🐛 [Bug] Compilation for CUDA 11.6"
##  Bug Description

After following the instructions for a tarball-based installation, I got the following error:

[code]

The file exists at `/usr/local/cuda-11.6/targets/x86_64-linux/lib/libcudart.so`, which was installed via apt (`cuda-toolkit-11-6` meta package) on Ubuntu 20.04. For CUDA 11.7, the file is under the `lib64` sub-directory.

When I look at `third_party/cuda/BUILD` I see

[code]

[2022-11-19 05:30] stupiding commented on #1453
[code]

[2022-11-19 07:56] apbose opened #1465 "🐛 [Bug] resnet50 model giving error when given dynamic shape input while aten::resize is in fallback"
##  Bug Description

resnet50 torch model gives an error when given dynamic shape and having resize in fallback mode
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run torch_tensorrt.compile with resnet50 model as input, using fp32 precision and fp32 precision input
2. Put aten::resize in torch_executed_ops
3. Input shapes - shapes = {"input_ids": {"min": (1, 3, 224, 224),\

[2022-11-21 00:03] #829 closed

[2022-11-21 16:12] ncomly-nvidia commented on #823
This should be resolved in ToT - mixed dtype mul. Closing - please comment to reopen if not so.

[2022-11-21 16:12] #823 closed

[2022-11-21 20:20] narendasan commented on #1453
@bowang007 can you look at this case for the int64 <-> int32 partitioning?
@gs-olive Is looking at a lowering pass to handing in place `index_put_` -> out-place `index_put`

[2022-11-21 20:28] #1431 closed

[2022-11-21 20:50] gs-olive commented on #1453
As an update, to make this code work temporarily while a more robust fix is in development, replace this line in the forward function:
[code]
This issue seems to arise because the `cout = torch.zeros(...)` call in the `forward` function initializes a Constant tensor in the graph, so all of the inplace operations applied to the tensor are applied to copies of it, which are discarded and the initial

[2022-11-21 21:13] collinmccarthy opened #1467 "❓ [Question] Profiling examples?"
## ❓ Question

When I'm not using TensorRT, I run my model through an FX interpreter that times each call op (by inserting CUDA events before/after and measuring the elapsed time). I'd like to do something similar after converting/compiling the model to TensorRT, and I see there is some profiling built in with [tensorrt.Proflier](https://docs.nvidia.com/deeplearning/tensorrt/api/python_api/infer/C

[2022-11-21 21:29] #1462 closed

[2022-11-21 23:43] #1433 closed

[2022-11-22 01:29] Njuapp opened #1468 "🐛 [Bug] Failed to compile a FP16 QAT resnet"
##  Bug Description

After trained a Q/DQ-inserted fake-quantized resnet, we did `model.half()` and then `torch.jit.trace()` to generate [this torchscript model](https://drive.google.com/file/d/1SeYjOQXv4EvfLoF94-VgbrNWYbJD3p6z/view?usp=sharing). However, it failed to compile.

## To Reproduce

Steps to reproduce the behavior:

1. Download the FP16 QAT checkpoint [resnet50_quant.ts](https://drive.

[2022-11-22 02:53] narendasan commented on #1467
If you `enable_profiling` in a `TRTModule` it will dump tracing. With the recent update to main, this can be enabled for models using the TorchScript frontend as well.

For Torchscript, its a matter of finding all attributes that are of type `__torch__.classes.tensorrt.Engine` and for FX its a matter of finding `TRTModule` or if you are using `use_experimental_fx_runtime`, `TRTModuleNext`. Then it

[2022-11-22 07:26] chenzhengda commented on #1384
@prazyzheng  Hello, I had the same problem when building torch tensorrt, how did you solve it then? I would be very grateful for your help.

[2022-11-22 08:12] prazyzheng commented on #1384
![image](https://user-images.githubusercontent.com/41980867/203259702-9aa8bf57-ca0b-4f18-a803-c2e629ceae50.png)
Em, you can download binary file and run it. I can't solve this problem before.

[2022-11-22 08:21] chenzhengda commented on #1384
I think I've found the problem. The docker build process was trying to fetch tensorrt and cudnn, which were not downloading correctly when using the docker/Dockerfile build(It could be a network problem). The wrong version of tensorrt is being used. Building using locally installed cuDNN & TensorRT works.

<img width="1196" alt="image" src="https://user-images.githubusercontent.com/73685931/203261

[2022-11-22 10:31] peri044 commented on #1465
I'm unable to reproduce this error. Were you trying with master branch ?

[2022-11-22 15:45] collinmccarthy commented on #1463
It looks like I'm still having issues, probably because I'm using incompatible versions. When I try to import torch_tensorrt I get:

[code]

I'm trying to use my local CUDA 11.6 installation and build the python wheel from source. It builds fine with the following package versions:
[code]

In the WORKSPACE file I'm using the same tarballs (just downloaded locally): TensorRT-8.4.3.1, CuDNN 8.4.1, L

[2022-11-22 18:50] collinmccarthy commented on #1463
I'm not sure what the issue was, but I got latest this morning and choose the newest torch 1.13 nightly and it worked.
[code]

The WORKSPACE file needs to be updated since the versions in there (from 9/21/22) are no longer available. But I see you're releasing updates for CUDA 11.7 / TRT 8.5 soon so I assume everything will be "fixed" when that gets merged.

[2022-11-22 20:51] collinmccarthy opened #1473 "🐛 [Bug] Slicing from ModuleList with Negative Value"
##  Bug Description

(Related to #1087 which works for me, but this bug still remains).

I'm working with EfficientDet, and I'm having an issue during compilation with [this line](https://github.com/rwightman/efficientdet-pytorch/blob/67ab612cdfe7b0a10d8f3f8c7df35827bbaa5a58/effdet/efficientdet.py#L280):

[code]

which gives the error

[code]

The solution was to change the code above to

[code]

[2022-11-24 02:23] ZiyueWangUoB commented on #1383
Any update on this?

[2022-11-24 02:33] kisisjrlly commented on #878
Has the development of the plugin been completed? Can you pull request or share the code?Thanks！

[2022-11-24 03:26] chenzhengda opened #1478 "🐛 [Bug] No matching distribution found for torch==1.13.0.dev20220921+cu116"
##  Bug Description

ERROR: No matching distribution found for torch==1.13.0.dev20220921+cu116

<img width="1244" alt="image" src="https://user-images.githubusercontent.com/73685931/203687284-349f3084-15f1-4cea-b079-55f4c7e9105e.png">

It looks like there is no torch==1.13.0.dev20220921+cu116 in the base docker image nvcr.io/nvidia/tensorrt:22.04-py3

## To Reproduce

Steps to reproduce the behavi

[2022-11-24 08:54] SM1991CODES commented on #1383
I haven't seen any progress. For now I have stopped using Torch-Tensorrt and use Tensorrt C++ API.
Nvidia also advised to used Tensorrt APIs directly as it's most stable flow.

[2022-11-24 11:31] peri044 commented on #1478
We are in the process of landing this PR https://github.com/pytorch/TensorRT/pull/1477 which should resolve this issue.

[2022-11-24 11:44] peri044 commented on #1463
Yes, we are in the process of landing this PR https://github.com/pytorch/TensorRT/pull/1477 so this should be resolved.

[2022-11-25 01:48] ZiyueWangUoB commented on #1383
@SM1991CODES As in, you are using the torch-tensorrt package to directly convert into tensorrt, then using the C++ Api?

[2022-11-25 08:31] SM1991CODES commented on #1383
No, I do not use Torch-Tensorrt at all now.
Pytorch -> onnx -> trtexec -> trt engine -> Tensorrt c++ API -> inference
Additionally, you can use libtorch for pre and post processing stuff.

[2022-11-27 05:11] yinghai commented on #1478
Fixed in https://github.com/pytorch/TensorRT/pull/1479

[2022-11-28 08:16] SM1991CODES commented on #1319
No updates

[2022-11-28 13:08] MartinPedersenpp opened #1484 "Building on Jetson Xavier NX16GB with Jetpack4.6 (TensorRT8.0.1) python3.9, pytorch1.13"
I am trying to build the torch_tensorrt wheel on my Jetson Xavier NX16GB running Jetpack4.6 which means I run TensorRT8-0-1 with python3.9.15 and a on device compiled pytorch/torchlib 1.13.0.
I just can't seem to get it to compile succesfully.

I have tried both v1.1.0 until I realized that it was not really backwards compatible with TensorRT 8.0.1, I then downgraded to v1.1.0 and tried using the

[2022-11-28 18:31] collinmccarthy commented on #1467
Thank you @narendasan this is very helpful.

[code]

Can you point me to something that would show how to do this for the TorchScript front end? For my INT8 models I'm using PTQ like:

[code]

I would love to profile this without having to figure out the `tensorrt.Engine` attribute in a hacky way (so it works for any model).

Also, is there a way to return a dictionary with the timings rather than

[2022-11-28 18:39] collinmccarthy commented on #1467
Or is there a way to use PTQ with FX via the new unified front end, so I could stick to FX for everything (including profiling)?

[2022-11-28 19:27] gs-olive opened #1487 "Compilation Error on Citrinet-1024"
## Bug Description
When converting the [Citrinet-1024](https://catalog.ngc.nvidia.com/orgs/nvidia/teams/nemo/models/stt_en_citrinet_1024) speech recognition network from TorchScript to Torch-TRT, the following error is encountered:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run torch_tensorrt.compile with Citrinet-1024 model as input, using fp32 precision.
2. Choose fixed input

[2022-11-28 21:19] ncomly-nvidia commented on #1319
@SM1991CODES as Naren suggested. What is your PyT version? This error is likely because it is before FX was included.

[2022-11-28 21:22] #1478 closed

[2022-11-29 01:19] dvando commented on #1463
Hi, where did you get torch-tensorrt v1.3? I couldn't find one. Thank you in advance.

[2022-11-29 01:24] collinmccarthy commented on #1463
Hi @dvando, that version is from [this commit](https://github.com/pytorch/TensorRT/commit/0471f2d2aae00638149b2b53447af3ed95327e58). Just FYI if you get latest today the WORKSPACE file has been updated to use torch 1.14dev0, so you may just want to switch to that.

[2022-11-29 01:39] Njuapp commented on #1468
Fixed when turning to trt 8.5.1

[2022-11-29 01:39] #1468 closed

[2022-11-29 07:33] MartinPedersenpp commented on #1484
So Ive tried compiling Libtorch 1.10 from source, but now I am missing the caffe2 package: libcaffe2_module_test_dynamic.so which apparently is not built with libtorch1.10 even though I enabled Caffe2_ops

[2022-11-29 19:24] ncomly-nvidia opened #1490 "↔ [Converter] aten::INT failing cases"
##
aten::Int

## Additional context

Creating a new issue for outstanding aten::Int failure from [#766 ](https://github.com/pytorch/TensorRT/issues/766#issuecomment-1185286532) @ruoqianguo

[2022-11-29 19:38] narendasan commented on #1467
Right now there isn't a way to tell the runtime to enable profiling at compile time since they are mostly completely separate. For the first version of this unfortunately the "hacky" way, looking for attributes is what we have. Could totally see us adding a context manager where you could do something like

[code]

where the manager would go through the module for you and enable profiling.

Right

[2022-11-29 19:45] narendasan commented on #1467
TRTModuleNext will be the class of module returned to you if you use the `use_experimental_fx_runtime` feature which uses the unified runtime under the hood.

Don't think FX exposes a place for your calibrator right now but it is something that is easy to hack in (just havent had time to do it properly yet / not sure how it would work for split graphs). But the DataLoaderCalibrator shipped in torc

[2022-11-29 20:20] collinmccarthy commented on #1467
That would be awesome. For now I can make the "hacky" way work.

Sounds good.

Got it, I'll try this out and see how my results differ for FX / Experimental FX / TS and open a separate question for this if I'm confused or the results differ significantly. As of right now I think #1452 will cause FX and maybe the experimental FX to give worse results.

Okay, I dug into the code a bit more and I get

[2022-11-30 17:25] collinmccarthy commented on #1452
Any update here @peri044? I changed this from a question to a bug, because I think that's what this is (it causes the graph to be unnecessarily split when using the FX front-end, where the TS front-end keeps it as a single graph).

[2022-11-30 17:40] frank-wei commented on #1452
@collinmccarthy , we have not open sourced the plugin yet. Since it will need fx build bundle with c++ compilation. As you see, fx can be pure python now.
But it won't stop users to use layer norm as we have vanilla version there.  https://github.com/pytorch/TensorRT/blob/e3b992941b3ae5f1863de271fc9032829834ec6a/py/torch_tensorrt/fx/converters/acc_ops_converters.py#L719

[2022-11-30 17:42] collinmccarthy commented on #1452
@frank-wei Got it, but this will split the graph and cause latency to be higher with the FX front-end than the TS front-end, correct?

[2022-11-30 17:44] frank-wei commented on #1452
No, it will not.
The only case where graph got split is that certain layer does not have converter implementation existing.

[2022-11-30 17:46] collinmccarthy commented on #1452
Ah, okay, got it. So the latency should be similar (or the same) regardless of which front-end is used. I can test this soon.

[2022-11-30 18:10] narendasan opened #1493 "Create RFC for FX aten converters"
AHA! description [here](https://nvaiinfa.aha.io/features/TRTORCH-165).

[2022-11-30 18:12] narendasan opened #1494 "Create RFC for data dependent shapes (no fallback)"
See AHA! description.

Previous RFC here:

[2022-11-30 18:15] narendasan opened #1495 "Create RFC for plugin support in FX"
See AHA! description.

Previous plugin RFC

[2022-11-30 18:50] Christina-Young-NVIDIA opened #1497 "Create RFC for Torchbench coverage & Performance tracker"
See AHA! feature.

[2022-11-30 18:51] Christina-Young-NVIDIA opened #1498 "Create stable diffusion example in PyTorch"
See AHA! feature.

[2022-11-30 18:51] Christina-Young-NVIDIA opened #1499 "Create RFC for ProxyTensor Tracer Support"
See AHA! description.

[2022-11-30 18:52] Christina-Young-NVIDIA opened #1500 "Create RFC for Torch Dynamo integration testing"
See AHA! description.

[2022-11-30 19:31] MartinPedersenpp commented on #1484
Update.
So I figured out why I was missing the libcaffe2_module_test_dynamic.so.
I was using this guide to build torchlib: https://qengineering.eu/install-pytorch-on-jetson-nano.html which stated to use BUILD_TEST=OFF, So after rebuilding I got all the packages I tried running python3.9 TensorRT/py/setup.py bdist_wheel --release --jetpack-version 4.6 but at the very end of compiling, I got this er

[2022-11-30 19:45] narendasan commented on #1484
Perhaps try using `--use-cxx11-abi` as well? Usually its an abi issue which causes these undefined reference issues

[2022-11-30 20:09] MartinPedersenpp commented on #1484
just tried with:
bazel clean --expunge
python3.9 /TensorRT/py/setup.py bdist_wheel --release --jetpack-version 4.6 --use-cxx11-abi and got this error:
[code]

[2022-11-30 20:12] narendasan commented on #1484
Well it seems like at least the core library built properly so thats progress. Seems like its failing building the bindings but cant tell from this message how its failing, is there anymore context available?