[2022-02-26 00:01] #727 closed

[2022-02-26 00:01] #720 closed

[2022-02-26 01:15] chaoz-dev commented on #898
Oh, a question regarding this error:
[code]
Sounds like `list` is not yet currently supported as an output type?

[2022-02-26 01:56] chaoz-dev commented on #898
Ah, looks like it's a potential issue with how the list is created... I can return a list of tensors as long as I do not perform any operations on the tensors, but applying ops to the tensors will cause the list return to fail. I'll open up a new ticket with regards to this.

[2022-02-26 02:05] chaoz-dev opened #899 "🐛 [Bug] Returning list of tensors fails when operations are applied to tensors: `RuntimeError: [Error thrown at core/conversion/conversion.cpp:220] List type. Only a single tensor or a TensorList type is supported.`"
##  Bug Description

Returning a list of tensors fails when ops are applied to the tensors prior to appending them to the list that is returned.
This is not the case if tensors are directly appended to the list without applying any operations.

[code]

## To Reproduce
Run the following:
[code]

This throws the following error:
[code]

## Expected behavior

Graph should return a list of tensors wit

[2022-02-26 02:07] chaoz-dev commented on #899
May be due to #428

[2022-02-26 02:31] ashafaei commented on #898
I also spent a good hour on this problem. I'm almost sure the output list is not constructed correctly after it's compiled with TensorRT. If you print the graph/code just before compilation and then compare it with the compiled version, you'll see that the original traced model is constructing the output in a different way than the compiled one. I'm using the NGC's PyTorch, and I kept getting
[cod

[2022-02-26 08:24] wuyxiquanquan opened #900 "🐛 [Bug] Encountered bug when using Torch-TensorRT"
##  Bug Description

It can't create a `torch_tensorrt::ts::CompileSpec` instance, where it throws this bug:
[code]
By the way, the documentation of [Torch-tensorrt C++ getting started](https://nvidia.github.io/Torch-TensorRT/tutorials/getting_started_with_cpp_api.html) didn't update code since the Torch-TensorRT V1.0.0 release.

## To Reproduce

Steps to reproduce the behavior:

1. CMake file:
[c

[2022-02-26 15:32] andreabonvini commented on #900
I think I had a similar issue the other day, I guess that using the `Pre-cxx11 ABI` version of libtorch (that you can download [here](https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-1.10.2%2Bcpu.zip)) may solve your problem.

[2022-02-28 02:33] Biaocsu commented on #875
@andi4191 can this issue be solved, as it has been so long.
I need to pull the master branch for many issue solved where other branch do not support.
please, help solve and verify this problem

[2022-02-28 16:36] chaoz-dev commented on #898
Ah this is interesting, could you post a snippet or example graph that demonstrates this issue? I'd be curious to see what the conditions are for generating this error.

[2022-02-28 17:49] ncomly-nvidia commented on #732
Hi @harishkool. There are a few combing factors here. First, K80 is a deprecated device by TensorRT; see [support matrix](https://docs.nvidia.com/deeplearning/tensorrt/support-matrix/index.html#hardware-precision-matrix). This means the kernels selected by TensorRT may not be optimal for K80.

The other issue is the `aten::Int` op was not supported previously by Torch-TRT causing the graph to be s

[2022-02-28 17:49] #732 closed

[2022-03-01 00:11] narendasan commented on #899
The reason the second example works is because you are getting returned back the input module since there was no tensor computation to optimize

@peri044 @inocsin Where did we end up on handling tensor lists?

[2022-03-01 00:48] narendasan commented on #898
@chaoz-dev When I run any of the repros on master, the only issue I get is for the original one that you cant subtract two tuples, but for either of the segfault causes the graph gets complied properly and I see the tuple construct in the graph as expected.

This is with commit ef62f6bf26e1e282eccfb8f04e38a2b22558420b

The differences I am seeing are in the system: I am using CUDA 11.3 (which is t

[2022-03-01 01:05] narendasan commented on #899
Ah, I think I understand what is happening. In the cases of append and similar cases where PyTorch operates on groupings of Tensors which are already converted, we use a container class so that PyTorch and TensorRT can track data. Looks like we end up with a list of these container classes instead of just ITensors or Tensors and so the PyTorch type system treats it as a Generic List and not a Tens

[2022-03-01 01:12] narendasan commented on #899
@peri044 I think we decided for this case to wait for collections right?

[2022-03-01 01:59] narendasan commented on #814
@chaoz-dev I tried this repro without any Torch-TensorRT code and I still get the same error. I do have a fix for the defaulting to FP32 issue however.

[2022-03-01 02:28] ashafaei commented on #898
I was using `nvcr.io/nvidia/pytorch:22.01-py3` on `Driver Version: 510.47.03    CUDA Version: 11.6`. I see that `nvcr.io/nvidia/pytorch:22.02-py3` is also [available now](https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel_22-02.html#rel_22-02). I ran my test again with the new image.

The network returns 12 tensors as a tuple (I also tried OrderedDicts etc.) The original tra

[2022-03-01 02:29] chaoz-dev commented on #899
Ah gotcha, yeah this makes sense, especially given the printed output:
[code]

[2022-03-01 02:36] chaoz-dev commented on #898
Ah this was run using a conda environment with the above configurations. Let me give this a try using the NGC container...

[2022-03-01 02:53] narendasan commented on #888
@peri044 can you take a look at this one?

[2022-03-01 03:24] chaoz-dev opened #904 "🐛 [Bug] Compiling runs `torch.jit.script` on `torch.jit._script.RecursiveScriptModule` modules (ie. double `jit.scripting` an already scripted module)"
##  Bug Description
Compiling a model that has already been scripted by `torch.jit.script` will cause it to be scripted a second time.
This is probably caused by line 91 in `py/torch_tensorrt/_compile.py`:

[code]
`isinstance(module, torch.nn.Module)` will always return `True` for scripted modules, as a scripted module (ie. `torch.jit._script.RecursiveScriptModule`) is a subclass of `torch.nn.Modu

[2022-03-01 03:27] chaoz-dev commented on #904
I can post a fix for this when I have some time; this is relatively low severity.

[2022-03-01 03:37] chaoz-dev commented on #904
Looks like this issue might already be addressed on latest master.

[2022-03-01 03:37] #904 closed

[2022-03-01 09:55] issamemari commented on #888
Hello! I'm experience the same issue

[2022-03-01 18:50] ashafaei commented on #898
@narendasan thanks for the reply. I noticed that there's already a documented version of the problem here #899 .

[2022-03-01 19:33] chaoz-dev commented on #814
Can you elaborate on what you mean by not using any Torch-TensorRT code?

With regards to the fix, can you elaborate on "user settings"? Is this going to be from input type annotations during graph compilation?

[2022-03-01 19:42] narendasan commented on #814
I just tried running the model in PyTorch and got the same error (just commented out the compile step)

The fix was to fix an issue where the type map for partitioning wasn't populated properly in the case where we couldn't infer the type

[2022-03-02 00:49] chaoz-dev commented on #814
Ah gotcha gotcha 👍🏼

[2022-03-02 00:54] chaoz-dev commented on #898
@narendasan Using the `pytorch:21.11-py3` NGC container, I'm running the following script:
[code]

[2022-03-02 01:04] chaoz-dev commented on #898
@narendasan Using the `pytorch:21.11-py3` NGC container (with Torch-TensorRT 1.0), I'm running the following script (this just addresses the tuple subtraction issue that you mentioned; it is otherwise the same as in the listed example):
[code]

Running the container interactively, I'm still seeing the segfault unfortunately:
[code]

[2022-03-02 01:06] chaoz-dev commented on #898
Let me try with a newer container...

[2022-03-02 01:10] chaoz-dev commented on #898
Hmmm tried with the newest container `22.02-py3`, but I'm still seeing the issue:

With the same script as before, here's what I'm running:
[code]

[2022-03-02 01:14] chaoz-dev commented on #898
Wonder if my local configurations are affecting things within the Docker container as well... although I thought the NGC containers should be self contained such that the system configurations shouldn't matter?

[2022-03-02 17:32] mjdenkowski commented on #833
@narendasan @ncomly-nvidia @blchu Thanks for working on this!

Do we know what the remaining challenges are for compiling the full encoder module?

[2022-03-02 18:45] chaoz-dev opened #907 "🐛 [Bug] Creating `torch.tensor` from another tensor throws `RuntimeError: Cannot input a tensor of dimension other than 0 as a scalar argument`"
##  Bug Description
Attempting to create a `torch.tensor` using another `tensor` as the first input argument causes the following runtime error:
[code]

This is likely due to the converter not supporting this specific method signature, as the following is also output:
[code]

## To Reproduce
Run the following:
[code]

This will output the following:
[code]

## Expected behavior
A deep copy of the

[2022-03-02 19:09] chaoz-dev opened #908 "🐛 [Bug] `torch.clone` fails with error `RuntimeError: [Error thrown at core/conversion/conversionctx/ConversionCtx.cpp:162] Building serialized network failed in TensorRT`"
##  Bug Description
`torch.clone` fails with error
[code]

From the full error message:
[code]
this appears to be due to the fact that cloning is ignored here and results in the test script piping input directly to output, thus avoiding creating the TRT engine altogether.

This issue appears to be fixed with later releases post 1.0.

## To Reproduce
Run the following using NGC `21.11-py3`:
[code]

[2022-03-02 19:10] #908 closed

[2022-03-02 20:05] narendasan commented on #833
There is a limitation in TensorRT that is causing the engine building to fail even if we add in workarounds. We are trying to figure out the root cause for this to determine if we can work around at the Torch-TRT level or if we need some improvement to TensorRT

[2022-03-02 20:12] narendasan commented on #907
I want to say that this is an issue with TorchScript honestly. I am not sure why TorchScript would expect this to do `Tensor->Float->Tensor`. What does the graph look like? (Should be visible with debug level logging). Also if you trace this explicitly how does the graph change and does it work?

[2022-03-02 20:25] narendasan commented on #907
Also it would be worth trying this after scripting before torchtrt compilation as well to verify the graph is valid

[2022-03-02 20:26] narendasan commented on #898
@peri044 Can you try to replicate this, I am not sure why it works fine on my system

[2022-03-02 20:38] ashafaei commented on #898
@narendasan @chaoz-dev I'm running `nvcr.io/nvidia/pytorch:22.02-py3` which has `TRT_VERSION="8.2.3.0+cuda11.4.2.006"` running with `CUDA Version: 11.6` and `Driver Version: 510.47.03` on a `3090` GPU. The script does not trigger a seg-fault.
Yesterday I was trying to get another architecture work and I got seg-faults when I passed the vanilla torch.nn.Module model for compilation (so it's traced

[2022-03-02 21:14] ashafaei commented on #899
I have a slightly different looking setup that triggers a similar problem. Is there a workaround?

[code]

when I remove the highlighted part of the code, the constructed graph correctly builds a TupleConstruct like this
[code]

But when that part is active, I get this error
[code]
and the constructed graph is wrong
[code]

Is there a way to manually remove the `ListUnpack` from the generated code

[2022-03-02 21:26] ashafaei commented on #899
So I was looking around in the built `model_trt` to see if I can either manually remove the `ListUnpack` node or add a `TuplseConstruct`. Looks like I was lucky and found this interesting function that addresses this problem.
[code]
If you call it just after the compilation, your graph become like this and it'll work.
[code]

It's better to not have the `ListUnpack` to begin with, but this at leas

[2022-03-02 23:01] mjdenkowski commented on #833
Thanks for digging into this issue!

It looks like a Fairseq transformer that uses a similar encoder runs successfully on TensorRT, so all of the operations should be supported ([blog post](https://developer.nvidia.com/blog/accelerating-inference-with-sparsity-using-ampere-and-tensorrt/)).

Has the compile error been traced to a specific operator?  We can also look at temporary workarounds at the

[2022-03-03 07:10] heluocs commented on #869
I also meet the same error, with the base container 21.11

[2022-03-04 11:40] peri044 commented on #898
Hmm.. I see some strange behavior. Outside the container, this runs fine for me (latest master with Torch 1.10.0 + cuda 11.3). But inside the container 22.02, I see a seg fault.

[2022-03-04 11:49] peri044 commented on #898
I see MarkOutput changes b/w master branch and release/ngc/22.02 branch. The change is https://github.com/NVIDIA/Torch-TensorRT/blob/master/core/conversion/conversion.cpp#L242-L253. Although this doesn't seem to be executing particularly for this subtraction example, there might be other differences b/w these two branches which might be causing this. Can you try building a docker container based o

[2022-03-04 12:59] peri044 commented on #907
Graph is this
[code]
The error comes from shape analysis with dummy input run. Code line : https://github.com/NVIDIA/Torch-TensorRT/blob/master/core/partitioning/shape_analysis.cpp#L91
[code]

[2022-03-04 20:32] chaoz-dev opened #911 "🐛 [Bug] Bitwise operators on `bool` dtype tensors throws error: `RuntimeError: [Error thrown at core/ir/ir.cpp:17] Expected vals.size() == specs.size() to be true but got false`"
##  Bug Description
Running bitwise operators on two `bool` dtype tensors throws error
[code]
This does not appear to be an invalid op however, when run through a non-TRT model.

## To Reproduce
[code]

Outputs the following:
[code]

## Expected behavior
Output should be similar to the non-TRT version and should not throw a runtime error:
[code]

## Environment
NGC containers `21.11-py3` and `22.0

[2022-03-04 23:47] peri044 commented on #911
I modified your script to compile it this way. Setting the number of inputs and their dtypes respectively,
[code]
It results in a different error
[code]
This error is again coming from shape_analysis.cpp https://github.com/NVIDIA/Torch-TensorRT/blob/release/ngc/22.02/core/partitioning/shape_analysis.cpp#L92
The dtype passed for the dummy inputs in the shape analysis is float (which is wrong. It sh

[2022-03-04 23:51] peri044 commented on #900
Can you try following this https://nvidia.github.io/Torch-TensorRT/tutorials/getting_started_with_cpp_api.html#compiling-with-torch-tensorrt-in-c instead?
[code]

[2022-03-06 00:02] #707 closed

[2022-03-06 04:03] peri044 commented on #911
Upon more debugging and adding some on the fly fixes
Fix 1 : https://github.com/NVIDIA/Torch-TensorRT/blob/master/core/ir/Input.cpp#L51 Bool input type should return true
Fix 2 : https://github.com/NVIDIA/Torch-TensorRT/blob/master/core/ir/Input.cpp#L43 Add the following snippet to  support bool dtype and format
[code]
After these additions, the main problem is the graph is unable to infer dtypes

[2022-03-06 05:27] dignakov opened #912 "✨[Feature] New Release for pip"
Would it be possible to get a new release for use with pip?

There have been quite a few features and bug-fixes added since November, and it would be great to have an up to date version available.

I know that docker containers are often recommended, but that's often not a viable option.

Thank you for all of the great work!!

[2022-03-06 21:24] narendasan commented on #912
A new release will be coming with the new version of PyTorch (1.11.0). Usually you can expect a new release from us around the time they release a new version.

[2022-03-06 21:28] narendasan commented on #911
Can we take bool tensors in as an input for TensorRT?

[2022-03-06 21:31] narendasan commented on #907
aten::tensor.float expects a float scalar. Why is shape_analysis producing unsupported operator error?

[2022-03-07 07:37] MenglingD opened #915 "🐛 [Bug] Buys in building tensorrt engine when fallback."
##  Bug Description

Partitioning assumes that inputs of tensorrt or pytorch segmented blocks should be `Tensor` or `TensorList`，but the `TensorList` inputs can not be correctly processed when building tensorrt engine.

## To Reproduce

The following case will throw a exception in build tensorrt engine：

[code]

Exception is arised as following:

[code]

More detailed cause analysis and bugs fix p

[2022-03-07 18:38] chaoz-dev commented on #898
Hmm tried building a docker container using the aforementioned instructions, but I seem to be getting an error; from the root of the Torch-TensorRT repo, I'm running the following:
[code]

but I'm seeing the following error:
[code]

Looks like I'm missing a shared object file here... do we expect this to be in the docker base image?

[2022-03-07 21:06] narendasan commented on #898
Can you try basing on 21.10. this is likely because 1.11.0 is what is shipped in later containers and the libraries have changed

[2022-03-08 03:47] narendasan commented on #833
@mjdenkowski We recently updated our TensorRT version which addresses our previous issues during engine building.

Currently the status is:
- With #918, we can partially compile the module which is comprised of 4 blocks. Two blocks remain in PyTorch because we don't have converters for the following ops:
      - aten::bitwise_not(Tensor self) -> (Tensor)
      - aten::repeat_interleave.self_int(Te

[2022-03-08 04:06] narendasan commented on #915
cc: @inocsin, @bowang95

[2022-03-08 16:51] mjdenkowski commented on #833
That sounds like great progress!

We use dynamic shapes throughout our model, so padding inputs isn't a good fit for our use case.

Is there a timeline for supporting the other two operators?  Sockeye implements a standard transformer encoder, so supporting these ops should be broadly helpful for compiling various transformer/BERT/attention implementations.

[2022-03-08 19:01] jpdevicente opened #920 "🐛 [Bug] Error when building with Jetpack 4.6"
##  Bug Description

On Jetson Xavier with Jetpack 4.6, cant build Torch-TensorRT with bazel or build it with python setup.

## To Reproduce

Steps to reproduce the behavior:

1. `bazel build //:libtorchtrt --platforms //toolchains:jetpack_4.6`
1. `python3 setup.py install`

Both lead to the same error:

INFO: Build options --compilation_mode, --cxxopt, --define, and 1 more have changed, discardin

[2022-03-09 20:21] chaoz-dev opened #922 "🐛 [Bug] Compilation causes error: `RuntimeError: [Error thrown at core/partitioning/shape_analysis.cpp:66] Expected ivalues_maps.count(input) to be true but got false Could not find torch::jit::Value* 47 produced from %47 : int = prim::dtype(%52) in lowering graph for mini graph input.`"
##  Bug Description
Compiling the graph throws the following error:
[code]

Looking at the output torchscript graph, %47 is defined in a prior node, however, it does not appear to be visible in the current node.

## To Reproduce
[code]
Throws the following error:
[code]

## Expected behavior
Compilation should not fail, and should produce the following output when run:
[code]
## Environment
Ubuntu

[2022-03-09 20:34] chaoz-dev commented on #922
This looks similar to issue #756, with fix #757.

[2022-03-10 00:02] #602 closed

[2022-03-10 00:02] #604 closed

[2022-03-10 00:02] #513 closed

[2022-03-10 00:02] #586 closed

[2022-03-10 00:02] #441 closed

[2022-03-11 11:53] pupumao commented on #899
meet same problem, any way to avoid this bug?

[2022-03-11 19:40] ashafaei commented on #899
Just call
[code]
after compilation and it'll work.

[2022-03-11 21:07] bowang95 opened #923 "🐛 [Bug] Log print misleading error messages when there is unsupported operator"
##  Bug Description

When we have some unsupported operator in a network, it will automatically fallback with some messages showing that this operator is not supported. However, currently the message is misleading because it shows as an `error` which may make users think the compilation failed.

## To Reproduce

For example, have many errors such as this we I support MaskRCNN:
[code]

## Expected

[2022-03-11 21:18] bowang007 opened #924 "🐛 [Bug] BlockID went into a mess in some complicated network"
##  Bug Description

The BlockID for segmentedBlocks became messy when there is some kind of re-segmentation in sub-graphs. This makes it hard to identify blocks and easy to make mistakes.

## To Reproduce

In MaskRCNN, there are many IDs like this:

[code]

In the output log above, the ID is: @33 -> @0 -> @1 -> @94322095909136 -> @0 -> @1

## Expected behavior

At lease there should be unique IDs

[2022-03-11 21:34] bowang007 opened #925 "🐛 [Bug] Truncate_long_and_double in shape analysis can cause Torchscript running break down in shape inference process"
##  Bug Description

When we have some Long tensors, the truncate_long_and_double() function will truncate these long tensors to int tensors and will then put them into the ivales_map in shape analysis phase. However, some of the long tensors might be used in later subgraph torchscript to infer the output shape and the truncation of these long tensors might make the Torchscript running fails

## T

[2022-03-11 22:17] narendasan commented on #923
I have a fix for this as part of #918

[2022-03-11 22:24] narendasan commented on #924
We can have a singleton which produces block ids for each instance of the partition process.

My idea is we have a class like:

[code]

This object could also hold the PartitionGraph Object as well

[2022-03-13 00:02] #754 closed

[2022-03-13 00:02] #744 closed

[2022-03-14 06:50] pupumao commented on #899
@ashafaei I met the problem when call:
`tensorrt_engine_model = torch_tensorrt.ts.convert_method_to_trt_engine(traced_model, "forward", **compile_settings)`

this is the error:
`Traceback (most recent call last):
  File "model_converter.py", line 251, in <module>
    engine = get_engine(model_info.trt_engine_path, calib, int8_mode=int8_mode, optimize_params=optimize_params)
  File "model_converter

[2022-03-14 10:33] henrycharlesworth opened #927 "🐛 [Bug] Segmentation Fault When Trying to Quantize ResNet50 model"
##  Bug Description

I'm using torch_tensorrt to try and quantize a pretrained ResNet50 model (roughly following the steps [here](https://nvidia.github.io/Torch-TensorRT/_notebooks/vgg-qat.html)), but I am getting a segmentation fault. I've tried running the code on two different machines using the latest docker image [here](https://catalog.ngc.nvidia.com/orgs/nvidia/containers/pytorch) but get th

[2022-03-14 16:16] narendasan commented on #927
@peri044 Can you take a look at this?

[2022-03-14 16:52] narendasan commented on #920
Won't have access to a Xavier for a bit but to quickly check. Are you running Jetpack 4.6.0 or 4.6.1? If I had to guess at the root cause there, its probably because you have TRT 8.0 and we currently target 8.2 which should be available in 4.6.1. If you are on 4.6.0, would updating to 4.6.1 be feasible?

[2022-03-14 17:24] ligaz commented on #920
Alternatively you can checkout the `v1.0.0` tag. It compiles successfully on Jetpack 4.6.0.

[2022-03-14 18:06] jpdevicente commented on #920
Thank you for your replies!

As @ligaz suggested, compiling with branch v1.0.0 worked, so I'll be using that.

[2022-03-14 18:06] #920 closed

[2022-03-14 20:07] bowang95 commented on #925
@narendasan Hi Naren, do you have any idea on this? I think we need to solve this asap since this bug is blocking us from moving forward to support RCNN.

[2022-03-14 20:58] ashafaei commented on #899
@pupumao Are you getting this error during compilation? The workaround I shared is for a different problem. The model gets compiled, but then during inference throws this error. You may have better luck if you use the `nn.Module` model directly to compile like the sample code I shared above.

[2022-03-14 21:02] narendasan commented on #925
Do we need to truncate in shape_analysis? Could we just leave the tensors in long and Double? The complexity comes in when the input is from TRT. We might need to store the original type and the truncated type so we can remember to cast to the correct one.

[2022-03-15 01:43] chaoz-dev commented on #898
Think I managed to get it to work --
Pulled the latest TensorRT NGC container (`nvcr.io/nvidia/tensorrt:22.02-py3`), pip installed PyTorch 1.10, and built the repo from source within the container. Running the above script now no longer causes a segfault, so I assume the issue was as you described, a mismatch in shipped libraries.

[2022-03-15 01:43] #898 closed

[2022-03-15 01:57] chaoz-dev commented on #927
Might be related to #898? @henrycharlesworth Can you try building and running Torch-TensorRT with the TensorRT NGC containers?

I was able to bypass my issue using `nvcr.io/nvidia/tensorrt:22.02-py3`, PyTorch 1.10, and Torch-TensorRT commit `11bcb98d` on master.

[2022-03-15 02:00] chaoz-dev commented on #923
For vis, related to #803

[2022-03-15 02:07] chaoz-dev commented on #922
Just tried fix #757 with master commit `11bcb98d3cd680c3c34e6cc4c4efdc7512c144cc` built in NGC container `nvcr.io/nvidia/tensorrt:22.02-py3` and PyTorch 1.10, and the error persists, so it's likely that #757 does not address this issue.

[2022-03-15 03:33] yuezhuang1387 commented on #763
I met the same problem, Have you solved it?

[2022-03-15 03:51] daeing commented on #763
it seems the docker's problem. you can try this issue https://github.com/NVIDIA/FasterTransformer/issues/145

[2022-03-15 03:51] daeing commented on #763
https://github.com/NVIDIA/FasterTransformer/issues/145

[2022-03-15 03:52] daeing commented on #763
it seems the docker's problem. you can try this issue https://github.com/NVIDIA/FasterTransformer/issues/145

[2022-03-15 10:17] clks-wzz opened #929 "❓ [Question] Expected isITensor() to be true but got false Requested ITensor from Var, however Var type is c10::IValue"
I try to use python trtorch==0.4.1 to compile my own pytorch jit traced model, and I find that it goes wrong with the following information:

`
Traceback (most recent call last):
  File "./prerecall_server.py", line 278, in <module>
    ModelServing(args),
  File "./prerecall_server.py",, line 133, in __init__
    self.model = trtorch.compile(self.model, compile_settings)
  File "/usr/local/lib/py

[2022-03-15 11:00] wuyxiquanquan commented on #900
Can't find InputRange in Torch-TensorRT V1.0.0

[2022-03-15 11:00] wuyxiquanquan commented on #900
Can't find InputRange in Torch-TensorRT V1.0.0

[2022-03-15 18:12] chaoz-dev commented on #922
Looks like the issue is in this line:
[code]
as changing this line to:
[code]
appears to bypass the issue.

[2022-03-15 21:11] chaoz-dev commented on #873
Closing this specific issue, since it's probably not going to be worth the effort to try to TRT to compile for no-ops.

[2022-03-15 21:11] #873 closed

[2022-03-15 21:21] chaoz-dev commented on #874
Closing, as it appears latest master already supports this action.

[2022-03-16 19:48] chaoz-dev commented on #898
Some more data -- it looks like the segfault still occurs on the 1.0 release using the aforementioned configurations. Might need to go back to an earlier TRT NGC container.

[2022-03-16 21:55] chaoz-dev opened #930 "🐛 [Bug] Compilation causes error: `ValueError: stoi`"
##  Bug Description
Compiling the below graph causes the following error:
[code]
It's not clear to me what the root cause is yet; I've seen this appear in several of our models internally, but this is the first time I've been able to isolate the error outside of our repo.

## To Reproduce
[code]
Outputs the following:
[code]

## Expected behavior
Compilation should not error out, and should output

[2022-03-16 22:24] chaoz-dev opened #931 "🐛 [Bug] Converting `torch.stack` with a negative dim argument results in error: `RuntimeError: [Error thrown at core/util/trt_util.cpp:165] pos >= 0 && pos <= d.nbDims ASSERT FAILED at core/util/trt_util.cpp:165, consider filing a bug: https://www.github.com/NVIDIA/Torch-TensorRT/issues ERROR: Index to unsqueeze is out of bounds.`"
##  Bug Description
Running `torch.stack` with a negative dimension as the stacking dimension results in the following error:
[code]
We should probably consider supporting this use case (ie. perform the negative to positive dimension conversion before applying TRT) as it's fairly common.

## To Reproduce
[code]
Outputs the following:
[code]

## Expected behavior
Compilation should succeed and stac

[2022-03-18 20:15] subella commented on #920
Hello,

Same problem. I tried compiling with v1.0.0 but got the following error:
`src/Torch-TensorRT/cpp/lib/BUILD:3:10: Linking cpp/lib/libtorchtrt_plugins.so failed: (Exit 1): gcc failed: error executing command /usr/bin/gcc @bazel-out/aarch64-opt/bin/cpp/lib/libtorchtrt_plugins.so-2.params
`

I used local tensorrt and cudnn as shown in the compilation instructions and additionally modified this

[2022-03-21 07:12] void-main commented on #561
Same issue here, debug a little deeper, the error is thrown from `torch::jit::LowerAllTuples(g);` in `torch_tensorrt::core::lowering::LowerGraph`.

You do have evaluator for `aten::append`, however, that seems to be too late for this model. Do you have any plan to fix this issue?

[2022-03-21 10:02] void-main commented on #561
Besides, as for now, Torch-TensorRT doesn't seem to support models with `Tensor[]` as input. For example, for FasterRCNN model, the model is defined as:
[code]

And `Torch-TensorRT` requires the inputs to be `Union(torch_tensorrt.Input, torch.Tensor)`.

[2022-03-21 18:03] narendasan commented on #931
@inocsin Did you work on negative indexing for squeeze/unsqueeze?

[2022-03-22 02:40] pupumao opened #936 "❓[Question] RuntimeError: [Error thrown at core/conversion/converters/impl/select.cpp:236] Expected const_layer to be true but got false"
## ❓ Question

when i convert jit model, got the error
this is my forward code:
input `x` shape is `(batch, 6, height, width)`, first step is to split `x` into two tensors, but failed
[code]
complete traceback:
[code]

## What you have already tried

try use `fg, bg = x.split(int(x.shape[1] // 2), dim=1)` instead of `fg = x[:,0:3,:,:]` and `bg = x[:,3:,:,:]` but got convert error for op not suppor

[2022-03-22 17:47] #923 closed

[2022-03-22 20:47] narendasan commented on #922
@peri044 Can you take a look at this, looks related to your past work on dtype

[2022-03-23 04:45] Njuapp opened #938 "↔ [Converter] Add support for aten::atan2 in Torch-TensorRT"
##
Unsupported operator: aten::atan2(Tensor self, Tensor other) -> (Tensor)

- **Function Schema**:
 aten::atan2(Tensor self, Tensor other) -> (Tensor)

- **Original PyTorch API**:
  torch.atan2(input, other, *, out=None) → [Tensor]

- **Relevant TensorRT Documentation**:
  None
## Alternatives

## Additional context

When using Fourier transformation in audio segmentation models, `torch.atan2` wi

[2022-03-23 13:12] purplesword commented on #623
We are facing exactly same issue when trying to compile a model with ConvTranspose2d with output_padding. Any plan to fix it or is there a way to apply `torch_executed_ops` or `torch_executed_modules` to bypass it?

[2022-03-23 22:56] bowang95 opened #939 "🐛 [Bug] Type missing for input type of subgraphs in shape analysis"
##  Bug Description

In support MaskRCNN process, some subgraph inference fails because our input type check is not complete now.
Will get an error reported by this line [https://github.com/NVIDIA/Torch-TensorRT/blob/4839b11849eff3131349479a5d6ab81ddb99de2a/core/partitioning/shape_analysis.cpp#L85](url)

`terminate called after throwing an instance of 'torch_tensorrt::Error'
  what():  [Error thro

[2022-03-23 23:10] chaoz-dev commented on #930
Seeing the same issue with the following script using the aforementioned containers/builds:
[code]
[code]

[2022-03-24 00:35] bowang95 commented on #939
fixed in this PR #940

[2022-03-24 00:44] bowang95 opened #941 "🐛 [Bug] Torchscript inference break down in shape analysis with unimplemented OPs on CPU"
##  Bug Description

Torchscript inference break down in shape analysis phase because it seems like some OPs are not supported if we run the subgraph on CPU.

`
terminate called after throwing an instance of 'std::runtime_error'
  what():  The following operation failed in the TorchScript interpreter.
Traceback of TorchScript, serialized code (most recent call last):
  File "code/__torch__/detectr

[2022-03-24 03:22] januarks14 opened #942 "Failed to install in Jetson"
I try to install Torch-TensorRT and I faced this installation error.
`/home/nvidia/Torch-TensorRT/cpp/bin/torchtrtc/BUILD:10:10: no such package '@libtorch//': The repository '@libtorch' could not be resolved and referenced by '//cpp/bin/torchtrtc:torchtrtc'`
I am using Jetpack 4.5
`bazel build //:libtorchtrt --platforms //toolchains:jetpack_4.5`

[2022-03-24 20:52] khazamaa commented on #922
@chaoz-dev I had the same error
[code]
and your method of bypassing is not applicable in my case.
Could you suggest something else.

[2022-03-24 22:49] narendasan commented on #942
What does your workspace file look like?

[2022-03-24 23:24] #865 closed

[2022-03-25 00:02] #758 closed

[2022-03-25 00:20] narendasan commented on #900
The API was renamed to Input in 0.4.0

[2022-03-25 01:01] chaoz-dev opened #944 "🐛 [Bug] Returning tuple of tensors raises error requiring tuple of tensors be returned: `RuntimeError: Method (but not graphs in general) require a single output. Use None/Tuple for 0 or 2+ outputs`"
##  Bug Description

Returning a tuple of torch tensors raises the following error:
[code]
This occurs despite already returning a tuple of torch tensors.

## To Reproduce

[code]
Outputs the following:
[code]

## Expected behavior
Output should not error, and should print out shapes of returned tensors.

## Environment
Ubuntu 18.04 x86-64
- v1.0 using TRT NGC 21.11-py3: Issue appears in this envi

[2022-03-25 01:03] chaoz-dev commented on #944
To reiterate, the issue **does not** appear under the environment Master (https://github.com/NVIDIA/Torch-TensorRT/commit/11bcb98d3cd680c3c34e6cc4c4efdc7512c144cc) using TRT NGC 22.02-py3, so it's possible the underlying issue may have been fixed already.

[2022-03-25 01:33] januarks14 commented on #942
I have solved the previous error. But now I faced new error:
![Selection_001](https://user-images.githubusercontent.com/50630689/160037091-9fbb01fa-de42-484f-886d-1679ad1519e6.png)
Should I start new open issue for this?
Here my WORKSPACE looklike:
`workspace(name = "Torch-TensorRT")

load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")
load("@bazel_tools//tools/build_defs/repo:git

[2022-03-25 02:21] narendasan commented on #942
This bug is okay. The issue is there are some breaking changes for jetpack 4.5 (specifically we use apis introduced in TRT 8.2) in preparation for our next release. I would say try checking out the 1.0 tag if you just need a working version. If you need master I can provide more information on how to backport.

[2022-03-25 07:49] januarks14 commented on #942
I have tried all tags, and only v0.3.0 successfully installed C++ library. But I faced problem  I tried to install Python API. It shows this kind of error:
`trtorch/csrc/tensorrt_backend.h:13:15: error: ‘c10::IValue trtorch::backend::TensorRTBackend::preprocess(c10::IValue, c10::impl::GenericDict)’ marked ‘override’, but does not override
   c10::IValue preprocess(c10::IValue mod, c10::impl::Gener

[2022-03-25 14:35] chaoz-dev commented on #922
You're probably facing a different but possibly related issue. Can you file a new bug report with the above information?

[2022-03-25 18:26] narendasan commented on #938
cc: @ncomly-nvidia

[2022-03-25 18:27] narendasan commented on #936
What version of Torch TRT are you using?

[2022-03-25 19:00] narendasan commented on #942
Yes using latest Jetpack is preferable if possible

[2022-03-28 04:13] #942 closed

[2022-03-28 04:13] januarks14 commented on #942
Thank you @narendasan

[2022-03-28 15:57] mjdenkowski commented on #833
Thanks again @narendasan and @blchu!

Is there an active issue for supporting the remaining two operators or do we need to open a new issue?

[2022-03-29 00:02] #761 closed

[2022-03-29 05:48] pupumao commented on #936
8.0.1.6

[2022-03-29 06:01] pupumao opened #945 "🐛 [Bug] RuntimeError: [Error thrown at core/conversion/converters/impl/select.cpp:236] Expected const_layer to be true but got false"
##  Bug Description

when i convert jit model, got the error
this is my forward code:
input `x` shape is `(batch, 6, height, width)`, first step is to split `x` into two tensors, but failed
[code]
complete traceback:
[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.4.0
 - CPU Architecture: arm (nx)
 - OS (e.g., Linux):
 - How you installed PyTorch: docker of nvidia l4t
 - Python version:

[2022-03-29 21:01] harishkool commented on #741
Any updates on this issue?

[2022-03-29 21:58] gadgetsam commented on #878
Any updates on this issue? It would be helpful for my use case too.

[2022-03-29 23:34] chaoz-dev opened #946 "✨[Feature] LTS Releases and Backwards Support for Dependencies"
**Is your feature request related to a problem? Please describe.**
From our previous conversations offline, it appears that Torch-TensorRT releases currently follow PyTorch releases. However, there appears to be some ambiguity with regards to backwards support for older CUDA and TensorRT releases and other dependencies, and with how bug fixes will be backported to previous LTS releases; we should

[2022-03-31 04:01] p517332051 commented on #945
I tried to reproduce your bug with your code, but it works.Maybe your torch version is too low，try to use higher than torch 1.8.0.

[2022-03-31 08:00] shuaizzZ opened #947 "hown to compile model for multi inputs?"
1）My model : out1, out2 = model(input1, input2)

2）How should i set compile settings, just like this:

trt_ts_module = torch_tensorrt.compile(torch_script_module,
    inputs = [example_tensor, # Provide example tensor for input shape or...
        torch_tensorrt.Input( # Specify input object with shape and dtype
            min_shape=[1, 3, 224, 224],
            opt_shape=[1, 3, 512, 512],

[2022-03-31 13:08] calclavia opened #948 "✨[Feature] Support 2:4 Sparsity"
**Is your feature request related to a problem? Please describe.**
Would be great if Torch TensorRT has support for TensorRT 8's feature:
https://developer.nvidia.com/blog/accelerating-inference-with-sparsity-using-ampere-and-tensorrt/

There is a flag right now on the docs
[code]
but it's unclear what this flag does and how it decides to use sparsity?

**Describe the solution you'd like**
A way t

[2022-03-31 13:44] calclavia commented on #867
@Biaocsu I tried your setup and got the error:
[code]
Seems like HF implementation uses byte datatype, which may not be supported?

[2022-03-31 14:19] calclavia commented on #775
@narendasan Are there any plans to support dynamic shapes with custom ops in the future? This could be a typical use case for NLP applications, where certain custom ops are needed and input is typically variable in size.

[2022-03-31 17:00] chaoz-dev opened #949 "✨[Feature] Print out Python file name, line number, and/or op for warnings, compilation failures"
**Is your feature request related to a problem? Please describe.**
By default, when running `Torch-TensorRT` from Python, most errors encountered during compilation will print a stack trace originating from either the Python compilation command (eg. printing something like `torch_tensorrt_pypi/torch_tensorrt/ts/_compiler.py", line 119, in compile  compiled_cpp_mod = _C.compile_graph(module._c, _pa

[2022-03-31 20:25] narendasan commented on #949
We already print out the trace to the location of unsupported operators. In the case you require full compilation, these will be printed as errors. In the case that you are using partial compilation, you will see these messages as Debug/Info messages. I guess you are likely talking about issues like `TORCHTRT_CHECK` failures where these are likely issues with torch-tensorrt itself so IMO the sourc

[2022-03-31 20:29] narendasan commented on #947
You would do something like:

[code]

[2022-04-01 00:02] #776 closed

[2022-04-01 00:02] #777 closed

[2022-04-01 00:02] #767 closed

[2022-04-01 00:02] #765 closed

[2022-04-01 02:01] Biaocsu commented on #867
@calclavia not sure.
 I tried `pytorch -> onnx -> tensorrt` method , and find tensorrt do not support `NonZero`  operation
anyway, I do not success convert `gpt2` by `torch_tensorrt`

[2022-04-01 02:04] chaoz-dev commented on #949
Yeah, when fallback occurs due to unsupported operators, this already prints out the unsupported operator as you mentioned with the file and line number (eg. https://github.com/NVIDIA/Torch-TensorRT/issues/803). For this request, I was thinking more along the failures seen in something like https://github.com/NVIDIA/Torch-TensorRT/issues/922:

[code]

Having better printouts here would be helpful

[2022-04-01 08:51] Njuapp opened #952 "🐛 [Bug] Failed to compile with torch-trt when using torch.split()"
##  Bug Description
When I used torch.split() in the model code, it will fails when trying to convert with Torch-TRT.
Complete error messages:

[code]
## To Reproduce

[code]

## Expected behavior

The Torch-TRT should compile successfully, and the numerical difference between trt-embedded model and original model should be negligible.
## Environment

 - Torch-TensorRT Version (e.g. 1.0.0): 1.1.0a

[2022-04-01 12:44] Njuapp opened #954 "🐛 [Bug] Encountered bug when lowering `aten::to`"
##  Bug Description

The lowering pass for `aten::to` could cause unexpected results.
The error is as follows:
[code]

## To Reproduce

[code]

## Expected behavior

Compilation should go smoothly without error, and numerical difference shall be negligible.

## Environment

 - Torch-TensorRT Version (e.g. 1.0.0): 1.1.0a0+ba9f730f
 - PyTorch Version (e.g. 1.0): 1.10.1
 - CPU Architecture: x86_64
 -

[2022-04-01 17:57] bowang95 opened #956 "🐛 [Bug] LongType introduced in Conversion process"
##  Bug Description

 We have a graph like this:

`
  %14 : int = aten::size(%t.1, %15)
  %16 : Tensor = prim::NumToTensor(%14)
  %17 : Tensor[] = prim::ListConstruct(%13, %16)
  %image_size.1 : Tensor = aten::stack(%17, %3)

`
This fails with an error:
`
terminate called after throwing an instance of 'c10::bad_optional_access'
  what():  bad optional access
`

This happens because we get an int f

[2022-04-01 19:22] narendasan commented on #949
Yeah in general I am not against raising the severity of messages and providing more context, but I do want to be purposeful in what we report to the user in these error messages and ideally make our errors actionable. i.e. Here is an issue we detected, here is a potential solution. What I want to avoid is dumping a ton of information on people in cases where its misleading or there is no action.

[2022-04-01 22:30] bowang95 commented on #941
In fact, we are getting 2 different issues here, here is what happened in detail:

2 cases:
In first case we have:
`Tensor = aten::to(%ret.1, %33, %61, %62, %63, %64, %64, %63)
`
Where:
`%33: 4(for type), %61: 0, %62: device(0), %63: nontype, %64: bool constant (0)
`
After lowering:
[code]

Here, what happens is that it takes the device as dtype.

So we have error as:
`RuntimeError: "repeat_interl

[2022-04-01 22:32] bowang95 commented on #954
Hi @Njuapp, I found this bug this week too in this issue #941 , it seems that we should delete the lowering pass for reduce_to.

[2022-04-02 00:02] #731 closed

[2022-04-02 00:08] bowang95 commented on #954
Hi @Njuapp , could you please try if this PR #958  can fix your problem?

[2022-04-02 02:06] ziyouzizai111 commented on #713
您好，我想问下这个bug怎样解决的呢？请大神指点下。谢谢 @XuanBaby

[2022-04-02 02:18] XuanBaby commented on #713
@ziyouzizai111  修改文件：[tools/pytorch-quantization/pytorch_quantization/nn/modules/tensor_quantizer.py]
![image](https://user-images.githubusercontent.com/29744738/161361870-b7739fbb-f497-4d04-97d1-96b65a1d8edc.png)

[2022-04-02 02:37] ziyouzizai111 commented on #713
谢谢您，我这边改了，权重能保存了，但也出现了很多[E0402的错误:tensor_quantizer.py:120]Fake quantize mode doesn't use scale explicitly!!!  我非常好奇：为啥是error错误也能运行呢？搞不懂，但是非常感谢您的解答！

[2022-04-02 05:48] pupumao commented on #945
I use 1.10.0 but still got same error

I tested in embed arm device, not on gpu, may be difference ?

[2022-04-02 15:00] calclavia commented on #948
Ah, so it looks like if the weight matrix is 2:4 sparse (represented as a dense matrix), then TensorRT will auto optimize it?

[2022-04-02 17:51] peri044 commented on #948
Yes, if the sparsity flag is enabled. A sparse tactic for that layer will only be picked if it’s the fastest

[2022-04-03 00:02] #714 closed

[2022-04-03 00:02] #261 closed

[2022-04-04 00:02] #773 closed

[2022-04-04 00:38] pepinu opened #960 "❓ [Question] Problem with cudnn dependency when compiling plugins on windows?"
## ❓ Question

I am trying to compile a windows dll for torch-tensorRT, however I get the following traceback:

ERROR: C:/users/48698/source/libraries/torch-tensorrt-1.0.0/core/plugins/BUILD:10:11: Compiling core/plugins/register_plugins.cpp failed: undeclared inclusion(s) in rule '//core/plugins:torch_tensorrt_plugins':
this rule is missing dependency declarations for the following files included

[2022-04-04 04:31] calclavia commented on #948
Thanks for the info!

[2022-04-04 04:31] #948 closed

[2022-04-04 21:47] dav-ell opened #961 "❓ [Question] How do you fix "broadcast dimensions must be conformable"?"
## ❓ Question

I'm converting my (EfficientDet) model using `torch_tensorrt.compile` like so, after having successfully torchscript'ed it and verified that the output is the same as the non-torchscripted version:

[code]

When running the above, I'm getting this error:

[code]

The offending line is:

[code]

where `weight` is a two-element tensor.

## What you have already tried

When broken up,

[2022-04-05 03:15] narendasan commented on #961
Can you provide a repro script or share the debug logs? Usually we print out what output tensor shapes are from ops, which can help show what is going on.

[2022-04-05 07:53] #814 closed

[2022-04-05 16:24] dav-ell commented on #961
Attempting to make a repro script but stuck on a different issue now...

[code]

outputs

[code]

[2022-04-05 16:44] dav-ell commented on #961
Apologies, I forgot `model.eval()`. After doing that, it just hangs...

[2022-04-05 16:48] dav-ell commented on #961
Correction, it has a segmentation fault. See attached log.

[logs.txt](https://github.com/NVIDIA/Torch-TensorRT/files/8420240/logs.txt)

[2022-04-05 17:59] chaoz-dev commented on #949
Hmm yeah that's fair; I'm in agreement with what's stated here, especially with regards to not sending users off on a wild goose chase. That said, would you say that just logging an op and file location (not the full stack trace) is still too much here? Even if it's an underlying issue with the conversion process (ie. the user's code is fine), this still seems like a good way (and easier) for the

[2022-04-05 18:20] ncomly-nvidia commented on #766
Reopening. Should be closed w/ aten::int

[2022-04-05 18:26] dav-ell commented on #961
I think I discovered the issue. It seems that using nn.Upsample causes a segmentation fault for unknown reasons. It also looks like F.upsample has the same issue.

@narendasan any ideas? Perhaps this could be related to my original problem, though it doesn't make sense why my first error (not comformable) wasn't also a segfault.

[2022-04-05 18:41] dav-ell commented on #961
Potentially related to https://github.com/pytorch/pytorch/issues/27376 and https://github.com/onnx/onnx-tensorrt/issues/361#issuecomment-576004279.

[2022-04-05 19:12] ia-davidpichler commented on #602
Can this feature request be reopened?

[2022-04-05 19:34] dav-ell commented on #961
I was able to get the debug logs you're looking for, and the error seems to be an off-by-one issue (see attached for full log).

[code]

The conversion to TensorRT must break because something is being evaluated differently than torchscript...

[logs_debug.txt](https://github.com/NVIDIA/Torch-TensorRT/files/8421313/logs_debug.txt)

[2022-04-06 08:18] Njuapp opened #963 "🐛 [Bug] Failure to compile RoBERTa model with Torch-TRT"
##  Bug Description

When trying to convert RoBERTa torchscript model to torch-TRT, it may trigger bugs in RoBERTa preprocessing steps.
As indicated by error messages, there's some error in `aten::ne` and `aten::cumsum`: when creating elementwise layers, the first operand is of type int32, but the second operand is of type float32.

[code]

## To Reproduce

[code]

## Expected behavior

The code a

[2022-04-06 16:50] dav-ell commented on #766
Is there any way we can also get support for

[code]

and / or:

[code]

Code and logs attached.

[testdiv.py.txt](https://github.com/NVIDIA/Torch-TensorRT/files/8428891/testdiv.py.txt)
[logs_debug.txt](https://github.com/NVIDIA/Torch-TensorRT/files/8428886/logs_debug.txt)

[2022-04-06 18:12] narendasan commented on #961
Hmm yeah seems like the `1, 64, 16, 249` is derived from a series of batch norms and `1, 64, 16, 248` from upsample nearest, that definitely narrows down where to look.

[2022-04-06 18:14] dav-ell commented on #961
Yeah, trying to find a minimal reproducible script now. Is there a way to make the conversion fall back to PyTorch for these kind of issues, or is fixing this issue, for example, part of the Torch-TensorRT conversion process?

[2022-04-06 18:42] dav-ell commented on #961
By adding `torch_executed_ops=["aten::ceil"]`, I can get farther along. Like so:

[code]

Though then I get stuck with another error.

[code]

I don't see any errors that might help me with how to fix it, however. Log below.

[logs_full_debug.txt](https://github.com/NVIDIA/Torch-TensorRT/files/8429543/logs_full_debug.txt)

[2022-04-07 18:44] ncomly-nvidia commented on #766
Hi @dav-ell we absolutely can look into adding those operators into Torch-TRT! This issue is being used to track the operators for Video-Swin-Transformer specifically. Can you please file a new issue with this information and your use case / need?

Also, feel free to try & implement these ops yourself and submit a PR! We are always happy to get community contributions.

[2022-04-07 19:12] narendasan commented on #961
yes. You can explicitly specify operators to run in PyTorch using `torch_executed_ops`

[2022-04-08 00:02] #643 closed

[2022-04-08 01:15] narendasan commented on #929
Is this still an issue with Torch-TensorRT 1.0.0?

[2022-04-08 01:37] ruoqianguo commented on #766
Video-Swin-Transformer will be supported once [#870](https://github.com/NVIDIA/Torch-TensorRT/pull/870) goes through.

[2022-04-08 01:57] LightSun opened #968 "🐛 [Bug] Resize is currently not support in dynamic input shape compilation"
##  Bug Description

I build the torch-Tensorrt my self at day 2022-04-05.
Everything work ok unless I run the module.
the log is:
[code]

## To Reproduce

currenly can't latter may I provide a dynamic sample.

## Expected behavior

running ok for everything.

## Environment

 - Torch-TensorRT Version :  the master newest at day 2022-04-05
 - Tensorrt:  8.2.2.1
 - PyTorch Version (e.g. 1.10.0):  1

[2022-04-08 13:30] Emmanuel-Messulam opened #969 "✨[Feature] Provide wheel for arm"
**Is your feature request related to a problem? Please describe.**
Installing on Jetson requires compilation.

**Describe the solution you'd like**
Provide wheel for arm.

**Describe alternatives you've considered**
Compiling directly

**Additional context**
Xavier AGX 16GB

[2022-04-08 14:24] pepinu commented on #960
WORKSPACE FILE:

[code]

third_party/cudnn/loca/BUILD:

[code]

third_party/cudnn/archive/BUILD:

[code]

As for the third_party/cudnn/BUILD - It seems I do not have such file 😞

[2022-04-08 21:33] JHancox opened #970 "🐛 [Bug] Encountered bug when using Torch-TensorRT"
##  Bug Description

Documentation Error

## To Reproduce

Steps to reproduce the behavior:

The example given for CLI usage here:
[https://nvidia.github.io/Torch-TensorRT/tutorials/torchtrtc.html](https://nvidia.github.io/Torch-TensorRT/tutorials/torchtrtc.html)
has the .pt and .ts commands the wrong way round

## Expected behavior

It should be like this:
`torchtrtc tests/modules/ssd_traced.jit.

[2022-04-09 00:02] #741 closed

[2022-04-09 03:35] #911 closed

[2022-04-09 03:37] #952 closed

[2022-04-09 03:41] #915 closed

[2022-04-09 03:43] #867 closed

[2022-04-11 09:41] edric1261234 commented on #952
mark

[2022-04-11 17:02] david-photoroom commented on #878
Hi all, I have a first version for the the group_norm layer converter using the GN plugin in TensorRT.

I add a group_norm.cpp file that wrap the correct pytorch signature. I also add to ignore the batch size checking that lead to unsupported operator used for the check...

Now the compilation/conversion from a pytorch model is ok but when I run an inference of the model (typically by modifying th

[2022-04-11 18:15] narendasan commented on #970
Thanks for reporting this, we will fix this in the docs.

[2022-04-11 18:16] narendasan commented on #969
This is on our roadmap as part of an infrastructure upgrade but its going to be a bit before we can share precompiled aarch64 builds

[2022-04-12 00:02] #781 closed

[2022-04-12 01:24] #925 closed

[2022-04-12 01:55] narendasan commented on #960
Yeah sorry, the file I was interested in was `third_party/cudnn/local/BUILD`. This seems mostly fine from a glance. I assume you installed cudnn via the exe and not the zip right? Is the path for the cudnn headers something like  `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.6\cuda\include\cudnn.h`? I think what is happening is that maybe the cudnn and cuda files are getting mixed up by

[2022-04-12 08:01] JHancox commented on #970
Thanks @narendasan. That makes sense. Perhaps worth changing the output parameter to something that looks more like a trt file than a torchscript input e.g. .trt rather than .ts as IMHO this is a source of confusion.

[2022-04-12 15:20] pauline6 opened #973 "🐛 [Bug] Error while loading Torch-TensorRT model (torch.jit.load)"
## Bug Description

The model below is converted in a Torch-TensorRT model, the sub_function module is excluded from the conversion. While loading the module with torch.jit.load, this error is raised.

[code]

## To Reproduce

[code]

## Expected behavior

The Torch-TensorRT model should be load in model to be used.

## Environment

- Torch-TensorRT Version (e.g. 1.0.0): 1.0.0
- PyTorch Version (e

[2022-04-12 15:52] narendasan commented on #970
we could do something like .trt.ts perhaps, but this is a valid torchscript file and presumably a .trt file would be like a normal standard PLAN file from TensorRT

[2022-04-12 17:38] JHancox commented on #970
It's the .ts extension that was the source of confusion for me - sounds like it ought to be a torchscript file, but if that is a convention then probably best to leave as is. Thanks anyhow - feel free to close.

[2022-04-12 20:48] #803 closed

[2022-04-12 22:15] dav-ell commented on #961
I've been able to convert the most problematic part of my network (so far), but when performing inference it gives me a segmentation fault. @narendasan can you help with this at all? I'm now working on the PyTorch -> ONNX -> TensorRT route, because ONNX isn't giving me the same issues that Torch_TensorRT is.

[test_bifpn.py.txt](https://github.com/NVIDIA/Torch-TensorRT/files/8476889/test_bifpn.py.

[2022-04-14 02:53] LightSun commented on #968
@xsacha @aaronp24 @itsliupeng @lukeyeager

[2022-04-14 03:00] narendasan commented on #961
Hmm, I will take another pass on this once we wrap up this release cycle. I can replicate the segfault and it seems to be coming from PyTorch. From what I can tell the tensors we are getting passed in the engine execution op are malformed, so when we query for things from PyTorch like current device and data type we get null pointer dereference's within torch::Tensor.

This is odd since our infere

[2022-04-14 03:10] #963 closed

[2022-04-14 12:16] timohueser commented on #878
Hi David,
I'm also tying to implement a converter, can you tell me how you manage to ignore the batch size check?

[2022-04-15 08:25] handoku opened #977 "❓ [Question] how to enable "torch fallback""
## ❓ Question

I was told that torch-trt was able to partially convert graph to tensorrt while keep the unsupported part running on torch-runtime.
And I also hava Found some 'Torch Fallback' or 'torch_fallback' str at the source code.

So I generate a module containing `torch.argmax` , which is not supported by torch-tensorrt. And give it a shot, but it failed.

I hava two question:
1.  Is the fal

[2022-04-15 09:25] handoku commented on #977
closing this issue for having found some mistakes.

[2022-04-15 09:25] #977 closed

[2022-04-15 09:46] david-photoroom commented on #878
I have patch the group_norm from PyTorch without the check of the batch size, but it seems that with the ngc21.12 there is no need to do that

[2022-04-15 19:46] timohueser commented on #878
I see. I'll do that as well for now then. How do you manage to pass the weight and bias argument to the GroupNormPlugin? I can't find a way to convert the Tensors to ITensors.

[2022-04-16 02:47] pepinu commented on #960
Well, I've tried many things, from changing CUDNN folder to the same cuda has, moving headers to the cuda folder, moving them to different folders so it would catch it but to no avail. I think I don't understand how the bazel loads these headers, and where/how to manipulate the rules to make them attached to the build.

The error is persistent and the same, that no dependencies were found for this

[2022-04-16 18:59] naor2013 opened #979 "🐛 [Bug] None as const doesn't work"
##  Bug Description

I tried to convert a scripted module to torch-tensorrt but it includes None as a const and it seems like that is not supported.

## To Reproduce

Take a module with None as a variable in it, use torch.jit.script on it and then try to compile it with torch-tensorrt.

The error I got:
RuntimeError: 0INTERNAL ASSERT FAILED at "../torch/csrc/jit/ir/alias_analysis.cpp":607, please

[2022-04-16 21:49] narendasan commented on #979
Can you provide a reproducing example?

[2022-04-17 00:13] naor2013 commented on #979
@narendasan I did some more digging and I found where the issue is but I can't seem to reproduce it when I try to do a minimal example.

Basically in the linear_to_addmm there is a path for bias=None/False and other.
It seems like for some reason, in a model where I have many linear layers and only one of them has bias=False, it tries to convert it as if it does have bias, causing the situation wh

[2022-04-17 23:37] narendasan commented on #979
If you turn on graph mode:

[code]

You will get the graphs at each stage of lowering. We should log the transformations including pre and post `linear_to_addmm`

[2022-04-17 23:49] narendasan commented on #960
I would expect it to be `external/cudnn/cudnn.h`, the external/cuda/ implies that cuda BUILD file is globbing it in and is confusing bazel at least from what I can tell.

Perhaps something to try is to modify the `third_party/cuda/BUILD` glob rules to exclude cudnn headers explicitly (https://bazel.build/reference/be/functions#glob). Something like whats below for all package entries in the BUILD

[2022-04-18 07:34] naor2013 commented on #979
@narendasan I did that, I can see that the linear was getting None on the bias parameter and yet torch-tensorrt did the transformation as if it is a regular linear without a "None".
I just don't know why that happens.

[2022-04-18 14:17] handoku commented on #973
Any progress here?  Same problem.

[2022-04-18 16:55] bowang007 opened #981 "🐛 [Bug] Expected to find type Dict(str, Tensor) for value but get nothing"
##  Bug Description

seems like we are missing the type Dict in shape analysis when we parse the input types.

reported error:
[code]

## Expected behavior

Can be fixed quickly once we support the Dict type parsing in shape analysis.

[2022-04-18 17:04] bowang007 opened #982 "🐛 [Bug] Failed to use stoi to get the engine ID in TRTEngine function"
##  Bug Description

Got this  error:
[code]

Debugged and found that it fails at this line: https://github.com/NVIDIA/Torch-TensorRT/blob/c95229144432d96f4bdaa71fb1d242242d42bc29/core/runtime/TRTEngine.cpp#L63

## To Reproduce

 MaskRCNN model from detectron2.

## Expected behavior

should figure out why we cannot find a number from this engine.

[2022-04-18 22:54] bowang007 opened #983 "🐛 [Bug] No type to cast for Uninitialized type"
##  Bug Description

We are getting this kind of ivalue type https://github.com/pytorch/pytorch/blob/b34b192d6b97325c9f78e5995c48c8498ede34bd/aten/src/ATen/core/ivalue.h#L159, however, when it's used by a later subgraph in fallback shape analysis, there is no available types that we can cast to.

For example, we have this subgraph:

[code]

The second input is a uninitialized type, which is taken

[2022-04-19 00:02] #787 closed

[2022-04-19 06:40] IamNaQi opened #985 "Error Code 1: Myelin (Compiled against cuBLASLt 10.2.2.0 but running against cuBLASLt 11.4.2.0.)"
Hi I am using TensorRT for an images in python but getting this issue.
**I am Yolort to infer image.**
[https://github.com/zhiqwang/yolov5-rt-stack](url)
[code]
**Here is my environment**

[code]

![image](https://user-images.githubusercontent.com/76849182/163939405-8de7b9e3-a15d-4563-9ede-af71a70bc1f8.png)

[2022-04-19 15:35] david-photoroom commented on #878
The GroupNormPlugin provided by TensorRT doesn't support the fine-tuned weights and biases. I bypass this missing feature with the addScaleNd TensorRT layer that I plugged after the call of the GroupNormalizationPlugin

[2022-04-19 15:59] david-PHR opened #987 "❓ [Question] How do you add CUDA kernels used for implemented plugins ?"
## ❓ Question

How do you add CUDA kernels used for implemented plugins ? I have developed my own implementation for several layers that are not supported yet by Torch-TensorRT.  I'm not familiar with the bazel compilation flow and i  would like to know how to compile .cu files in Torch-TensorRT.

Current provided Torch-TensorRT plugins make calls to external libraries (cuDNN for example) but ther

[2022-04-19 17:41] chaoz-dev commented on #911
Just tested this using NGC `nvcr.io/nvidia/tensorrt:22.03-py3` using latest master commit `7330c4`, but I'm still seeing the same error:
[code]
Should I reopen this issue or create a new one?

[2022-04-19 17:53] chaoz-dev commented on #814
Updating the above script so that running one_hot is correct in the non-TRT case:
[code]

[2022-04-19 17:54] chaoz-dev commented on #814
I'm still seeing the same error however:
[code]

[2022-04-19 17:56] chaoz-dev commented on #814
Seems like we're still inferring F32 here
[code]
Although it's possible the issue is that we're trying to compile just one op that's immediately at the beginning and end of the graph, so we're not falling back as we should and leaving the tensor alone (since it's of int64, which cannot be converted in TRT).

[2022-04-19 17:57] chaoz-dev commented on #814
Should I reopen this ticket or create a new one?

[2022-04-19 18:02] chaoz-dev commented on #803
Confirmed fix for this; I'm now seeing the following output:
[code]
So the printout has now been demoted to Info logging level.

[2022-04-19 20:18] narendasan commented on #987
Theres a few options.
You can register converters and plugins at runtime to extend the compilers libraries. Here is an example on how to register a custom converter https://github.com/NVIDIA/Torch-TensorRT/tree/master/examples/custom_converters. Plugins just need to be registered with TensorRT, not specifically Torch-TensorRT so you can follow the standard plugin writing procedure there. Alternati

[2022-04-19 20:26] narendasan commented on #985
I dont think YoloRT uses Torch-TensorRT but the TensorRT Python API so you might get better help asking in [NVIDIA/TensorRT ](https://github.com/NVIDIA/TensorRT/) but seems to me you have an old version of the TensorRT Python API being used.

[2022-04-20 00:02] cyfwry commented on #812
您好，您发给我的邮件已收到！

[2022-04-20 04:46] pepinu commented on #960
Thanks for the suggestions. I've tried to exclude the headers as mentioned but to no avail.
I've downloaded the repo once again just to be sure I did the steps correctly from the scratch and went with the http_archive() as bazel would install cudnn
 I thought the best and simplest way would be to go with the http_archive which I implemented, but the error stayed the same, although with some DEBUG

[2022-04-20 09:14] ruoqianguo commented on #766
@ncomly-nvidia  Sorry to open this issue again after so long.
I failed converting Video Swin-Transformer with latest master code.  Because there are still some 'aten::Int' ops left after lowering graph.   I attached the log_full_compilcation file.
When i made the "aten::Int" operation to execute in Torch, it also failed.  I am trying to figure it out.  I attached the log_fallback file.
[log_full_c

[2022-04-20 10:02] IamNaQi commented on #985
Thank you so much

[2022-04-20 10:02] #985 closed

[2022-04-20 11:44] handoku opened #989 "🐛 [Bug] Segmenfault when deal with rfftn op (or torch.complex dtype)"
##  Bug Description

a minimal example could be:
[code]

output:
[code]
the stack info:
[code]

## Environment
I am using nvidia ngc pytorch image release 22.02

 - Torch-TensorRT Version (e.g. 1.0.0):
 - PyTorch Version (e.g. 1.0):
 - CPU Architecture:
 - OS (e.g., Linux):
 - How you installed PyTorch (`conda`, `pip`, `libtorch`, source):
 - Build command you used (if compiling from source):
 - A

[2022-04-20 12:06] handoku commented on #989
code above is an example resulting in segment fault.
however, in my real case, the error raised is :
[code]

[2022-04-20 17:14] pvicente-sensei opened #990 "✨[Feature] Provide wheel for Pytorch 1.11.0"
**Is your feature request related to a problem? Please describe.**

Installation with the lastest PyTorch release (Pytorch 1.11.0 + CUDA 11.3) requires master compilation.

**Describe the solution you'd like**

A new python wheel release for python to install Torch_TensorRT via pip3.

**Describe alternatives you've considered**

Using one of the docker containers instead of installing locally

[2022-04-22 01:29] andi4191 commented on #783
@Scass0807 : You can try trtexec tool from TensorRT with option --dumpLayerInfo --verbose to list the layer details in your TRTEngine.

For quick reference: https://github.com/NVIDIA/TensorRT/blob/main/samples/common/sampleOptions.cpp#L1518

[2022-04-22 01:42] narendasan commented on #960
Hmm, yeah i feel like the issue is the `includes = ["include/"],` in the cuda target. Perhaps its just worth creating a cuda/cudnn target and using that over the original third_party/cudnn. This might be easier.

So this would be something like:
In `//third_party/cuda/BUILD`:

[code]
Then in instances where `@cudnn//:cudnn` appears as a dependency like in the TensorRT BUILD file you would change t

[2022-04-22 02:41] #673 closed

[2022-04-22 17:47] ncomly-nvidia commented on #990
Hi @pvicente-sensei thanks for the request! We are in the process of putting out a PyT 1.11 build in the coming weeks.

Re: alternative option - can you describe your preference for installing locally over using the docker containers on NGC?

[2022-04-22 17:56] ncomly-nvidia commented on #946
Great suggestion @chaoz-dev. As we discussed, we will be creating a static "legacy sw stack" that is supported by new versions of Torch-TRT for some period of time. The sw versions for this stack are still TBC, but likely will be tied to PyTorch LTS versions.

Note that this is different from LTS: LTS defines an old version of Torch-TRT that continues to get bug fixes. This is not currently on the

[2022-04-22 18:04] ncomly-nvidia commented on #860
Fixed in #866. If this isn't correct, please reopen.

Thanks for submitting a PR to resolve this!

[2022-04-22 18:04] #860 closed

[2022-04-24 00:02] #661 closed

[2022-04-24 01:43] DuaneNielsen commented on #990
I'll give my 2c.  Docker containers are great for deployment.  They really suck for development.

For example, debugging code inside docker containers introduces a ton of new items to juggle that can go wrong.  First I have to setup and get NVIDIA docker working.  Then I have to setup the docker container volumes so I can have persistence, then I have to figure out how to get logging out and get t

[2022-04-24 21:35] pepinu commented on #960
Alright, I added the changes as you proposed, but the error is still persisting.

I went to C:/users/48698/source/libraries/new/torch-tensorrt-1.0.0/torch-tensorrt-1.0.0/core/plugins/BUILD
and tried a few things, when I comment nvinfer and nvinfer plugin from deps, the error does not change at all, which is very confusing to me. The nvinfer should have in itself already the dependencies resolved,

[2022-04-25 11:36] jonahclarsen commented on #226
Wondering if you've resolved this yet? I am having the same issue, trying to use Torch-TensorRT on Windows and having trouble building it myself.

[2022-04-25 15:48] david-photoroom commented on #987
Thank you for the explanation !
Do you have some known examples that doesn't works with these experimental rules ?

[2022-04-25 16:28] ncomly-nvidia commented on #823
@peri044 bump. @narendasan we should bring up with TRT team in our sync Friday

[2022-04-25 16:30] #837 closed

[2022-04-25 16:37] #794 closed

[2022-04-25 16:38] ncomly-nvidia commented on #698
We are in the process of supporting Detectron2 OD networks. We will updated when there is a concrete timeline.

[2022-04-25 16:52] ncomly-nvidia commented on #711
The outstanding layers have been added as feature requests. Adding the bug tag since `require_full_compilation = False` so partial compilation should work.

[2022-04-25 16:57] ncomly-nvidia commented on #537
@borisfom is this issue still present with the latest APIs? Do you have a preference for CLI vs API?

[2022-04-25 17:01] #852 closed

[2022-04-26 08:49] jcyhcs commented on #813
@narendasan @Hommus
hi,professor:
i also come with the same problem, so how did you resolve this problem?
HELP PLEASE!

[2022-04-26 12:29] tiandi111 opened #1001 "❓ [Question] How to differentiate a Torch-TensorRT model from a pure TorchScript model?"
## ❓ Question

I'm developing a C++ inference server to deploy Torch-TensorRT models and TorchScript models. Since the Torch-TensorRT compilation process is done AOT, Is there a way to know wether the given .pt model file is a Torch-TensorRT model or a pure TorchScript model?

Thanks!

[2022-04-26 16:03] ikergarcia1996 opened #1002 "🐛 [Bug] undefined symbol: _ZNK3c104Type14isSubtypeOfExtERKSt10shared_ptrIS0_EPSo"
##  Bug Description

When I install TensorRT and Torch-TensorRT using pip I encounter the error:

[code]

## To Reproduce

Steps to reproduce the behavior:

Python 3.9.7, A30 GPU with 470.82.01 driver version. Cuda version: cuda_11.3.r11.3. Cudnn: 8.2

I run the following command in a  clean Python environment:
[code]

I can import tensorRT successfully
[code]

## Environment
[code]

[2022-04-26 16:09] narendasan commented on #1002
This is probably because you are using PyTorch 1.11 with Torch-TensorRT 1.0.0 which targets PyTorch 1.10. Our 1.1.0 release is coming soon. In the meantime master supports 1.11

[2022-04-26 16:14] narendasan commented on #987
Its been a while since I looked at it but iirc, some specific code structuring is needed (separating kernel code from host code) and then you need to be a bit careful with the dependencies for kernel code. I think there should be some basic examples in that repo

[2022-04-26 16:47] #1002 closed

[2022-04-26 20:08] ncomly-nvidia commented on #829
Hi @sunhailin-Leo can you please provide the compilation specs? In particular, is `require_full_compilation = False` (default)?

It looks like you're calling `convert_method_to_trt_engine`, however, we see that `aten::int` and `aten::cross_entropy_loss` weren't supported. For `convert_method_to_trt_engine` to convert the module to a TRT engine, the entire graph must be supported.
@narendasan we sh

[2022-04-26 22:41] narendasan commented on #982
@bowang007  I have a fix for this

[2022-04-26 22:43] bowang007 commented on #982
could you please share more details?

[2022-04-27 02:05] tiandi111 commented on #1001
Thank you very much!

[2022-04-27 02:05] #1001 closed

[2022-04-27 06:07] Scikud opened #1005 "aten::einsum(str equation, Tensor[] tensors) -> (Tensor)"
Would be super useful to add support for einops and in particular einusm

[2022-04-27 06:50] koliaok opened #1006 "[Question]Doesn't torch tensorrt support LSTM-based decoder optimization??"
## ❓ Question
Doesn't torch tensorrt support LSTM-based decoder optimization? The reason for asking this question is that the model forward and model test structures learned in the seq2seq structure are different (beam search, sequence inference ..), and the optimized model cannot be used by inputting only training forward logic.

## Environment
Tensorrt 22.03 docker image:
https://docs.nvidia.com

[2022-04-27 12:57] jonahclarsen commented on #960
Any updates? I am currently working through the same issue

[2022-04-27 14:06] jonahclarsen opened #1008 "✨[Feature] Add precompiled Windows binaries for Libtorch"
**Is your feature request related to a problem? Please describe.**
I am new to machine learning, my current project involves inference with a large CNN on Windows. As is, it's too large to fit in VRAM, so I need to quantize it - hence why I need Torch-TensorRT.

However, while I am trying my best to follow #856 and #960, their instructions are not easy to understand since I have no experience with

[2022-04-27 20:49] ncomly-nvidia commented on #813
Hi @jcyhcs. The issues is Torch-TRT v1.0 does not support TRT 7.1.3, which is what JetPack 4.5 contains. @narendasan described how the source code could be modified to guard around TensorRT versions to get around this issue.

If you would prefer not to modify the source and rebuild, I recommend using Torch-TRT v1.1 with JP 4.6, which uses TensorRT 8.0.

[2022-04-27 20:49] #813 closed

[2022-04-27 20:51] ncomly-nvidia commented on #812
Fixed in #759

[2022-04-27 20:51] #812 closed

[2022-04-28 02:55] XWHtorrentx opened #1010 "🐛 [Bug] torch.jit.frontend.NotSupportedError: Compiled functions can't take variable number of arguments or use keyword-only arguments with defaults"
Error:
torch.jit.frontend.NotSupportedError: Compiled functions can't take variable number of arguments or use keyword-only arguments with defaults:
  File "/home/user/anaconda3/envs/torchtensorrt/lib/python3.8/site-packages/torch/utils/checkpoint.py", line 145
def checkpoint(function, *args, **kwargs):
[code]

[2022-04-28 17:22] narendasan commented on #1010
This is a limitation of TorchScript. Likely if you try to do `torch.jit.script` (which we do internally in `torch_tensorrt.compile`) you will see this error before passing it to  `torch_tensorrt.compile`

[2022-04-28 18:33] yuriishutkin commented on #856
torch_tensorrt.dll file is actually the name of generated library as [narendasan](https://github.com/narendasan) said.
torch_tensorrt.dll.if.lib should be used when you want to link it with the rest of your application.

But for me it was not end of the story, because after I've built the torch_tensorrt library it appeared to have conflicts with installed torch library. It just crashed with except

[2022-04-29 14:24] jonahclarsen opened #1014 "❓ [Question] Building torch_tensorrt.lib on Windows"
## ❓ Question

I am wondering how to build the torch_tensorrt.lib on Windows.

## What you have already tried

I have followed #960 and #856 (with the same WORKSPACE as the latter) and managed to successfully build torch_tensorrt.dll. However, I need the .lib file in order to compile my Libtorch program. I tried linking to some of the .lib files that were created already (like bazel-out\x64_window

[2022-04-29 22:18] bowang007 commented on #922
I took a look into this issue. This is caused by resolveNonTensorInput function.
What happens here is that when you are using:
[code]
It will introduce a NonTensorInput for the minigraph, this will induce ResolveNonTensorInput function to segment this subgraph again. This explains why it's fine when you change it to
[code]
Let me say if we can refactor this function since it's doing a mess here.

[2022-04-30 12:40] jonahclarsen commented on #1014
I managed to create the .lib file from the .dll following these instructions: https://web.archive.org/web/20140219172454/https://adrianhenke.wordpress.com/2008/12/05/create-lib-file-from-dll/ (adding /MACHINE:X64 to the lib command), but the .dll didn't contain the torchscript namespace and its functions/classes.

I found that the torchscript namespace was in cpp\_objs\torch_tensorrt\compile_spec.

[2022-04-30 22:17] narendasan commented on #1014
Are the symbols from the top level namespace available? Like torch_tensorrt::Input? Unfortunately I don't have a ton of experience with windows development.

Perhaps bazel can directly generate the .lib for you. The final library targets in the repo are located at `//cpp/lib/BUILD`. There is already a dll target, perhaps you could also make a .lib target as well. I think all you would need to do i

[2022-04-30 22:22] narendasan commented on #1008
Yes we have had a lot of requests for this. Look at #1007 to track progress for this thread going forward.

[2022-05-01 19:54] andreabonvini commented on #856
@jonahclarsen Hi! Unfortunately not, I think I was kinda able to generate `torchtrt_runtime.dll` but something was wrong when I tried to link it to my program. I haven't had the time to continue investigating recently, but for sure I will retry in the following two months. I will 100% follow this thread during my spare time though.

[2022-05-01 22:09] jonahclarsen commented on #1014
@narendasan Even torch_tensorrt::Input throws an 'unresolved external symbol' linker error.

I tried adding a .lib target to cpp/lib/BUILD just under the .dll target, but it doesn't do anything.

There is a 4KB torch_tensorrt.def file in cpp/lib, but when I added it as shown below (I tried with both the .dll and .lib targets):

    name = "torch_tensorrt.dll",
    srcs = [],
    linkshared = True,

[2022-05-01 22:25] narendasan commented on #1014
So the lib target will not get included in the package builder target `//:libtorchtrt` (defined in `//BUILD`). Probably its best to start by trying to build `//cpp/lib:torch_tensorrt.lib` before dealing with packaging.

I was reading a bit more on def files and it seems like it's not really necessary, but we might need to change the TORCHTRT_API macro (https://github.com/NVIDIA/Torch-TensorRT/blob

[2022-05-01 22:25] narendasan commented on #1014
Re the missing file error, that is because bazel expects a def file in //cpp/lib

[2022-05-01 22:30] jonahclarsen commented on #1014
@narendasan there is a def file in //cpp/lib

[2022-05-01 22:40] narendasan commented on #1014
Hmm and this is the source //cpp/lib and not like //bazel-torch-tensorrt/cpp/lib? Maybe try clearing the cache?

bazel clean --expunge

________________________________
From: Jonah ***@***.***>
Sent: Sunday, May 1, 2022 3:30:48 PM
To: NVIDIA/Torch-TensorRT ***@***.***>
Cc: Naren Dasan ***@***.***>; Mention ***@***.***>
Subject: Re: [NVIDIA/Torch-TensorRT] ❓ [Question] Building torch_tensorrt.lib o

[2022-05-01 22:42] jonahclarsen commented on #1014
I tried running `bazel build //cpp/lib:torch_tensorrt.lib --compilation_mode opt` and got the following (with no .lib file generated):

INFO: Analyzed target //cpp/lib:torch_tensorrt.lib (1 packages loaded, 1 target configured).
INFO: Found 1 target...
INFO: From Linking cpp/lib/torch_tensorrt.lib.dll:
LINK : warning LNK4044: unrecognized option '/lpthread'; ignored
LINK : warning LNK4044: unrecog

[2022-05-01 22:44] jonahclarsen commented on #1014
Yes this is //cpp/lib. Just tried clearing the cache, ran mostly til the end then gave the same error but of course ending this time in:

INFO: 762 processes: 677 internal, 85 local.
FAILED: Build did NOT complete successfully

[2022-05-01 22:53] jonahclarsen commented on #1014
I also modified line 11 of macros.h to `#define TORCHTRT_API __attribute__((__visibility__("default"))) __declspec(dllexport)` and was able to successfully build the .dll with that as before, the .dll is the same size though so I'm not sure if it made any difference.

[2022-05-01 22:56] jonahclarsen commented on #856
@andreabonvini Wondering if you've made any progress on this - did you end up getting the trtorch.lib or runtime.dll files?

[2022-05-01 22:56] narendasan commented on #1014
Should it be all one line or should it be it’s own MVSC case for TORCHTRT_API?
________________________________
From: Jonah ***@***.***>
Sent: Sunday, May 1, 2022 3:53:52 PM
To: NVIDIA/Torch-TensorRT ***@***.***>
Cc: Naren Dasan ***@***.***>; Mention ***@***.***>
Subject: Re: [NVIDIA/Torch-TensorRT] ❓ [Question] Building torch_tensorrt.lib on Windows (Issue #1014)

I also modified line 11 of macro

[2022-05-01 22:57] jonahclarsen commented on #856
Okay, too bad! Hopefully we can figure it all out soon, I am highly motivated to get this into my Libtorch Windows program.

[2022-05-01 23:00] jonahclarsen commented on #856
@yuriishutkin When I tried linking my program against torch_tensorrt.dll.if.lib, I still get 'unresolved external symbol' linker errors, even just using a the Input() function that isn't in any namespaces. Are you saying that file was enough for you to successfully link your program? Were you able to use namespaces like torchscript?

[2022-05-01 23:01] jonahclarsen commented on #1014
I'm not sure what you mean, if I define TORCHTRT_API again then won't it just replace the existing __attribute__ definition?

[2022-05-01 23:04] jonahclarsen commented on #1014
I tried it on a new line as so:

#define TORCHTRT_API __declspec(dllexport)

And was again able to build the .dll successfully (it was the same size as before), but still not the .lib file.

[2022-05-01 23:07] narendasan commented on #1014
I think something more along the lines of this https://ms-iot.github.io/ROSOnWindows/Porting/SymbolVisibility.html

Since I believe the  `__attribute__` flags are mostly for GCC.

[2022-05-01 23:49] jonahclarsen commented on #1014
Okay, that was a helpful lead. I added `__declspec(dllexport)` (using a DLLExport macro to make it a little easier) to the declaration and definition of the three functions that were displaying the linking errors (for each of their overloads), and those errors went away, but I got a similar error with reference to toDims() in trt_util, so I did the same thing there for the two overloads. This prod

[2022-05-01 23:57] jonahclarsen commented on #1014
I found a similar command in bazel, and tried executing `bazel build //cpp/lib:torch_tensorrt.lib --compilation_mode opt --features=windows_export_all_symbols`. I got the following error:

INFO: Build option --features has changed, discarding analysis cache.
INFO: Analyzed target //cpp/lib:torch_tensorrt.lib (0 packages loaded, 2559 targets configured).
INFO: Found 1 target...
INFO: From Linking c

[2022-05-02 03:31] jonahclarsen commented on #1014
I managed to fix the TorchTRTLogger errors too by again adding DllExport. It seems that `features=windows_export_all_symbols` (like CMake's WINDOWS_EXPORT_ALL_SYMBOLS) doesn't actually export _all_ symbols.

However, I then got 21 unresolved externals, which was all the functions in core/lowering/passes except UnpackBatchNorm. Added DllExport to those.

After that, I got this error related to link

[2022-05-02 07:03] yuriishutkin commented on #856
Right, this is because MSVC does not have option to export all symbols like GCC does. You need to specify exported symbols manually, e.g. in export file.

For me the following worked:

 cpp/lib/BUILD | 5 +++++
 1 file changed, 5 insertions(+)

diff --git a/cpp/lib/BUILD b/cpp/lib/BUILD
index e6d50613..58102867 100644
--- a/cpp/lib/BUILD
+++ b/cpp/lib/BUILD
@@ -38,5 +38,10 @@ cc_binary(
     linkst

[2022-05-02 22:35] #981 closed

[2022-05-02 23:19] Scikud opened #1017 "Add support for Resize with dynamic input shape compilation"
I'm trying to compile a transformer model with dynamic input shapes and keep running into the
`RuntimeError: [Error thrown at core/conversion/converters/impl/shuffle.cpp:47] Resize is currently not support in dynamic input shape compilation`
error.  Would be super ideal to add support fo this feature

[2022-05-03 00:50] mfeliz-cruise opened #1018 "🐛 [Bug] KeyError after resolveNonTensorInputs"
##  Bug Description

Torch-TensorRT attempts to resolve all non-tensor inputs of a torch block if any of those inputs are generated by tensorrt blocks. This leads to a failed attempt to resolve a dictionary input to a torch block that is generated by another torch block. `getDependencyNodes` fails to identify the aten::_set_item as a dependency which results in a KeyError.

This is the original gr

[2022-05-03 00:51] mfeliz-cruise commented on #1018
I have a fix for this that modifies `resolveNonTensorInputs` to only resolve non-tensor inputs to torch blocks that are generated by trt blocks. Happy to put up a PR if I can get access as a contributor.

[2022-05-03 01:10] fschvart opened #1019 "Missing 3 input files: libnvinfer_plugin.so, libcudnn.so and libnvinfer.so"
## ❓ Question
I've been looking at all the great progress done previously when it comes to using Torch-TensorRT on Windows.
I made progress to the point that it seems like only 1 thing is missing. I'm missing the 3 .so mentioned above.
How are they supposed to be built? Am I missing something? Is there any fix that I missed?

## What you have already tried

I followed the guides from from #856

##

[2022-05-03 15:52] jonahclarsen commented on #1019
.a and .so files are linux library files, you need to modify the cpp/lib/BUILD file to include the Windows equivalents (i.e. .lib and .dll). See #690.

[2022-05-03 17:10] bowang007 commented on #1018
Hi @mfeliz-cruise , thank you for your help!
I was also looking into this issue last week, and I was wondering if it's possible to clone the dictionary node with inserted keys.
Hi @narendasan could you please help with him to raise a PR?

[2022-05-03 17:25] narendasan commented on #1018
You should be able to open a PR without any special privileges.

[2022-05-03 17:28] narendasan commented on #1017
Ack. There are some TRT limitations we would need to address to add this feature.

[2022-05-03 17:34] narendasan commented on #1014
Which target is missing `initLibNvInferPlugins`? Is it `//core/plugins`? It should be already declared as a target in the build file in that directory. Not sure if you need to do anything special for extern functions in windows. (https://github.com/NVIDIA/TensorRT/blob/main/include/NvInferPlugin.h)

[2022-05-03 17:34] narendasan commented on #1014
Also do you have a branch you can share even if its dirty that we can look at?

[2022-05-03 17:38] mfeliz-cruise commented on #1018
@bowang007  `I was wondering if it's possible to clone the dictionary node with inserted keys`
Would this clone resolve the copy between blocks? I guess we would need to create a Dict in the target block with all of the keys and values baked in. Either way it seems like we would need to identify the relevant sets which may be non-trivial with control flow. Seems like this might be as difficult as

[2022-05-03 20:52] narendasan commented on #944
@andi4191 can you verify and close?

[2022-05-03 21:16] yuriishutkin commented on #856
Sure, please take a look.

https://github.com/yuriishutkin/Torch-TensorRT/tree/windows

I run in py directory
`python setup.py install`

It builds torch_tensorrt.dll + torch_tensorrt.dll.if.lib and then links it to _C lib. The only thing, I do manually copy bazel-out\x64_windows-opt\bin\cpp\lib\torch_tensorrt.dll.if.lib to py\torch_tensorrt\lib\ because bazel do not copy this file automatically.

[2022-05-03 22:56] fschvart commented on #1019
I solved the problem. One thig that #856 is taking for granted is that everyone installed Torch-TensorRT locally, since I used the file:// version, I needed to change not the local/build, but the archive/build.

[2022-05-03 23:05] fschvart commented on #856
The issue with loading the torchscript is not a torch issue ,it's a torchvision.
First, you need to make sure that torchvision is built well and imported. Then you need to make sure you load the model on the CPU and only after move it to CUDA. That's what solved my problem after 3 weeks of going crazy

[2022-05-04 14:42] joshuafc opened #1023 "🐛 [Bug] Cannot work with PyTorch 1.11.0, libcaffe2_detectron_ops_gpu.so: No such file or directory"
##  Bug Description

[code]
## To Reproduce

Steps to reproduce the behavior:

1. wget https://download.pytorch.org/libtorch/cu113/libtorch-cxx11-abi-shared-with-deps-1.11.0%2Bcu113.zip
2. unzip it
3. the libtorch 1.11.0 package have no `libcaffe2_detectron_ops_gpu.so`, `libcaffe2_observers.so` and `libcaffe2_module_test_dynamic.so`, cause torchtrtc not work.

pytorch 1.8.2 has these libs and work

[2022-05-04 17:57] narendasan commented on #1023
How did you install Torch-TensorRT?

[2022-05-04 23:56] bowang007 commented on #922
@chaoz-dev I raised a PR for this bug just now.
The model you provided should be supported now.
Please take a look and ping me if there is any other issues.

[2022-05-05 00:02] #820 closed

[2022-05-05 05:43] Scikud opened #1025 "🐛 [Bug] Cuda Runtime bug when using PTQ"
##  Bug Description

When attempting to use TRT to PTQ quantize a 2B parameter GPT-neo model. I keep encountering the following error message
`[executionContext.cpp::commonEmitDebugTensor::1269] Error Code 1: Cuda Runtime (invalid argument)`
Oddly enough, the model will actually finish compiling but then when one tries to load the model with `torch.jit.load(model_path)` the following error  messag

[2022-05-05 09:20] lennartmoritz opened #1026 "🐛 [Bug] Cannot import torch_tensorrt after installing TensorRT via pip wheel"
##  Bug Description

After installing the TensorRT with the pip wheel installation, which is among the dependencies listed in the [installation guide](https://nvidia.github.io/Torch-TensorRT/tutorials/installation.html#installation), and then installing torch_tensorrt from the python package, I get an error when I import torch_tensorrt.
This is somewhat simmilar to Issue #887. But I dont think the

[2022-05-05 23:53] mfeliz-cruise opened #1027 "🐛 [Bug] EliminateExceptionOrPassPattern removes list append"
##  Bug Description

Exception or pass elimination incorrectly identifies an if block with only a list append in it as a removable exception. This changes model behavior and creates incorrect outputs.

[code]

## To Reproduce

Steps to reproduce the behavior:
[code]
1. Attempt to compile the model above with torch-tensorrt

## Expected behavior
The exception elimination pass should not remove this

[2022-05-06 00:35] jonahclarsen commented on #1014
I am not sure how to create a branch. However, I am abandoning building with Bazel (at least for now) because I was able to finally get the binaries created with CMake thanks to @gcuendet at #1007 (although I still haven't been able to use them in my Libtorch project without getting errors).

However, if you or anyone else wants to pursue building with Bazel further, here are the files/folders I m

[2022-05-06 03:15] narendasan commented on #1026
The TensorRT libraries need to be in your LD_LIBRARY_PATH

[2022-05-06 08:54] lennartmoritz commented on #1026
Okay, I tried to make sense of what I expect the LD_LIBRARY_PATH needs to point to with this pip installation.
I believe it should be `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/lennux/anaconda3/envs/omct/lib/python3.7/site-packages/tensorrt` in my case.
Below I'll add a screenshot showing on the left what would be linked in the LD_LIBRARY_PATH for a tar file installation of TensorRT, and on th

[2022-05-06 12:25] lennartmoritz commented on #1026
Okay, I think i fixed the issue. Importing torch_tensorrt is now working but I'll have to check if it can load my model, like it does in the containered version. For future reades I will include a step by step guide on how to install Torch-TensorRT 1.0.0 on Ubuntu 20.4 in an easy way.

### In short:
I had to downgrade my pytorch version to 1.10 and the TensorRT version to 8.0.3.4. But I think it w

[2022-05-06 22:04] #1027 closed

[2022-05-07 01:28] narendasan opened #1030 "✨[Feature] Move `torchtrtc` to using new atol + rtol tolerance measure"
**Is your feature request related to a problem? Please describe.**

Enhancement

**Describe the solution you'd like**

`torchtrtc` should use the new metric for tolerance

**Describe alternatives you've considered**

N/A

**Additional context**

[2022-05-07 01:47] #930 closed

[2022-05-07 01:48] narendasan commented on #930
Closing this as the immediate issue is solved but #982 will remain open as there are deeper issues hit when using partitioning

[2022-05-07 01:49] narendasan commented on #982
We still have the issue where TensorRT is changing the names of our input bindings so leaving this open to track this issue.

[2022-05-07 03:09] bowang007 opened #1031 "✨[Feature] Refactoring the Graph Segmentation in Partitioning"
**Is your feature request related to a problem? Please describe.**
What we are doing now for graph segmentation in partitioning is going through each node one by one then divide them into 2 parts: TensorRT supported/ TensorRT not supported. This kind of naive segmentation induces many small issues like what we had in these 2 issues:
#1018
#1024

Although these bugs could be fixed by patching NonTe

[2022-05-08 22:37] #1018 closed

[2022-05-09 02:38] joshuafc commented on #1023
`pip3 install torch-tensorrt -f https://github.com/NVIDIA/Torch-TensorRT/releases`

[2022-05-09 08:25] f291400 opened #1034 "torch_tensorrt.compile dynamic input shape failed"
## dynamic input shape failed

![image](https://user-images.githubusercontent.com/13358476/167369566-faabca74-ba4d-453c-a7b8-ef55aa6fc500.png)

![image](https://user-images.githubusercontent.com/13358476/167369373-9980b51f-330b-4905-a0c8-7e1ea529fbc7.png)

if set min_shape=[1,3,h, h] and op_shape= [1,3, h, h] and max_shape = [1,3, h, h] , which h is 32 or 512 or 1024,  it works. but if set
min_sha

[2022-05-09 09:09] gcuendet opened #1035 "🐛 [Bug] Torch-TensorRT static initialisation order"
This isn't directly a bug in itself, but rather a suboptimal design of the core_runtime library that can lead to bugs (such as the one [discussed here](https://github.com/NVIDIA/Torch-TensorRT/discussions/1007#discussioncomment-2697538)).

##  Bug Description

In `register_trt_op.cpp`, the core_runtime library registers the `execute_engine` function in torch, using the `TORCH_LIBRARY` macro.
[code

[2022-05-09 12:15] joshuafc commented on #698
Same problem, I have try FasterRCNN in torchvision.models.detection

install torch-tensorrt by `pip3 install torch-tensorrt -f https://github.com/NVIDIA/Torch-TensorRT/releases`

if use `torch.jit.trace`, when compile,   """ Only tensors, lists, tuples of tensors, or dictionary of tensors can be output from traced functions """

if use `torch.jit.script`, when compile,  """
temporary: the only val

[2022-05-09 17:03] narendasan commented on #1025
The full log would be helpful if you can share, the fact its dependent on the size of the model would lead me to start by looking at TRT itself. @peri044 can you take a look?

[2022-05-09 17:22] Scikud commented on #1025
[run_logs_2b.txt](https://github.com/NVIDIA/Torch-TensorRT/files/8653844/run_logs_2b.txt)
Thanks :) here are the logs.

[2022-05-09 17:32] andi4191 commented on #875
Hi @chophilip21 @Biaocsu,

It seems the error is related to this API change updated here in NGC 22.02 release.
https://github.com/NVIDIA/Torch-TensorRT/commit/449723ef014fc839cbed5fda0824419a902bd403#

However, I am able to build release/ngc/22.01 branch with BASE=22.01. Can you please check if your are using the correct checked out version?

[2022-05-09 17:39] andi4191 commented on #790
Hi @andreabonvini,

I think the issue is with the code base version checked out here. Please checkout release/ngc/21.12 branch if you want to use NGC 21.12 container as BASE container.
Can you please try this and let us know? Please remove any patches and try.

[2022-05-09 17:41] #1035 closed

[2022-05-09 17:42] narendasan commented on #1035
Thanks, restructured the runtime lib to hopefully avoid this

[2022-05-09 17:43] narendasan commented on #1034
Can you add

[code]

and provide the logs to us?

[2022-05-09 20:12] andi4191 commented on #944
Verified the script working.
Closing this issue.

[2022-05-09 20:12] #944 closed

[2022-05-09 22:31] bowang007 opened #1040 "🐛 [Bug] Torch-TensorRT failed test cases with TensorRT 8.4"
##  Bug Description

When the TensorRT is upgraded from 8.2 to 8.4, some test cases in test suite failed.
There are around 28 test cases failed.
Here are the test cases that failed with 8.4 while fine with 8.2.4:
test_cast,
test_activation,
test_elementwise,
test_interpolate,
test_linear,
test_pooling,
test_select,
test_conv1d_pass,
test_conditionals,
test_example_tensors,
test_serialization,

Alm

[2022-05-10 02:43] joshuafc commented on #1023
thanks!

[2022-05-10 02:43] #1023 closed

[2022-05-10 02:54] narendasan commented on #1040
Did you file an NVBug for this @bowang007?

[2022-05-10 08:20] f291400 commented on #1034
I use torch-tensorrt which is v1.0.0 version, how can I add debug?

[2022-05-10 09:56] mjack3 opened #1045 "❓ __torch__.torch.classes.tensorrt.Engine what does it mean?"
Hello community and thanks for this repo.

## ❓ Question

How can I load a tensorRT model after using torch.jit.save?

## What you have already tried

[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.10
 - CPU Architecture: x64
 - OS (e.g., Linux): 20.04
 - How you installed PyTorch: conda
 - Python version: 3.8
 - CUDA version: 11.6
 - GPU models and configuration: Nvidia RTX3090
 - Info

[2022-05-10 10:11] f291400 opened #1046 "🐛 [Bug] Encountered bug when using Torch-TensorRT, not support '//'"
##  Bug Description

![image](https://user-images.githubusercontent.com/13358476/167605874-b95375a4-e049-416f-8691-5d1bd24642aa.png)

## Environment

 - Torch-TensorRT Version (1.0.0):
 - PyTorch Version (e.g. 1.10.0):
 - CPU Architecture: intel
 - OS (e.g., Linux): linux
 - How you installed PyTorch (`conda`, `pip`, `libtorch`, source): pip
 - Python version: 3.9
 - CUDA version: 11.3

[2022-05-10 11:10] mjack3 commented on #973
Same problem here. Have someone any news?

[2022-05-10 11:18] #1046 closed

[2022-05-10 11:19] f291400 commented on #1046
use floor_divide

[2022-05-10 11:54] f291400 opened #1047 "can torch-tensorrt-1.1.0 support libtorch1.9 and cuda10.2?"
## ❓ Question

I want to know if torch-tensorrt-1.1.0 can be compiled with libtorch1.9 and cuda-10.2 ?

## Environment

 - PyTorch Version (e.g., 1.9.0):
 - CPU Architecture: x86
 - OS (e.g., Linux): linux
 - CUDA version:10.2
 - GPU models and configuration:T4

[2022-05-10 12:00] f291400 commented on #1045
I try torch.jit.load, it works
![image](https://user-images.githubusercontent.com/13358476/167623556-45349841-0d59-46b8-8639-34df15912d68.png)

[2022-05-10 12:46] f291400 commented on #1047
I try to compile it,  but bazel max-version is 4.2.1 , lower than 5.1 needed in torch-tensorrt, on linux  platform.

[2022-05-10 13:52] mjack3 commented on #1045
Well, I think the problem is in torchvision.models.feature_extraction.create_feature_extractor, which is used in my model.

This code works well
[code]
This code doesn't work
[code]

it either

**model = torch.hub.load('pytorch/vision:v0.10.0', 'resnet50', pretrained=True)
model = create_feature_extractor(model,
                                          {f'layer{k}': str(i) for i,k in enumerate([2

[2022-05-10 14:17] lennartmoritz opened #1048 "🐛 [Bug] Model compiles in Docker image, but not locally"
##  Bug Description

My code is working within the Nvidia Docker base image but on my local installation.
I supply a copy of a traced model to my code. For the Docker image with Torch-TensorRT 1.1.0a0, which is based on pytorch 1.12, I traced the model with the same pytorch version. For released local version of Torch-TensorRT is 1.0.0, which is based on pytorch 1.10, I traced the model with the s

[2022-05-10 14:38] mjack3 commented on #1045
Wel..not it's works.

I don't know why x)

[2022-05-10 15:08] mjack3 opened #1049 "❓ [Question] How can I move the converted tensorRT model in a Jetson system?"
## ❓ Question

I optimized a pytorch module with torch-TensorRT. How can I move the engine to a Jetson?

## What you have already tried

I tried torch.jit.load('trt_traced_model.ts') but get **__torch__.torch.classes.tensorrt.Engine** error
This error is what I get in my main computer if i don't import torch_tensorrt.

## Environment

 - PyTorch Version (e.g., 1.0): 10.0
 - OS (e.g., Linux): ARM U

[2022-05-10 15:26] f291400 opened #1050 "🐛 [Bug] Encountered bug when using Torch-TensorRT-1.1.0"
##  Bug Description

import torch_tensorrt caused error
<img width="1501" alt="image" src="https://user-images.githubusercontent.com/13358476/167665297-4dca4afb-624c-420f-b160-f940c39806db.png">
ImportError: /data/home/ttsyliu/softwares/miniconda3/envs/torch_tensorrt_1.1.0/lib/python3.9/site-packages/torch_tensorrt/_C.cpython-39-x86_64-linux-gnu.so: undefined symbol: _ZNSt18basic_stringstreamIcSt1

[2022-05-10 15:33] #1045 closed

[2022-05-10 15:34] mjack3 commented on #1050
I suggest you to install tensorRT from tar file instead pip

[2022-05-10 16:01] narendasan commented on #1047
Not out of the box. You can backport the 1.1 source code to 1.9 if you'd like (we can provide guidance on how to do so) but because TorchScript changes so often we need to target specific minor versions.

[2022-05-10 16:08] narendasan commented on #1050
Some cases of `aten::Int` are supported but not all due to TensorRT limitations. We will progressively add support for more use cases as we can

[2022-05-10 18:25] #931 closed

[2022-05-10 18:25] chaoz-dev commented on #931
Confirmed this fix.

[2022-05-10 18:38] chaoz-dev commented on #911
Fix is confirmed.

[2022-05-10 18:48] narendasan commented on #1040
Yeah Nick wanted to make sure TRT knew what broke due to the version upgrade

[2022-05-10 22:05] Scikud commented on #1025
@peri044 any insights :) ?

[2022-05-11 04:27] f291400 commented on #1050
subgraph is like:
class PA(nn.Module):
    def __init__(self, dim):
        super().__init__()
        self.pa_conv = nn.Conv2d(dim,
                                 dim,
                                 kernel_size=3,
                                 padding=1,
                                 groups=dim)
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        return x * self.sigmo

[2022-05-11 06:55] f291400 opened #1053 "🐛 [Bug] source code compile error"
##  Bug Description

bazel compile error.
![image](https://user-images.githubusercontent.com/13358476/167786182-80d4636e-75bf-484b-977a-77764bc591d5.png)

## To Reproduce

Steps to reproduce the behavior:

1. change WORKSPACE
![image](https://user-images.githubusercontent.com/13358476/167787006-816359ca-5d45-488a-9504-72b3f6e962d8.png)
![image](https://user-images.githubusercontent.com/13358476/16

[2022-05-11 07:11] andi4191 commented on #1053
The compilation error is due to torch API update in 1.10.0

you are using older version of libtorch with torch-tensorrt v1.1.0. Please refer to the release page for correct dependency version

[2022-05-11 07:15] andi4191 commented on #1053
If you are attempting to use old version of libtorch as mentioned in #1047  you need to backport 1.1.0 code base.

[2022-05-11 07:26] f291400 commented on #1053
OK, thanks

[2022-05-11 07:26] #1053 closed

[2022-05-11 07:27] #1047 closed

[2022-05-11 09:22] lennartmoritz commented on #1048
Thank you, my issue was fixed with 1.1.

[2022-05-11 09:22] #1048 closed

[2022-05-11 09:30] #1026 closed

[2022-05-11 21:04] andi4191 opened #1054 "✨[Feature] Update tolerance mechanism for test cases based on atol and rtol thresholds"
**Is your feature request related to a problem? Please describe.**

Need to update the atol and rtol based tolerance limit for test modules. Currently, it uses additional threshold parameter which is not required.

Ideally it should be abs(a - b) <= atol + rtol*abs(b)

**Describe the solution you'd like**

Adapt the test module for tolerance limit based on absolute and relative tolerance threshold

[2022-05-11 22:17] andi4191 opened #1056 "✨[Feature] Reduce the host dependencies based sessions from nox"
**Is your feature request related to a problem? Please describe.**

There are multiple host dependency based sessions in nox.
Refactor the code to use environment variable and reduced the nox sessions.

**Describe the solution you'd like**

Switched to USE_HOST_DEPS based switching of sessions.

**Describe alternatives you've considered**

Currently, separate sessions are being used.

**Additional

[2022-05-12 09:34] vvekic opened #1059 "🐛 [Bug] Wrong version of TensorRT in engine plan"
##  Bug Description

Building an engine using the official pytorch:22.04 image results in a plan file that doesn't run with tritonserver:22.04.
Not entirely sure where to post this issue, but let this be the first stop.

## To Reproduce

Steps to reproduce the behavior:

1. Convert a compatible torch jit trace to a serialized TensorRT engine using pytorch:22.04 (that has TensorRT 8.2.4.2)
1. Confi

[2022-05-12 18:03] ncomly-nvidia commented on #990
Torch-TRT v1.1 is out, built on PyT 1.11. See the [releases](https://github.com/NVIDIA/Torch-TensorRT/releases/tag/v1.1.0)

[2022-05-13 00:27] andi4191 commented on #1059
Hi @vvekic,

I haven't been able to reproduce this issue.
It seems to be an environment issue.

Can you try running the engine file you generated with trtexec inside the ngc 22.04 (same) container using following command:
`/opt/tensorrt/bin/trtexec --loadEngine=<your serialized TRT engine file>`

For generating a model I just tried one of the test cases here:

[code]

[2022-05-13 01:38] pvicente-sensei commented on #990
Hi @ncomly-nvidia
Sorry for the late reply and thanks for releasing v1.1.

I agree with @DuaneNielsen about being easier to prototype without docker.

[2022-05-13 07:51] vvekic commented on #1059
I've tried running the plan with `trtexec` in pytorch:22.04, and indeed it works. But that's no surprise since the plan was created using that same container.
The issue is that the plan doesn't load up in Triton Server container tritonserver:22.04 (server version 2.21.0), but loads up in previous version 22.03.
@andi4191 Have you successfully done that? use tritonserver:22.04 to load a plan create

[2022-05-13 17:04] andi4191 commented on #1059
@vvekic :
As I said before, I was not able to reproduce the issue.
Yes, I have tried running the same engine inside tritonserver container. It runs fine on my end:

I used following tritonserver image:
`nvcr.io/nvidia/tritonserver:22.04-py3`

from here: https://catalog.ngc.nvidia.com/orgs/nvidia/containers/tritonserver/tags

If you are able to build using TRT-8.2.4.2 successfully, you should be ab

[2022-05-13 21:28] frank-wei opened #1065 "✨[Feature] change branch name"
@ncomly-nvidia @narendasan , this issue is opened for discussing our request for setting up the branches. I have list the request 1 to follow the Meta policy with reasons and action items. If you agree, I will make the name change after we cleared the cautions. Request 2 is for our previous discussion too.

Request 1: Change master branch name to main branch

WHY ARE WE DOING THIS?
The software co

[2022-05-14 06:43] kyikiwang opened #1066 "🐛 [Bug] High accuracy decrase with torch f32 model and torch_tensorrt f32 model"
##  Bug Description

L1 loss is too large between torch f32 and compiled torch_tensorrt model
(base) root@VM-121-213-centos:/apdcephfs/share_1041553/kyikiwang/BasketDetect# python  resnet_trt.py
Using cache found in /root/.cache/torch/hub/pytorch_vision_v0.10.0
WARNING: [Torch-TensorRT] - Dilation not used in Max pooling converter
WARNING: [Torch-TensorRT] - Dilation not used in Max pooling conver

[2022-05-14 14:37] f291400 opened #1068 "🐛 [Bug] Encountered bug when using Torch-TensorRT in C++"
##  Bug Description

use torch-tensorrt in C++ occurred.
Error occurred before running into main  function.
<img width="1524" alt="image" src="https://user-images.githubusercontent.com/13358476/168430078-230d3d96-5da3-4411-bc13-d0fef81132c4.png">

CMakeLists.txt:
<img width="1131" alt="image" src="https://user-images.githubusercontent.com/13358476/168430160-2d57185c-e00e-475f-bb3c-f2d60bef5e83.png

[2022-05-15 03:59] narendasan commented on #1068
Likely this is caused because you are linking both libtorchtrt and libtorchtrt_runtime, you only need one or the other depending on if you are compiling as part of your application (you need the full libtorchtrt) or you are using a precompiled module and just performing inference (you only need libtorchtrt_runtime)

[2022-05-16 20:28] narendasan commented on #1065
For request 2: `stable` or `pre-release` would be good options.

[2022-05-17 07:36] lingffff opened #1070 "❓ [Question] How to convert Torch-TensorRT module to TRT engine?"
## ❓ Question

How to convert Torch-TensorRT module (*.ts) to TRT engine? Is there any Python API to do that?
## What you have already tried

In examples, I found
[code]
in https://github.com/pytorch/TensorRT/blob/master/examples/int8/qat/main.cpp

If this is the correct way to do converting? If yes, is there any Python API?
## Environment

amd64 + Linux
all software is newest version

## Addition

[2022-05-17 07:41] vvekic commented on #1059
I never mentioned that loading with `trtexec` failed. The issue is about the Triton Server not being able to load the plan.
So, yes, running `trtexec` inside Triton container works, but loading the plan in Triton itself doesn't. That's the issue.

I'm sorry if I've been unclear or maybe this issue belongs in Triton somewhere.

[2022-05-18 20:04] narendasan commented on #1070
Yes this is the way, there is a python api by the same name in `torch_tensorrt.ts`

[2022-05-18 20:17] narendasan commented on #561
@bowang007 has been working on these models so he might have some insight

[2022-05-18 20:27] narendasan commented on #763
This should be fixed in Torch-TensorRT 1.1.0. We relaxed the dim restriction on batch norm

[2022-05-18 20:33] narendasan commented on #783
@Scass0807 There is a new tool from the TensorRT team that might help https://github.com/NVIDIA/TensorRT/tree/main/tools/experimental/trt-engine-explorer

[2022-05-18 21:20] narendasan commented on #890
@bowang007 can you take a look

[2022-05-18 21:26] narendasan commented on #907
@bowang007 Can you take a look as well?

[2022-05-18 21:31] narendasan commented on #936
Sorry not TensorRT, Torch-TensorRT?

[2022-05-18 21:34] narendasan commented on #945
Can you provide the code to reproduce this?

[2022-05-18 21:42] narendasan commented on #973
@bowang007 can you take a look?

[2022-05-18 21:47] narendasan commented on #989
I dont think TensorRT supports complex numbers. Also if you have inputs that use double, try adding `truncate_long_and_double`

[2022-05-19 04:34] handoku commented on #989
I understand that TensorRT does not support complex numbers. The point is, I was expecting torch-trt to fallback related ops to libtorch-runtime

[2022-05-19 09:17] mjack3 commented on #973
@handoku can you do a this in your environment?

[code]

If not, you need to install the python API of tensorRT in that env

[2022-05-19 09:44] handoku commented on #973
@mjack3 I was using docker image ngc-pytorch 22.02, the tensorrt version should be `8.2.3.0` according to [this release notes](https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel_22-02.html#rel_22-02)

[2022-05-20 00:02] #843 closed

[2022-05-20 00:02] #851 closed

[2022-05-20 01:33] narendasan commented on #938
cc: @abose

[2022-05-20 01:35] narendasan commented on #938
cc: @apbose

[2022-05-20 01:39] narendasan commented on #365
cc: @apbose

[2022-05-20 09:54] f291400 opened #1074 "↔ [Converter] Add support for aten::sign in Torch-TensorRT"
##

sign

- **Original PyTorch API**:
aten::sign(Tensor self) -> (Tensor)
- **Relevant TensorRT Documentation**:

[2022-05-20 09:56] f291400 opened #1075 "↔ [Converter] Add support for aten::chunk in Torch-TensorRT"
##

chunk

- **Original PyTorch API**:
 aten::chunk(Tensor(a -> *) self, int chunks, int dim=0) -> (Tensor[])

[2022-05-20 13:56] mjack3 opened #1076 "❓ [Question] What am I missing to install TensorRT v1.1.0 in a Jetson with JetPack 4.6"
## ❓ Question

I am getting some errors trying to install TensorRT v1.1.0/v1.0.0 in a Jetson with JetPack 4.6

## What you have already tried

I followed the Official installation of Torch v1.10.0 from [here](https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-10-now-available/72048) and then the official steps of this repository.

1. Install Bazel
2. Build Natively on aarch64 (Jets

[2022-05-20 21:10] Hodapp87 commented on #961
@dav-ell I am encountering the same `RuntimeError: Unknown type bool encountered in graph lowering. This type is not supported in ONNX export.` error that is in your paste above, and at the same `compiled_cpp_mod = _C.compile_graph(module._c, _parse_compile_spec(spec))` line. Do you have any clue what was causing this problem for you, and how you were able to fix it? I saw your note on `model.eval

[2022-05-20 22:29] mjack3 commented on #1076
SOLVED!

The issue was here

[code]

that path need to be just `/usr/`

[2022-05-20 22:35] narendasan commented on #1076
Nice!

[2022-05-21 00:02] #857 closed

[2022-05-23 11:06] mjack3 opened #1081 "🐛 [Bug] Using TensorRT v1.0.0 I am getting different dtypes depending of the installation method"
##  Bug Description

Using TensorRTv1.0.0 to optimize a model in TensorRT16, the output tensor return
- torch.float32 if is installed with pip (using a desk computer).
- torch.float16 if is installed from source (using a Jetson system)

In both system I have installed
torch v1.10.0
torchvision v0.11.0
torch_tensorRT v1.0.0

## To Reproduce

Use any model, and convert it to TensorRT16 using

[code]

[2022-05-23 16:08] narendasan commented on #785
Operators are implemented

[2022-05-23 16:08] #785 closed

[2022-05-23 17:46] mjack3 commented on #1081
That's a good point.

This is the which I do the conversion

[code]
And then, testing the output of the model (which is a Wide_resnet50)

- In a computer with Ubuntu 24.04 the model return a fp32 type
- In a Jetson NX jet JetPack 4.6 the model return fp16 type

[2022-05-24 11:06] NothingToSay99 opened #1086 "↔ [Converter] Add support for aten:pixel_unshuffle in Torch-TensorRT"
##

- **Function Schema**:

- **Original PyTorch API**: torch.nn.Pixel_unshuffle

- **Relevant TensorRT Documentation**:

## Alternatives

## Additional context

[2022-05-24 21:36] mfeliz-cruise opened #1087 "🐛 [Bug] aten::slice issue with 'None' input and aten::unbind issue with negative axis"
##  Bug Description

The model below shows issues with the valuators for both aten::slice and aten::unbind. Slice does not correctly handle a "None" input for its 'start' argument and unbind does not correctly handle a negative axis.

## To Reproduce

Steps to reproduce the behavior:
1. Run the model below
2. You should see the slice error:
3. Resolve the slice issue:

4. Run the model again
5. Yo

[2022-05-25 10:07] pupumao opened #1089 "I wonder if torch_tensorrt support mixed precisions for different layer"
**Is your feature request related to a problem? Please describe.**
I write a converter and plugin, but plugin only support fp32, then if I convert with enabled_precisions: torch.int8, then error happend

**Describe the solution you'd like**
if different layer can use different precisions, i can use fp32 this plugin layer and int8 other layers

[2022-05-25 16:46] narendasan commented on #1089
TensorRT supports mixed precision by default. You can follow this guide to properly set up your plugin to declare its output type. https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#extending

[2022-05-25 22:47] bowang007 commented on #907
I don't think it fails because of shape_analysis. I got the same error when I tried to run it by torchscript c++ APIs.

[2022-05-25 23:05] bowang007 commented on #907
TorchTRT does nothing in this small model you provided.
The entire model will be fallback to torch in fact. And it fails when TorchTRT tries to run this small model in torchscript.
That's why I'm getting same error when I run it using torchscript.

[2022-05-26 00:29] sreddy-es commented on #1010
I got the same error for the following model:

[code]
Could you elaborate as to what exactly is the limitation of TorchScript?

[2022-05-26 01:19] jonahclarsen opened #1091 "❓ [Question] Linking error with PTQ function"
## ❓ Question

I am getting a linking error when using `torch_tensorrt::ptq::make_int8_calibrator`. I am using the Windows build based on CMake, so I'm not sure if it's a problem with the way it was built, but I suspect not since I can use functions from ::torchscript just fine.

I am trying to create a barebones program to test ptq based on examples/int8/ptq/main.cpp, and I get this linker error

[2022-05-26 22:08] edric1261234 commented on #973
Same problem

[2022-05-27 00:02] #858 closed

[2022-05-27 01:21] edric1261234 commented on #836
same issue

[2022-05-27 07:37] vvekic commented on #1059
Everything works as expected with `22.05` images, so I'm closing this one.

[2022-05-27 07:37] #1059 closed

[2022-05-27 22:30] narendasan opened #1093 "✨[Feature] Port notebooks to sphinx-gallery"
**Is your feature request related to a problem? Please describe.**

Notebooks right now have a few issues including:
- Notebooks must be run AOT to avoid triggering execution during documentation building
- Notebooks do not currently render properly
- Notebook outputs have excessive amounts of text

**Describe the solution you'd like**

PyTorch uses `sphinx-gallery`notebook styled examples which a

[2022-05-27 22:31] narendasan commented on #1093
cc: @tanayvarshney

[2022-05-27 22:50] mfeliz-cruise opened #1094 "🐛 [Bug] aten::mul errors out for int Tensor * int"
##  Bug Description
Currently the aten::mul converter for Tensor * Scalar assumes that the scalar value is a float. This causes errors for int Tensor * int.

GRAPH: [Torch-TensorRT - Debug Build] - graph(%in_tensor.1 : Tensor):
%2 : int = prim::Constant[value=2]()
%3 : Tensor = aten::mul(%in_tensor.1, %2)
return (%3)

ERROR: [Torch-TensorRT TorchScript Conversion Context] - 4: [layers.cpp::validat

[2022-05-30 06:05] pupumao commented on #1089
I got it, thank you for reply

[2022-05-30 06:05] #1089 closed

[2022-05-30 08:04] so2bin commented on #989
Has any resolution?

[2022-05-31 15:17] Hodapp87 commented on #927
I'm likewise getting a segmentation fault in `torch_tensorrt.compile` when trying to convert a model to int8. The issue does not occur with float16 or float32. I haven't tried building from source yet with debugging symbols, but `gdb` tracked it to `libtorchtrt.so` and `torch_tensorrt::core::MapInputsAndDetermineDTypes()`.

I'm on Torch 1.11.0+cu115, Torch-TensorRT 1.1.0.

[2022-05-31 15:24] andi4191 commented on #1056
Closing this as already addressed using PR #1057

[2022-05-31 15:24] #1056 closed

[2022-05-31 17:27] ncomly-nvidia commented on #862
Hi @SeTriones, how have your other experiments gone? Is there other discrepancies in results or performance in the models you listed above which create concern for you?

[2022-06-01 01:31] apivovarov opened #1096 "🐛 [Bug] inception_v3 pretrained compilation - Unsupported ATen data type Double"
##  Bug Description

## To Reproduce

Steps to reproduce the behavior:
[code]

Error:
[code]

## Environment

I use the latest Nvidia PyTorch Docker Image `nvcr.io/nvidia/pytorch:22.04-py3`.
[code]

## Additional context

To solve the issue I need to replace existing [inception model](https://github.com/pytorch/vision/blob/main/torchvision/models/inception.py#L95) method `_transform_input` with a

[2022-06-01 21:55] andi4191 opened #1097 "🐛 [Bug] Typo in documentation and hyperlink broken"
##  Bug Description

It appears from the documentation that there are typos [here](https://pytorch.org/TensorRT/_notebooks/dynamic-shapes.html?highlight=dynamic%20shapes#) and the links are broken.

If the hyper links are supposed to be directed to the same section on the same page then simply remove the hyperlinks.

## To Reproduce
Go to following URL:
https://pytorch.org/TensorRT/_notebooks/dyna

[2022-06-01 22:15] tanayvarshney commented on #1097
Fixed with: https://github.com/pytorch/TensorRT/pull/1098

[2022-06-02 01:02] apivovarov commented on #266
Related issues:

[2022-06-02 16:21] Hodapp87 commented on #922
I am still getting this runtime error on another model; I don't believe I'm using deformable convolution here. I'm in the process of trying to clean up source code to show, but the error is something like:

[code]

with the `...` replaced by about 25K characters of a dump of the graph.

This is worth Torch-TensorRT v1.1.0, so PR #1024 is included.

[2022-06-02 19:23] andi4191 commented on #1066
@kyikiwang : Where are you comparing the predictions? I see latency benchmark comparisons in the code snippet you shared here. Can you please share the workflow you are using to reproduce the reported issue?

[2022-06-03 01:22] bowang007 commented on #922
@BrettRyland Could you please try this PR: [https://github.com/pytorch/TensorRT/pull/1067 [](https://github.com/pytorch/TensorRT/pull/1067 )
We refactored this part recently, and I tried your model with this PR, didn't find the issue you had.

[2022-06-03 08:18] BrettRyland commented on #922
I still get this error
[code]
([full log: trt_bug_log.txt](https://github.com/pytorch/TensorRT/files/8830625/trt_bug_log.txt)) with PR #1067 merged in:
[code]
[code]

Side note: the trt_bug.py script has a typo on line 93, it should be `out_trt2 = model2(tensor2)`, not `out_trt2 = model2(tensor)`, but I guess you saw that if you got it to run without issues.

Another side note: I don't think it's

[2022-06-03 19:44] Hodapp87 commented on #927
I traced the segfault in my case to line 314 here: https://github.com/pytorch/TensorRT/blob/40f8b44d95e1bf0912757377eb6acba666963e9d/core/compiler.cpp#L311-L316

As far as I can tell, `first_use_type_map` lacks the key `in`, and as a result doing `->second` on the result of `.find(in)` is invalid. The code appears to be trying to check for this case, but that point it's too late.

I have a very ha

[2022-06-03 19:47] Hodapp87 commented on #922
It still occurs for me too. I am trying to provide code that can reproduce, but much of this is proprietary in nature and so it may take some time to disentangle it.

[2022-06-04 00:45] bowang007 commented on #973
Took a look and I'm thinking about if the issue comes from module fallback. Are you using module fallback in your  models? @edric1261234 , @handoku , @mjack3
Not so familiar with module fallback, so also need some time to take a look into it.

[2022-06-04 07:30] handoku commented on #973
Yes, full_compiled TRTengine is good，only happened with some module fallback

[2022-06-04 10:07] mjack3 commented on #1081
Any news?

[2022-06-06 07:03] geekinglcq commented on #979
Hi, I have met a similar problem recently. Have you figured out how to solve it now?

[2022-06-06 09:07] naor2013 commented on #979
No. I couldn't create a small reproducible example. In every example I tried to create it worked, but in my use case it didn't.
If you can make a reproducible example, it might help the developers to solve this.

[2022-06-06 14:24] Hodapp87 commented on #922
For testing this, I used the Dockerfile straight out of the repository and then ran inside this container. Unless this caches something I'm unaware of, this should have been a clean build.

Here's the truncated output of my run, which shows versions as well (`22d91f5e` should be your PR's commit):

[code]

If I get a chance soon, I'll see if I can extract a simpler model out of this that I can sen

[2022-06-06 15:56] BrettRyland commented on #922
Clearing the cache (I also ran `bazel clean --expunge` in the top-level directory and removed `~/.cache/bazel`) allowed the test model to compile and run without problems, but my full model still gives the same `RuntimeError`, just in a different place.
[code]
I'll need to try to isolate where in my full model it's happening now to see what's triggering it.

[2022-06-06 16:04] narendasan commented on #1096
Can you try using the setting `truncate_long_and_double`? https://pytorch.org/TensorRT/py_api/ts.html

[2022-06-06 16:13] ncomly-nvidia commented on #112
@inocsin can you please confirm if #617 resolves this issue?

[2022-06-07 02:56] geekinglcq commented on #979
I found a workaround that might be helpful.
1. Firstly, check all the modules with bias, and select the modules with False/None bias.
2. Secondly, assign the bias with zeros, e.g. `model.decoder.xxxx.bias = torch.nn.Parameter(torch.zeros([yyy_shape]))`, before compiling the model.
3. 🎉 , problem solved (temporarily) in my case.

[2022-06-08 11:38] BrettRyland commented on #922
OK, I've reduced my model to a smaller repro script [trt_bug.py](https://github.com/pytorch/TensorRT/files/8861004/trt_bug.py.txt) which still gives
[code]
It appears to be being caused by using a single-valued `int64` index tensor in an `aten::index_put_` operation:
[code]
where `self.false_anchor_score` is a registered buffer.
Replacing the index tensor with the value (using `.item()`) causes a

[2022-06-10 08:48] gcuendet commented on #1091
Hi @jonahclarsen !

I added simple CMakeLists.txt to the examples (amongst which the `int8/ptq` example you mention in this issue) on my branch. Compiling and installing the lib using CMake on windows I am able to compile the ptq example without linking error. The CMake configuration command is slightly verbose but here it is:
[code]
This specifies:
- Torch_DIR: since libtorch is not installed sys

[2022-06-10 18:10] jonahclarsen commented on #1091
@gcuendet Awesome - that fixed the linking error! Thanks so much.

I'm now getting a "CUDA illegal memory access" error with the ptq example after a few batches are calibrated. I'm not sure if this is due to my implementation or if it's a problem with the libraries:

INFO: [Torch-TensorRT TorchScript Conversion Context] -   Calibrated batch 0 in 0.0502186 seconds.
INFO: [Torch-TensorRT TorchScript

[2022-06-13 09:03] inocsin commented on #945
@pupumao This may due to dynamic shape issue, can you try this pr https://github.com/pytorch/TensorRT/pull/1110

[2022-06-13 10:22] Njuapp opened #1112 "🐛 [Bug] Parse failure in fallback cases"
##  Bug Description

When fallback is encountered, the torchscript may contain `.` in the name of parameters, e.g., `x.1` and `input.1`. Such torchscript models, after saved to disk, cannot be loaded successfully because paramter names containing `.` is invalid.

[code]

## To Reproduce

Run the following python file:

[code]

## Expected behavior

The compilation should end without failure.

## E

[2022-06-13 10:29] Njuapp opened #1113 "🐛 [Bug] Shape analysis failure when encountered dynamic fallback"
##  Bug Description

In dynamic fallback scenarios, the shape analysis will fail in `generateRandomInputs` phase.

[code]

## To Reproduce

Run the following code.
[code]

## Expected behavior

The compilation could run successfully.

## Environment

 - Torch-TensorRT Version (e.g. 1.1.0):
 - PyTorch Version (e.g. 1.11):
 - CPU Architecture: x86_64
 - OS (e.g., Linux): Linux
 - How you installed P

[2022-06-13 11:27] p517332051 opened #1114 "How can i compile CUDA C in this project❓ [Question] How do you ....?"
## ❓ Question

I want compile tensorrt plugin in this project. But I do not know how to use bazel to compile the cuda c.

## What you have already tried

## Environment

 - PyTorch Version (e.g., 1.0):
 - CPU Architecture:
 - OS (e.g., Linux):
 - How you installed PyTorch (`conda`, `pip`, `libtorch`, source):
 - Build command you used (if compiling from source):
 - Are you using local sources or b

[2022-06-13 16:53] narendasan commented on #1114
You can refer to this issue https://github.com/pytorch/TensorRT/issues/987

[2022-06-13 18:59] bowang007 commented on #1112
similar to #973

[2022-06-13 19:01] bowang007 commented on #973
Looks like @Njuapp had a similar issue #1112 , I tried his fix #1109, which could have your provided model supported.

[2022-06-14 12:07] Nopileos2 opened #1115 "🐛 [Bug] tensor.view() not working anymore when using dynamic inputs with v1.1.0"
##  Bug Description

Since v1.1.0 the conversion to TensorRT fails for one of my modules. From what I tested it seems like it is when using `.view()` with the new version. From what I saw I think it is realted to the following change https://github.com/pytorch/TensorRT/commit/d39b918 .

I am using dynamic input shapes to have a dynamic batch size. So I make the first dimension variable. When doing

[2022-06-14 13:30] ivan94fi commented on #927
Hi,

We faced the int8 bug too, in the official docker image, version 22.05. The initial issue is solved with @Hodapp87's patch, but in our case it leads to another issue, not #922 as reported by @Hodapp87.

This is the exception traceback:
[code]

Anyone knows how to solve this?

[2022-06-15 21:16] peri044 opened #1121 "✨[Feature] Do not remove nodes which are in-place operations (classified in TRT segments) in fallback"
**Is your feature request related to a problem? Please describe.**
Currently for eg: if aten::append is in prim::If block, it gets removed because it is classified as TRT segment. No output is registered for it because aten::append is an inplace op. Make modifications to registerSegmentsOutputs
[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional

[2022-06-15 21:18] peri044 commented on #1121
Also add this as a test case for this PR https://github.com/pytorch/TensorRT/pull/1067
[code]

[2022-06-15 23:15] bowang007 commented on #922
Hi @BrettRyland I took a look into your model. This line https://github.com/pytorch/TensorRT/blob/058a511ca0fd0df0587224f20e04067326d692e4/core/lowering/lowering.cpp#L95 introduces another input as %61 to the whole model's input, which might have something to do with the underlying function in PyTorch here  https://github.com/pytorch/pytorch/blob/6114b0f921d5568c582d0168501f780df7a66d0d/torch/csrc

[2022-06-16 03:01] HireezShanPeng opened #1123 "🐛 [Bug] Encountered bug when using Torch-TensorRT"
##  Bug Description
RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cpu and cuda:0! (when checking argument for argument index in method wrapper__index_select)

[code]
## Code
when I follow the steps in this [tutuial](https://pytorch.org/TensorRT/_notebooks/Hugging-Face-BERT.html) to process my model, I encountered the bug above. I did not move any data

[2022-06-16 20:23] maiskovich commented on #473
hi @VRSEN could you please provide some details of how did you manage to use batchedNMS with TensorRT?

Thank you

[2022-06-16 23:41] narendasan commented on #1123
Can you try making sure that the model is on GPU before compiling?

[2022-06-17 03:18] HireezShanPeng commented on #1123
In the example, the model and input is on CPU while  compiling, I did it the same way, but I got this error. However, I also tried move input and model to GPU before compiling, compiling is stuck there without response.
By the way, is LSTM module supported and max operation supported now?

[2022-06-17 06:53] QiusongYang opened #1127 "🐛 [Bug] Encountered bug when using Torch-TensorRT"
##  Bug Description

torch.max to tensorrt operator failure

## To Reproduce

Steps to reproduce the behavior:

1. `batch_max_used_token_hidden_states.max(dim=1)[0]`

## Expected behavior

## Environment

 - Torch-TensorRT Version (e.g. 1.0.0): 1.1.0
 - PyTorch Version (e.g. 1.0): 1.12.0
 - CPU Architecture:
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, `libtorch`, sourc

[2022-06-17 08:17] ArmenGhambaryan opened #1129 "❓ [Question] Torch traced model conversion with List[torch.Tensor] input"
Is it possible to convert a torch traced model that accepts List[torch.Tensor] type of input to trt ts module?

[2022-06-19 12:55] IamExperimenting commented on #858
@narendasan even I'm facing the same problem. could you please provide us instruction to install torch_tensorrt step by step in Linux

[2022-06-19 14:49] IamExperimenting commented on #1081
@mjack3 , I see you have installed torch_tensorrt , could you please provide me an article or blog to install it?

or could you please by a step by step procedure to install in ubuntu 20.04

[2022-06-19 14:50] IamExperimenting opened #1133 "❓ [Question] How to install torch_tensorrt python API in ubuntu 20.04?"
## ❓ Question

I want to install ```torch_tensorrt``` python API in ubuntu 20.04. could you please provide step by a step installation procedure? I tried
```pip3 install torch-tensorrt -f https://github.com/NVIDIA/Torch-TensorRT/releases```

when I try to import the module
```import torch_tensorrt```

I'm getting the below error,

![Screenshot from 2022-06-19 15-41-46](https://user-images.githubus

[2022-06-19 15:02] IamExperimenting commented on #887
@ncomly-nvidia @narendasan, I'm facing the same issue,
I'm using Python 3.7.13 ubnutu 20.04 ,GPU RTX2060, CUDA: 11.3.1

[2022-06-19 15:03] IamExperimenting commented on #887
how do I check? or do I need to install any other dependent packages?

[2022-06-19 17:27] dignakov commented on #1133
Looks like it can't find one of it's dependencies.

You could try following the PyTorch docs: https://pytorch.org/TensorRT/tutorials/installation.html

You'll need to install the different parts manually to get the wheel to eventually work, it does not bundle anything.

(1) install CUDA: https://developer.nvidia.com/cuda-zone
(2) install CUDNN: https://developer.nvidia.com/cudnn
(3) install Tensor

[2022-06-19 17:30] dignakov commented on #887
@IamExperimenting try these instructions to get everything to work: https://github.com/pytorch/TensorRT/issues/1133#issuecomment-1159780655

[2022-06-19 17:39] dignakov commented on #990
Hi @ncomly-nvidia I just wanted to comment on preference for pip vs docker. NGC docker containers can be hard to use with something like ROS, since it installs packages into system python or overlays - which don't play nicely (at all) with conda in ngc pytorch containers.

So for those use-cases, the containers are not really a good option. We can make a custom docker image starting with something

[2022-06-19 17:43] IamExperimenting commented on #1133
@dignakov , thanks for your reply,

Steps i followed the below steps,
1. https://docs.nvidia.com/deeplearning/tensorrt/install-guide/index.html#installing-pip - i followed this step to install tensorrt
2. then using pip command ```pip3 install torch-tensorrt -f https://github.com/NVIDIA/Torch-TensorRT/releases``` I installed torch_tensorrt.
however, the weird part is, if ```import torch_tensorrt``

[2022-06-19 17:51] dignakov commented on #1133
I have no idea if those instructions work . . . I've only been able to get a successful system up and running using what I posted . . .

If you're confident you've got cuda, cudnn, and tensorrt running, the other thing to check is if you've got proprietary nvidia drivers installed and they can see your gpu.

(1) Can you run (in a terminal) `nvidia-smi` and post what you get.

(2) In python, check

[2022-06-19 18:22] IamExperimenting commented on #1133
@dignakov you're right it didn't work now after I restarted the kernel.

could you please help me to install it? To be honest, I'm familiar with installing using Linux commands. But I'm trying my best.

[2022-06-19 19:26] dignakov commented on #1133
@IamExperimenting can you try following what I had in my comment above (https://github.com/pytorch/TensorRT/issues/1133#issuecomment-1159780655)?

(1) is exactly how I usually do it.

for (2) and (3) you can just download the debs and run `sudo apt install ./whatever.deb`

I don't use conda, so if you want to follow the instructions below, you need to deactivate any conda environments.

(4) and (5

[2022-06-19 21:30] IamExperimenting commented on #1133
@dignakov , after some continuous debugging and with your support. Now, I'm able install torch_tensorrt. please find the screenshot
![Screenshot from 2022-06-19 22-14-51](https://user-images.githubusercontent.com/74839416/174500550-5b77b6cd-1006-4089-8401-a147bce4017d.png)

however, I still have a question, when I looked into PyTorch official installation page, it has many steps like installing C+

[2022-06-19 21:33] dignakov commented on #1133
Unless you'd like to build everything from source, you should be okay just with the 'Precompiled Binaries' section. That's everything you need for the "Python API", if you can `import torch_tensorrt` and use it, you shouldn't need to do anything else.

The section you're talking about is titled `Compiling From Source`, and that's for building everything from scratch.

[2022-06-19 21:36] IamExperimenting commented on #1133
@dignakov  thanks very much for your support.

[2022-06-20 06:55] geekinglcq opened #1134 "❓ [Question] Why TensorRT model is slower?"
## ❓ Question

Why TensorRT model is slower? I have tried TensorRT in a MHA (multihead attention) model, but found it is even slower than the jit scripted model.
## What you have already tried
I tested the original model, the jit scripted model, the jit model after optimization, and the TensorRT model. Then, I found the tensorrt model is not as fast as I expected. The model here is a simple MHA mo

[2022-06-20 07:30] ivan94fi opened #1135 "🐛 [Bug] RuntimeError 'bad optional access' on quantization notebook"
##  Bug Description

There is an error when using the [official quantization notebook](https://github.com/pytorch/TensorRT/blob/master/notebooks/vgg-qat.ipynb) in this repository, with the official Nvidia docker image for Pytorch, version 22.05.

## To Reproduce

Steps to reproduce the behavior:

1. Install the missing components in the container (tensorboard, tqdm, torchvision, pytorch-quantizati

[2022-06-20 09:29] edric1261234 commented on #1113
same issue

[2022-06-20 09:37] IamExperimenting commented on #1133
@dignakov I'm still facing the error ```ERROR: [Torch-TensorRT] - Cannot get current device```

[2022-06-20 09:39] Njuapp commented on #1113
@edric1261234  You can try if this PR can help: https://github.com/pytorch/TensorRT/pull/1111

[2022-06-20 10:43] IamExperimenting opened #1136 "❓ [Question] unable to save the model in TorchScript format?"
## ❓ Question
I'm trying to save my model as TorchScript format, unfortunately getting error.

## What you have already tried
```torch.jit.script(model)```

## Environment
python

 - PyTorch Version (e.g., 1.0):1.11.0+cu113
 - CPU Architecture:
 - OS (e.g., Linux): ubuntu 20.04
 - How you installed PyTorch (`conda`, `pip`, `libtorch`, source): pip
 - Build command you used (if compiling from sourc

[2022-06-20 14:04] pupumao commented on #945
already solved

it's not a bug, just because wrong input setting for torch-tensorrt api(error kept require_grad=True)

[2022-06-20 21:16] mjack3 commented on #1081
Sure. That is because your torch version is not supported by the torch_tensorrt you have installed.

Check in the releases notes that you have the correct one :)

[2022-06-20 21:39] narendasan commented on #1136
Can you provide an minimal example of what you are doing? Have you already compiled the model with Torch-TensorRT or is this before hand?

[2022-06-20 21:42] IamExperimenting commented on #1136
I have built the custom model and I'm trying to save the model inTorchScript format.

basically, when I run this line ``` torch.jit.script(model)``` I get this error.

[2022-06-20 21:45] narendasan commented on #1133
Are you trying to setup cuda or cudnn?

[2022-06-20 21:45] narendasan commented on #1129
We are working on this feature #629

[2022-06-20 21:46] narendasan commented on #1127
Please provide a complete reproducing script

[2022-06-20 21:47] narendasan commented on #1123
LSTMCell and Max are supported but other variants of LSTM may not have a native implementation yet

[2022-06-20 21:58] IamExperimenting commented on #1133
@narendasan  I'm trying to setup CUDA, CUDNN and TensorRT. Finally, to install torch_tensorrt.

[2022-06-20 22:11] narendasan commented on #1114
Closing as duplicate

[2022-06-20 22:11] #1114 closed

[2022-06-21 09:39] QiusongYang commented on #1123
I think the torch::max operator is invalid, I was able to convert normally using torch::topk

[2022-06-21 15:36] ncomly-nvidia commented on #1127
Hi @QiusongYang can you please provide your python script where you are seeing this failure? Without knowing the specific failure we won't be able to help debug with you.

[2022-06-21 16:45] Cilouche opened #1138 "problem build in jetson nano jetpack4.6"
## ❓ Question

Hello
I tried to compile the torch-tensorrt on the jetson nano I got this error
suggestions please
Thanks

bazel build //:libtorchtrt --platforms //toolchains:jetpack_4.6 --verbose_failures

jetson@jetson-desktop:~/TensorRT$ bazel build //:libtorchtrt --platforms //toolchains:jetpack_4.6 --verbose_failures
INFO: Analyzed target //:libtorchtrt (10 packages loaded, 2870 targets config

[2022-06-21 20:38] narendasan commented on #1136
If that is where you are hitting the issue then likely it is a problem with TorchScript and asking in https://github.com/pytorch/pytorch would probably be the best next step.

[2022-06-22 01:31] QiusongYang commented on #1127
actually, you can write any network and torch::max function, could you convert to tensorrt model?

[2022-06-22 07:06] gcuendet opened #1139 "❓ [Question] Runtime check of the inference platform FP16 support"
## ❓ Question

Let's assume one converts a TorchScript to a Torch-TensorRT TorchScript requesting inference type to be FP16. At conversion time, if the GPU doesn't support FP16 (GTX1060 typically), a nice `::torch_tensorrt::Error` is thrown saying
[code]
That's all good.

Now, it seems that if one tries to run an already converted Torch-TensorRT TorchScript with an inference type FP16 on a GPU tha

[2022-06-22 07:23] chongt123 commented on #1123
So, GRU is not supported? I got the same bug for GRU.

[2022-06-22 08:01] geekinglcq commented on #1134
More information:
I test TensorRT in an Encoder Layer module, basically, it is an Attention module above with some fc (full-connected) layers, layer norm and dropout layers. The results show that TensorRT achieves about 2x speedup.

<div class="lake-content" typography="classic">

  | MHA || EncoderLayer||
|-- | -- | --|--|--|
  | time | % | time | %
Original Module | 4.46 | 1 | 10.77 | 1
Jit Scri

[2022-06-22 17:56] narendasan commented on #1139
Torch-TensorRT programs should be built for the specific GPU they will be deployed on. So the

case is technically an unsupported usecase due to TensorRT limitations. In most cases programs built on a GPU of a particular compute capability can be run on others of the same compute capability. So in the Torch-TensorRT runtime we check for these, both specific model of GPU and the compute capability

[2022-06-23 10:36] andreabonvini opened #1144 "🐛 [Bug] Torch Tensor RT crash when trying to compile a script module on Windows (C++)"
##  Bug Description

I can't compile a script module with TorchTensorRT.
This is my code:

[code]

This is the error I get:

<img width="431" alt="image" src="https://user-images.githubusercontent.com/38317801/175270101-ed053280-33f0-460d-b580-5b78289a1ffa.png">

First a WARNING get printed "`WARNING: [Torch-TensorRT] - Interpolation layer will be run through ATen, not TensorRT. Performance may be

[2022-06-23 15:25] gcuendet commented on #1144
The release notes for version 1.1.0 indicates

I cannot guarantee it is related, but I would try with TensorRT 8.2.

[2022-06-23 15:49] andreabonvini commented on #1144
Thanks @gcuendet! I will try with TensorRT 8.2

[2022-06-23 17:43] narendasan commented on #1139
@peri044 Thoughts on expanding the metadata to include information like this? I think we were talking about this a bit earlier. I could see adding platform capability flags to the metadata but not sure if it adds much past addressing this special case since in theory compute capability should do the same thing.

[2022-06-23 21:06] andreabonvini commented on #1144
Unfortunately, I'm facing the same problem even using TensorRT 8.2.5.1.

[2022-06-24 00:53] #1097 closed

[2022-06-24 09:18] gcuendet commented on #1144
Now that I have a second look at it, I think it's just your CMake. There are a few problems, but typically, when you do
[code]
you explicitly link a library (torchtrt.lib / dll) into your executable. That's a pretty old-fashioned way of using CMake.

The main idea of what is sometimes referred to as "modern" CMake is to use _targets_ instead. A CMake target can encapsulate more informations about

[2022-06-24 13:02] andreabonvini commented on #1144
Ok, I tried to change my `CMakeLists.txt` file in:

[code]

And it fails with:

[code]

So I tried with

[code]

And now it fails with

[code]

Since there's no `TensorRTConfig.cmake` file in the TensorRT installation directory I added your (@gcuendet ) `Modules` directory to CMAKE_MODULE_PATH

[code]

And I get

[code]

But at this point I guess I'm just doing something wrong.

[2022-06-24 18:16] gcuendet commented on #1144
I think the main problem here is that you didn't install torchtrt. I am assuming that looking at:
[code]
which looks like your build folder.

My assumption is that you did something like:
[code]
but not the install step:
[code]
Is that correct?

You should install it (last command above), when copying everything in the install folder, some paths can "correct" (typically the finders in  cmake/Modul

[2022-06-25 10:03] andreabonvini commented on #1144
Oh right, I added on VS the install option as a build command argument into the CMakeSettings for x64-Release

<img width="851" alt="image" src="https://user-images.githubusercontent.com/38317801/175768544-5c08b9a0-fb77-4edd-9d5e-82da520c41f2.png">

And it built an install directory with everything needed by cmake (almost, it still wanted me to specify the TensorRT_ROOT) to work properly.

This is

[2022-06-25 10:24] andreabonvini commented on #1144
As an additional note, I was able to optimize the model on the same PC by using WSL. Then I tried to create a super trivial executable that just loaded the model

`test.cpp`

[code]

[code]

It compiles, and when i try to run the executable it asks me to copy the torch .dll files in the build directory (a known problem when using torch in Windows) but it doesn't ask me to copy` torchtrt_runtime.dl

[2022-06-25 13:06] JiangongWang commented on #1010
I have the same problem.

[2022-06-27 10:31] andreabonvini commented on #1144
Update: by catching the exception as a ` torch::jit::ErrorReport`

[code]
 I was able to get the following message:

[code]

So I guess, based on [this](https://github.com/pytorch/TensorRT/discussions/642) issue that maybe VS isn't linking the torchtrt_runtime at all, that's probably due to the fact that the "-Wl,--no-as-needed" flag isn't working as expected.

This is the full output fromo VS (co

[2022-06-27 11:01] gcuendet commented on #1144
That's a very good point! If my understanding is correct, on Linux, torch-tensorRT relies on static initialisation to register the Engine class with torch (see [here](https://github.com/pytorch/TensorRT/blob/master/core/runtime/register_jit_hooks.cpp#L15)). That works if you force linking to that library, even when no symbol are used (that's always the case for torchtrt_runtime), so that it's auto

[2022-06-27 20:22] andreabonvini commented on #1144
Update:

By manually loading the .dlls the script does work! This of course isn't a proper solution and should be properly adressed in #1058 (maybe it would be beneficial to change the CMake example too @gcuendet)

If we want to optimize a model through TorchTensoRT on Windows make sure to manually load `torchtrt_plugins.dll`:
(you should probably manually copy the `torchtrt_plugins.dll` to your e

[2022-06-28 02:16] edric1261234 commented on #1113
Thank you, it works!

[2022-06-28 09:51] noman-anjum-retro commented on #1144
Hello @andreabonvini I setup the code and fixed all compile time errors, but now I'm getting weird linking errors for each access of torch_tensorrt:: in my code.  Can you please explain the steps that made the torch_tensorrt work on windows?  I'll be exremely grateful to you

[2022-06-28 09:54] andreabonvini commented on #1144
Hi @noman-anjum-retro, can you share your CMakeLists.txt, your code, and the linking errors you're receiving?

[2022-06-28 11:06] gcuendet commented on #1144
Great that you had it working @andreabonvini ! 😃

In my opinion, that issue is independent from the CMake support in itself. What I mean by that is:
1. The solution is probably not going to be at the CMake level
2. Something also needs to be done when compiling with Bazel (given that compiling with Bazel works on windows)

Still, that problem puzzled me and I might have a proposal.
I was wondering

[2022-06-28 11:50] noman-anjum-retro commented on #1144
Hello @andreabonvini. I started with the basic cmake:

[code]
Then I tried to read the module script via following code:

[code]
Initially code was showing compilation error as I copied it from documentation. But now compilation errors are fixed. When I run the code each reference of torch_tensorrt throughs linking error, I'm sharing one below:

Severity	Code	Description	Project	File	Line	Suppress

[2022-06-28 11:54] andreabonvini commented on #1144
You aren't linking to `torch_tensorrt`. Supposing that you correctly compiled and installed torch_tensorrt (as explained [above](https://github.com/pytorch/TensorRT/issues/1144#issuecomment-1165819332)) you should have something like this:

[code]

[2022-06-28 11:55] noman-anjum-retro commented on #1144
Thanks I'll take a look to it

[2022-06-28 12:02] noman-anjum-retro commented on #1144
How did you build torch_tensorrt on windows can you please explain it. When I'm running bazel build for default workspace file it throws an error

`bazel build //:libtorchtrt --compilation_mode opt --distdir D:\BazelDep`
BazelDep folder contains zip files of cudnn8.2 and tensorRT 8.4
Error in download_and_extract: java.io.IOException: Error downloading [https://developer.nvidia.com/compute/machine

[2022-06-28 12:16] andreabonvini commented on #1144
You have to build and install the package through CMake, you can do that only from [this](https://github.com/gcuendet/Torch-TensorRT/tree/add-cmake-support) branch.

[2022-06-28 12:22] noman-anjum-retro commented on #1144
Alright, that makes sense now. Thanks Alot

[2022-06-28 15:29] noman-anjum-retro commented on #1144
Hey @andreabonvini I tried compiling with above mentioned steps. Code runs well with this script:
`int main(){
    std::string model_path = "path/to/trt_script_module.pt";
    const torch::Device device = torch::Device(torch::kCUDA, 0);
    torch::jit::script::Module model;
    try {
        model = torch::jit::load(model_path, device);
        model.eval();
        std::cout << "AI model loaded s

[2022-06-28 15:33] andreabonvini commented on #1144
It still seems that your are not linking against `torch_tensorrt`. You should provide more information about your environment and, above all, your CMakeLists.txt file.

[2022-06-28 20:42] bowang007 commented on #922
can I get more details? thanks

[2022-06-29 04:58] noman-anjum-retro commented on #1144
So the steps are as follow: I copied [this](https://github.com/gcuendet/Torch-TensorRT/tree/add-cmake-support) PR into my system and compiled it with command
`cmake --build . --target install`.
This created a Torch_TensorRT folder in Program Files x86. Secondly I created a torch project using following CmakeList.txt
`
cmake_minimum_required (VERSION 3.8)

project(example-app)

set(TensorRT_ROOT "C

[2022-06-29 07:16] andreabonvini commented on #1144
@noman-anjum-retro, as already [said](https://github.com/pytorch/TensorRT/issues/1144#issuecomment-1168624801), you are not linking againt `torch_tensorrt`. You are linking against `torchtrt_runtime` instead, that is a light-weight library that is needed if you just want to load an optimized model through `torch::jit::load`.

[2022-06-29 08:16] noman-anjum-retro commented on #1144
Thank you soo much @andreabonvini. It is working now

[2022-06-29 10:10] Amoko opened #1150 "❓ [Question] The same inputs producing very different outputs via pytorch & TensorRT."
## ❓ Question

Hey, guys!
I'm new to TensorRT, after the environment setup. I'm very excited to try the official demo in this page. [Resnet50-example.](https://pytorch.org/TensorRT/_notebooks/Resnet50-example.html). I got very different outputs when inference with the same inputs via pytorch & TensorRT.
But when I use efficientnet_b3 as the model, the results are same.

## What you have already tr

[2022-06-29 12:48] YasinTURKMENOGLU commented on #1010
[code]
Anyone can help?

[2022-06-30 18:37] Hegelim opened #1151 "🐛 [Bug] docker build failed"
##  Bug Description

[code]

## To Reproduce

[code]

[2022-06-30 23:14] narendasan commented on #1151
This is a really old base. I think likely the issue is the Python version in the container. PyTorch supports Python 3.7 and above with version 1.11.0

[2022-07-01 00:54] peri044 opened #1154 "🐛 [Bug] Fallback doesn't support model.half() models"
##  Bug Description

/*
The following test is ambigious and somehow works in TRT 8.2, which might have a bug.
This FP16 model has inputs and weights configured to be FP16 but the builder precision
is set to FP32. So during shape analysis, when the Pyt/TRT segments (are run as pytorch
modules), the inputs of each segments are configured to be FP16 but after TRT conversion
and inference, TRT segment

[2022-07-01 08:08] BrettRyland commented on #922
I managed to bypass the issue by using
[code]
instead of
[code]
as the latter was also causing issues with quantisation (which I've also been trying to get to work).
However, I haven't yet managed to adjust my full model to be compatible with TensorRT or quantisation (I've been busy with other stuff), so I can't confirm whether it gives correct results for the full model yet, though it does seem t

[2022-07-01 10:03] mjack3 opened #1155 "🐛 [Bug] error: torch_tensorrt/csrc/torch_tensorrt_py.cpp: No such file or directory"
##  Bug Description

Using a Jetson NX with 4.6 Jetpack, I got this error after using `python3 py/setup.py install --use-cxx11-abi --user`
[code]

## To Reproduce

1- Install `bazel 5.1.1- (@non-git)`
2- Configure `WORKSPACE` in `TensorRT v1.0.0`
3-To run `python3 py/setup.py install --use-cxx11-abi --user`

## Expected behavior

torch_tensorrt/csrc/torch_tensorrt_py.cpp should exist

## Environme

[2022-07-01 10:07] mjack3 commented on #1155
Solved I was in  `TensorRT` instead `TensorRT/py` where the folder `torch_tensorrt` is

[2022-07-01 11:41] alercelik opened #1156 "❓ [Question] Support for CUDA 11.6?"
##  Does latest version support CUDA 11.6❓

Pytorch officially supports CUDA 11.6, however docs say torch_tensort supports CUDA 11.3 at max. But in some issues it is said that CUDA version 11.6 is used. Is CUDA 11.6 officially supported by torch_tensorrt?

## Environment

 - PyTorch Version (e.g., 1.0): any
 - CPU Architecture:
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip

[2022-07-01 12:55] BrettRyland opened #1157 "🐛 [Bug] `torchvision.ops.roi_align` is throwing an internal assert failed"
##  Bug Description

`torchvision.ops.roi_align` is throwing an internal assert failure when compiling a model using it with `torch_tensorrt.compile`.

## To Reproduce

Repro script: [trt_bug3.py](https://github.com/pytorch/TensorRT/files/9028827/trt_bug3.py.txt)

[code]

## Expected behavior

Expected graph compilation to succeed.

## Environment

[code]

TensorRT is built from 91a92ca4 with PR #

[2022-07-01 19:51] bowang007 commented on #1134
I'm getting this output performance using your script:
[code]

[2022-07-02 03:44] geekinglcq commented on #1134
Is there any significant difference between your environment and mine?

[2022-07-03 00:06] #924 closed

[2022-07-04 00:02] #900 closed

[2022-07-04 03:50] hongsamvo opened #1160 "🐛 [Bug] Convert x3d model from pytorchvideo"
##  Bug Description

I am trying to convert x3d model from pytorchvideo and got this error "ValueError: Unknown type annotation: '<class 'torch.nn.modules.module.Module'>' at".
The problem happened when I use torch_tensorrt.compile() or by "ts_model = torch.jit.script(model)"
I think the error due to the model's definition by pytorchvideo. I got error on both torch 1.11 and torch 1.12. I hope to r

[2022-07-04 14:57] pkluska opened #1162 "🐛 [Bug] Dynamic shape MobileNet compilation files"
##  Bug Description

When trying to compile MobileNetV3 from torchvision with the dynamic shape, it fails with following error

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Fetch MobileNetV3_Small model from torchvision
2. Try to compile with dynamic batch size.

[code]

## Expected behavior

MobileNetV3 is compiled and can accept various batch sizes. The issue does not happen whe

[2022-07-05 13:47] tfilipovicPM opened #1165 "🐛 [Bug] Unable to export PyTorch transformer encoder using TensorRT"
##  Bug Description
TensorRT fails to export PyTorch transformer encoder. Same is true for PyTorch transformer decoder, failing with the same error.

## To Reproduce

Steps to reproduce the behavior:

1. Download  docker image nvcr.io/nvidia/pytorch:22.04-py3
2. Inside the container run the code snippet supplied below

### Code
[code]

### Error message
[code]

## Expected behavior

TensorRT shoul

[2022-07-05 16:24] narendasan commented on #1165
@peri044 did we root cause where the this ONNX export message comes from? Was it `torch.jit.freeze`?

[2022-07-05 16:27] narendasan commented on #1162
We will add hardsigmoid to the backlog for converters.

[2022-07-05 16:30] narendasan commented on #1156
Do you mean CUDA 11.6?

[2022-07-05 16:31] narendasan commented on #1155
👍 Going to close this issue then.

[2022-07-05 16:32] #1155 closed

[2022-07-05 18:45] Hegelim commented on #1151
Thank you, this is indeed the case, I think I got python version < 3.7, the issue was fixed when I used a newer python

[2022-07-05 18:45] #1151 closed

[2022-07-05 19:46] krmayankb opened #1166 "❓ [Question] How to run Torch-Tensorrt on JETSON AGX ORIN?"
## ❓ Question
**Not able to run Torch-Tensorrt on Jetson AGX ORIN**
As per the [release note](https://github.com/pytorch/TensorRT/discussions/1043), it is mentioned that current release doesn't have support for Jetpack 5.0DP but ORIN only supports Jetpack 5.0DP (I might be wrong but inferring from this [Jetpack Archives.](https://developer.nvidia.com/embedded/jetpack-archive). **Is there a way to

[2022-07-05 20:52] ncomly-nvidia commented on #833
@blchu any updates on converter progress?

[2022-07-05 20:57] #1136 closed

[2022-07-06 06:50] alercelik commented on #1156
Sorry, yes. CUDA 11.6

[2022-07-06 06:53] peri044 commented on #1166
We are currently working on that and plan to release a version compatible with Jetpack 5.0 soon. Here is a working PR you can try https://github.com/pytorch/TensorRT/pull/1158

[2022-07-06 07:32] peri044 commented on #1165
I've tried setting the model in eval mode by `scripted_module = torch.jit.script(encoder.eval())` and this issue no longer exists. However, I see a segfault after this log which is a different error and needs to be debugged
[code]

[2022-07-06 07:43] peri044 commented on #1162
We currently don't support dynamic shape + fallback. During fallback, we generate random inputs of static shape to perform shape analysis and it fails here since the shape has -1 in its dimensions. Fallback path gets executed by default because there is an unsupported operator `hard_sigmoid`

[2022-07-06 07:57] peri044 commented on #1160
Could you provide more details about the model or the model itself ? This looks like a torchscripting issue. Maybe torchscript compiler is unable to understand the types  in the model.

[2022-07-06 09:13] hongsamvo commented on #1160
Hi, I called x3d-m model from [pytorchvideo](https://github.com/facebookresearch/pytorchvideo), the model is definded in this [file](https://github.com/facebookresearch/pytorchvideo/blob/main/pytorchvideo/models/x3d.py).

[2022-07-06 15:18] ncomly-nvidia commented on #1065
@frank-wei @narendasan any update on this? Seems we solidified on Request 1 at the least

[2022-07-06 17:31] Belval commented on #922
I am having a similar issue converting a TorchScript model with TorchTensorRT. I see that the consensus is that you can refactor your code as a workaround to the issue, but it's not immediately clear where the error is coming from:

[code]

I am using the very latest official image 22.06: `nvcr.io/nvidia/pytorch:22.06-py3`.

[2022-07-06 18:07] Belval commented on #922
Unfortunately the code is not open source, I will try and see if I can get a small repro case.

[2022-07-06 18:58] bowang007 commented on #922
Hi @Belval, looks like ngc 22.06 does not contain our newest fix #1140 for this bug.
You could share a small repro so I can take a look what's going on.
Thanks.

[2022-07-06 23:02] narendasan commented on #1156
This will come with Torch-TensorRT 1.2.0 which targets PyTorch 1.12.0

[2022-07-06 23:05] narendasan commented on #1138
The issue is PyTorch 1.8.0 is too old for latest Torch-TensorRT, if you can using PyTorch 1.11.0 is the easiest or using trtorch v0.3.0 would work if you need 1.8.x

[2022-07-09 07:39] wanduoz opened #1170 "🐛 [Bug] RuntimeError: [Error thrown at core/conversion/conversion.cpp:220] List type. Only a single tensor or a TensorList type is supported."
##  Bug Description
I use torch_tensorrt to convert a multi-head classification model. I  find a similar issue here [https://github.com/pytorch/TensorRT/issues/899](url), but can't find a clear solution or workaround. Any suggestions or conclusions?

[code]

## To Reproduce

Code snippets are as followed
[code]

## Expected behavior

## Environment

use prebuild container, [v22.03](https://catalog

[2022-07-10 05:32] mahmoudhussein99 commented on #1026
I have tried this and again it gives me the same old error
` from torch_tensorrt._C import dtype, DeviceType, EngineCapability, TensorFormat
ImportError: libcudnn.so.8: cannot open shared object file: No such file or directory`

[2022-07-10 13:02] lennartmoritz commented on #1026
Did you follow all the steps @mahmoudhussein99? This guide worked for me on Ubuntu 20.4, if you are not using Linux I am not sure if my guide will work for you.
In particular, you must export your LD_LIBRARY_PATH, as described in steps 6 and 7. Make sure the path acutally leads to your tensorrt installation. Can you confirm that libcudnn.so.8 is acutally present within the folder of the LD_LIBRARY

[2022-07-11 09:33] #766 closed

[2022-07-11 22:03] ncomly-nvidia commented on #1121
Resolved by #1140. Closing

[2022-07-11 22:05] ncomly-nvidia commented on #1031
Closing with #1140

[2022-07-11 22:06] #1031 closed

[2022-07-11 22:47] bowang007 commented on #1121
@ncomly-nvidia I don't this this one should be closed.
It refers to whether we should delete these several lines https://github.com/pytorch/TensorRT/blob/0738caacf8d0911521ff73b0f67b071b8c2b7b42/core/partitioning/partitioning.cpp#L202

[2022-07-11 23:11] bowang007 opened #1173 "✨[Feature] Erase the NonTensor input/output because of min_block_size != 1"
When we implement this feature https://github.com/pytorch/TensorRT/issues/1031, we raised a PR here: https://github.com/pytorch/TensorRT/pull/1140

In this PR, we used DFS for re-segmentation. However, as we can see from here:

[code]

In this function, it doesn't cover cases that nodes fallback because of min_block_size. Ff we do DFS first then segment graph according to min_block_size, then ther

[2022-07-11 23:15] bowang007 commented on #922
Hey @Belval could you please try either add this line:
`"torch_executed_ops": ["prim::ListConstruct"]
`or set:
`        "min_block_size": 1`

Details about why this happens could be found here: https://github.com/pytorch/TensorRT/issues/1173

[2022-07-12 00:17] Belval commented on #922
` torch_tensorrt.compile(model, inputs=[torch_tensorrt.Input((1, 3, 1440, 1440))], torch_executed_ops=["prim::ListConstruct"])` returns a very similar stack trace as before:

[code]

Interestingly, `torch_tensorrt.compile(model, inputs=[torch_tensorrt.Input((1, 3, 1440, 1440))], min_block_size=1)` works to some extent, but instead I get not exception, the compilation exits with an error code (1) w

[2022-07-13 23:03] bowang007 commented on #922
@Belval may I ask how did you build torch-tensorrt from source on NGC 22.06? I tried to build the library from source but kept getting this error when i import torch_tensorrt:
`ImportError: /workspace/TensorRT/py/torch_tensorrt/lib/libtorchtrt.so: undefined symbol: _ZN3c106detail23torchInternalAssertFailEPKcS2_jS2_RKSs`
Did you reinstall some dependent libraries? I used the ngc-22.06 branch for bu

[2022-07-14 04:00] mahmoudhussein99 commented on #1026
Okay first of all thank you for your help that is really appreciated!
After several days trying turned out that there was a function call calling import torch_tensorrt before the import to tensorrt and that was the bug

Also to mention, I tried it without exporting the LD_LIBRARY_PATH as in steps 6 and 7 and works normally, the key is to import tensorrt before and then all the modules will be visi

[2022-07-14 08:34] bharatsshinde commented on #1166
@krmayankb you can build Torch-TensorRT from source on the Orin. I used v1.1.0.

[2022-07-14 08:40] gemm4 commented on #1166
@krmayankb You can build Torch-TensorRT from source on the Jetson AGX ORIN. I used v1.1.0.

[2022-07-14 15:15] Belval commented on #922
From the error it seems to be the `--use-cxx11-abi` flag that is missing. I used this as reference: https://pytorch.org/TensorRT/tutorials/installation.html#installation see "Choosing the right ABI".

In a container based on `nvcr.io/nvidia/pytorch:22.06-py3`

1. `wget https://github.com/bazelbuild/bazelisk/releases/download/v1.12.0/bazelisk-linux-amd64`
2. `chmod +x bazelisk-linux-amd64`
3. `mv b

[2022-07-15 01:30] narendasan opened #1180 "Move this function (`scalar_to_tensor`) to converter utils"
https://github.com/pytorch/TensorRT/blob/5ad982639c68dbc079b211ad3ffef6ec900b0dcc/core/conversion/converters/impl/element_wise.cpp#L28

[2022-07-15 08:03] ruoqianguo commented on #766
I provided a snippet code which is widely used in swin-transformer. In this code, "aten::Int" is failed in lowering. So i tried to make "aten::Int" execute in torch. When i traced the model and compiled it with torch-trt, it failed during compiling.  When i scripted the model and compiled it with torch-trt, it worked.

[code]
If we want to work around "aten::int", we need to provided a fixed `H W

[2022-07-15 19:14] Gtoyos commented on #969
@narendasan Is there a planned date for including this feature? We are having problems compiling Pytorch-TensorRT on Nvidia AGX. Do you know if there are any unofficial arm builds available somewhere?

[2022-07-16 15:49] feldman-cortica opened #1182 "🐛 [Bug] `torch.Tensor.std` doesn't support multiple dimensions"
##  Bug Description

`torch.std` doesn't support multiple dimensions while `torch.mean` works ok

## To Reproduce

`convert.py`

[code]

Output:
[code]

## Expected behavior

`torch.std` should behave in the same manner as `torch.mean`

## Environment

Docker `nvcr.io/nvidia/pytorch:22.06-py3` ([specs](https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel_22-06.html#rel_22-06))

[2022-07-18 15:20] haichuanwang001 opened #1186 "❓ [Question] Python Package for V1.1.1 Release?"
## ❓ Question

Does the latest release include the python package for supporting JP5.0 too?

 - PyTorch Version (e.g., 1.0): 1.11
 - CPU Architecture: Arm64
 - Python version: 3.8
 - CUDA version: 11.4

[2022-07-18 18:17] narendasan commented on #1186
There is no precompiled python package for this release as it is targeted at Jetson specifically where we expect users to build from source.

[2022-07-18 18:20] haichuanwang001 commented on #1186
I am compiling from source with the guidelines from the provided link. The setup.py file in the py folder doesn’t seem to support JP5.0 (still 4.5 and 4.6). Do I need to do something else?

[2022-07-18 21:47] #1186 closed

[2022-07-18 23:22] bowang007 commented on #954
closing per #958

[2022-07-18 23:22] #954 closed

[2022-07-18 23:52] krmayankb commented on #1166
@haichuanwang001 No, I couldn't. I stop trying based on feedback received.

Currently, I am working with the Python API of TensorRT. It's a bit of work to wrap your head around but it works. Let me know if you need more info about this.

[2022-07-19 01:48] myxzlpltk opened #1188 "❓ [Question] Cannot install torch-tensorrt package"
Hi! Can someone explain why this is error

[code]

[2022-07-19 04:34] narendasan commented on #1188
Follow these instructions to build torch-tensorrt for windows https://github.com/pytorch/TensorRT/pull/1058

[2022-07-19 04:36] narendasan commented on #1166
torch-tensorrt 1.1.1 was released with Orin support https://github.com/pytorch/TensorRT/releases/tag/v1.1.1

Follow the instructions here to install https://pytorch.org/TensorRT/tutorials/installation.html

[2022-07-19 10:21] Jancapcc opened #1189 "❓ [Question]Why the GPU memory has doubled when I loaded model from Torch-TensorRT by Pytorch?"
## ❓ Question

When I'm using Pytorch to load model from Torch-TensorRT(torch.jit.load (*.ts)) file, the model's GPU memory has doubled(1602MB to 3242MB of GPU Memory from Nvidia-smi). At the same time, the gradient of model tensors are both not included. What I'm concern is that the context memory of torch is not reused, is restart a new context memory of torch.

## Environment

 - PyTorch Versio

[2022-07-19 18:49] chaoz-dev commented on #907
Closing this ticket for now, as in the course of trying to make a more complex model to test this issue, I wasn't able to come up with a use case that made sense; this issue will still occur with more complex models, but the specific issue is passing in a tensor as described... which can be side-stepped by using other ops.

[2022-07-19 18:49] #907 closed

[2022-07-19 22:54] bowang007 commented on #1134
Hi @geekinglcq here is my env details:

PyTorch Version (e.g., 1.0): 1.11.0
CPU Architecture: Intel(R) Core(TM) i9-7920X CPU @ 2.90GHz
OS (e.g., Linux): Linux, Ubuntu 20.04
How you installed PyTorch (conda, pip, libtorch, source): pip
Build command you used (if compiling from source): /
Are you using local sources or building from archives: yes
Python version: 3.8
CUDA version: 11.3
GPU models and

[2022-07-19 23:26] bowang007 opened #1190 "✨[Feature] Support cases where LowerGraph() introduces input whose values are stored in Param"
**Is your feature request related to a problem? Please describe.**
#1024
There are some models that LowerGraph() might introduce new input to the entire graph after lowering, which may cause the missing value error. As what is happening here https://github.com/pytorch/TensorRT/issues/922#issuecomment-1184833720 and here: https://github.com/pytorch/TensorRT/issues/922#issuecomment-1157063427.

**De

[2022-07-20 23:42] bowang007 commented on #922
hi @Belval any update?
I raised a Feature Request here: https://github.com/pytorch/TensorRT/issues/1190
We will try to support this feature asap and will start from some simple cases like the one here: https://github.com/pytorch/TensorRT/issues/922#issuecomment-1157063427
Since I don't have the detailed source code of your model, I'm not sure what happens to these custom_deform_conv nodes. But onc

[2022-07-21 03:34] HOOLoLo commented on #763
I used the 21.12 docker image (https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel_21-12.html#rel_21-12) which's Torch-TensorRT version is 1.1.0.0.a.0 but get the same problem,

[2022-07-21 22:48] peri044 opened #1196 "🐛 [Bug] Error compiling when you use TensorRT INT8 calibrator (implemented using native TRT python API) with Torch-TRT"
##  Bug Description

If a tensorrt calibrator implemented using TRT python API  is passed to Torch-TRT compilation, it fails due to the object not being recognized.

Error :

[code]

## To Reproduce

Run https://github.com/pytorch/TensorRT/blob/master/tests/py/test_ptq_trt_calibrator.py

## Expected behavior
https://github.com/pytorch/TensorRT/blob/master/tests/py/test_ptq_trt_calibrator.py should

[2022-07-22 04:38] zinuok opened #1197 "❓ [Question] Where can we get 'trained_vgg16_qat.jit.pt' ?"
## ❓ Question

Where can we get 'trained_vgg16_qat.jit.pt' ?
the link in [test_qat_trt_accuracy.py](https://github.com/pytorch/TensorRT/blob/master/tests/py/test_qat_trt_accuracy.py#L74)
doesn't work now.

[2022-07-22 04:46] zinuok commented on #1197
I got to work !
The answer was in TensorRT/examples/int8/training/vgg16
thank you

[2022-07-22 04:46] #1197 closed

[2022-07-22 05:06] zinuok opened #1198 "❓ [Question] Where can we get VGG-16 checkpoint pretrained on CIFAR-10 ?"
## ❓ Question

To get $pwd/vgg16_ckpts/ckpt_epoch110.pth, I tried to run the script named [python3 finetune_qat.py](https://github.com/pytorch/TensorRT/tree/v1.1.1/examples/int8/training/vgg16#quantization-aware-fine-tuning-for-trying-out-qat-workflows).

However, the script needs VGG-16 pretrained model at 100-epoch as follows:
[code]
Then where can we download the checkpoint-epoch 100 model?
I f

[2022-07-22 05:13] #1198 closed

[2022-07-22 08:00] sanath-tech opened #1199 "Cant import torch_tensorrt"
ERROR:
from torch.fx.passes.pass_manager import PassManager

 ModuleNotFoundError: No module named 'torch.fx.passes.pass_manager'

 - PyTorch Version : 1.11
 - CPU Architecture: jetson AGX xavier
 - OS (e.g., Linux):
 - How you installed PyTorch: nvidia forum wheel
 - Build command you used (if compiling from source):
 - Are you using local sources or building from archives:
 - Python version:3.8

[2022-07-22 20:09] yinghai commented on #1199
@frank-wei could take a look? It seems quite unexpected.

[2022-07-22 20:26] frank-wei commented on #1199
@sanath-tech
`from torch.fx.passes.pass_manager import PassManager` is not in pytorch 1.11. It appears in pytorch 1.12.
FX path is new to Torch-TensorRT and do not have official wheel or release branch yet. It is suggested to be used with pytorch 1.12 and later. We will release the newest Torch-TensorRT in the next 2 weeks which works with pytorch 1.12. Please stay tuned.

[2022-07-23 10:03] sanath-tech commented on #1199
Is FX path is not in Torch-Tensorrt ,then why is it asking for it when I "import torch_tensorrt"

[2022-07-23 21:24] s-mohaghegh97 opened #1200 "NGC container 22.07"
Hi,
when NGC container 22.07 is released?

[2022-07-24 05:55] frank-wei commented on #1199
It is in Torch-TensorRT if you build from master.
https://github.com/pytorch/TensorRT/blob/e113b48006b4a944859e206d4bd2337242b0af61/py/torch_tensorrt/__init__.py#L94

[2022-07-24 21:35] yokosyun opened #1202 "❓ [Question] interpolate isn't suported?"
## ❓ Question

does anyone succeed compile [torch.nn.functional.interpolate](https://pytorch.org/docs/stable/generated/torch.nn.functional.interpolate.html) with torch_tensort>1.x.x?

in the release note, it is written that nearest and bilinear interpolation are supported

if you can compile it, please share with me the example code. thank you!

[2022-07-25 03:03] YOONAHLEE opened #1203 "❓ [Question] How do you install torch-tensorrt (Import error. no libvinfer_plugin.so.8 file error)?"
## ❓ Question

###  ImportError: libnvinfer_plugin.so.8: cannot open shared object file: No such file or directory

cuda and cudnn is installed well.
I installed pytorch and nvidia-tensorrt well in conda environment
and then install torch-tensorrt via pip

[code]
but when I import torch-tensorrt, it gives importError
ImportError: libnvinfer_plugin.so.8: cannot open shared object file: No such file

[2022-07-25 04:30] YOONAHLEE commented on #1203
I followed this(https://github.com/pytorch/TensorRT/issues/1026#issuecomment-1119561746)
 and fixed the problem

[2022-07-25 05:34] #1203 closed

[2022-07-25 05:45] sanath-tech commented on #1199
Yes , i built from source using bazel as mentioned in Torch website for jetson

[2022-07-25 11:04] sanath-tech commented on #1199
still i couldnt solve the problem i tried both with torch 1.11 and torch 1.12
![Screenshot from 2022-07-25 13-02-14](https://user-images.githubusercontent.com/54027296/180763166-e3e6bd50-88e0-4424-a98d-4d57323fdb4b.png)

[2022-07-25 15:38] ncomly-nvidia commented on #1200
Hi @s-mohaghegh97 the NGC containers are generally released the last week of the month (approx ~25-28th), so it should be out later this week.

[2022-07-25 15:38] #1200 closed

[2022-07-25 15:44] ncomly-nvidia commented on #1160
@hongsamvo so the x3d-m model fails to be scripted, even before Torch-TRT `.comiple()`? ie. the following fails:
[code]

If so, then this is a torchscript issue. We recommend you creating an issue on pytorchvideo to get help with torchscripting.

[2022-07-25 19:06] #973 closed

[2022-07-26 01:08] bowang007 commented on #922
@Belval
I did some tests locally and this bug could be fixed by applying pytorch APIs correctly. As we can see, the Float values in the input has `requires_grad=1`, which means it's a training graph, that's the reason why LowerGraph() introduces many float type inputs.  So could you please retrieve your model this way?
[code]
then you can use torch_tensorrt.compile to compile the retrieved JIT gra

[2022-07-26 02:08] hongsamvo commented on #1160
@ncomly-nvidia yes, I haved problem when converted to torch script first, thank you for your recommend.

[2022-07-26 02:08] #1160 closed

[2022-07-26 08:15] sph1n3x commented on #1199
Any chance of CUDA 11.6 and TensorRT 8.4.x support in the next release? Would be interesting to know!

[2022-07-26 14:26] sanath-tech commented on #1199
I sucessfully installed Torch-TensorRT in AGX Xavier, but now when i run below mentioned code, which is example code in torch website, i get below errors

import torch_tensorrt
import torch
import torchvision.models as models

model = models.mobilenet_v2(pretrained=True)

script_model = torch.jit.script(model)

spec = {
    "forward":
        torch_tensorrt.ts.TensorRTCompileSpec({
            "in

[2022-07-26 17:37] mfeliz-cruise opened #1205 "🐛 [Bug] Commit breaks TensorRT 8.2 compatibility"
##  Bug Description

This [commit](https://github.com/pytorch/TensorRT/commit/2895fb84f7729b33d01e36e31d74dcf681cef469) seems to break compatibility with TRT 8.2. Filing this as a bug at @ncomly-nvidia 's request

## To Reproduce

Steps to reproduce the behavior:

1. Attempt to compile Torch-TRT with TRT 8.2 and this commit.

## Expected behavior

## Environment

 - Torch-TensorRT Version (e.g. 1.

[2022-07-26 19:16] ncomly-nvidia commented on #899
@narendasan is this a tested case by collections for v1.2?

[2022-07-26 19:49] ncomly-nvidia commented on #949
Bump @narendasan ^

[2022-07-27 09:14] gxxyongzhe opened #1207 "❓ [Question] cmake do not find torchtrt?"
## ❓ Question

Hi, im trying to compile from source and test with c++.

I built using locally installed cuda 10.2 , tensort 8.2 and libtorch cxx11 abi, compile using `bazel build //:libtorchtrt -c opt`
It looks like the installation was successful.
[code]

But when i test with c++, the cmake can not find torchtrt, seems like the installation was not correctly？？？
Is there anyone who can tell me wha

[2022-07-27 16:40] JinLi711 opened #1209 "❓ [Question] How do you install an older TensorRT package?"
## ❓ Question

How do you install an older TensorRT package? I'm using Pytorch 1.8 and TensorRT version 0.3.0 matches that Pytorch version.

## What you have already tried

I tried:

[code]

## Environment

 - PyTorch Version (e.g., 1.0):
 - CPU Architecture:
 - OS (e.g., Linux):
 - How you installed PyTorch (`conda`, `pip`, `libtorch`, source):
 - Build command you used (if compiling from source)

[2022-07-27 20:37] sph1n3x commented on #1209
Afaik the package name was changed at some point.
Maybe try:
`pip3 install trtorch==v0.3.0 -f https://github.com/pytorch/TensorRT/releases`

[2022-07-27 23:42] yokosyun opened #1210 "🐛 [Bug] interpolation doesn't support"
##  Bug Description

Depending on a number of arguments, interpolation doesn't work.

        # return torch.nn.functional.interpolate(img, scale_factor=2.0)  #ok
        # return torch.nn.functional.interpolate(img, scale_factor=(2.0, 2.0))  #compilation error
        # return torch.nn.functional.interpolate(img, size=200)  #ok
        # return torch.nn.functional.interpolate(img, size=(200, 200)

[2022-07-27 23:43] yokosyun opened #1211 "🐛 [Bug] interpolation doesn't support some arguments setting"
##  Bug Description

Depending on a number of arguments, interpolation doesn't work.

        # return torch.nn.functional.interpolate(img, scale_factor=2.0)  #ok
        # return torch.nn.functional.interpolate(img, scale_factor=(2.0, 2.0))  #compilation error
        # return torch.nn.functional.interpolate(img, size=200)  #ok
        # return torch.nn.functional.interpolate(img, size=(200, 200)

[2022-07-27 23:43] #1210 closed

[2022-07-27 23:44] yokosyun commented on #1210
mistakenly I created two tickets

[2022-07-27 23:45] #1202 closed

[2022-07-27 23:46] yokosyun commented on #1202
I found it partially works. created a new ticket
https://github.com/pytorch/TensorRT/issues/1211#issue-1320228685

[2022-07-27 23:54] yokosyun commented on #1207
maybe you have to add
[code]
https://github.com/pytorch/TensorRT/issues/632#issuecomment-927095884

[2022-07-28 03:54] gxxyongzhe commented on #1207
Thanks, but there is no /opt/trtorch/lib/libtrtorch.so and directory /opt/trtorch/,  only can find libtorchtrt.so in /home/xs/TensorRT/bazel-bin/cpp/lib

i tried to add this address in cmakelist like,  It still doesn't work.
`set(torchtrt_DIR /home/xs/TensorRT/bazel-bin/cpp/lib)
find_package(torchtrt REQUIRED)`

[2022-07-28 06:31] noman-anjum-retro opened #1212 "🐛 [Bug] Encountered bug when using Torch-TensorRT"
## ❓ Question

Hello There,
I've tried to run torch_TensorRT on ubuntu and windows as well. On windows I compiled it with[]( https://github.com/gcuendet/Torch-TensorRT/tree/add-cmake-support) pull request and it is working good on C++. The resulting trt_module on ubuntu is loading flawlessly on python and can be saved and loaded from disk for future use. This is not the case with Windows C++ modul

[2022-07-28 07:03] FiReTiTi commented on #1010
Same here.
Any idea how to fix it?

[2022-07-28 12:05] wikiwen opened #1213 "❓ [Question] How do you ....?"
## ❓ Question

Is it ok to build v1.1.0 with cuda10.2 not default cuda11.3?

## Environment

 - PyTorch Version: 1.11.0
 - CUDA version: 10.2
 - TensorRT:  8.2.4.2

[2022-07-28 14:00] #1209 closed

[2022-07-28 21:33] ncomly-nvidia commented on #1205
Hi @mfeliz-cruise, after internal investigation, this not an issue with TRT minor version compatibility, but instead an artifact on how Torch-TRT interacts with different TRT versions. As you know, Torch-TRT only officially supports as single SW stack for stable releases at this time, and this case prior TRT versions cannot be supported due to the above.

We understand this is an inconvenience whi

[2022-07-28 21:33] #1205 closed

[2022-07-29 03:30] gxxyongzhe commented on #1207
solved

[2022-07-29 03:30] #1207 closed

[2022-07-29 07:02] HOOLoLo commented on #763
Has this bug been solved?

[2022-07-29 07:41] valeriosofi opened #1214 "🐛 [Bug] Unable to import Torch-TensorRT"
##  Bug Description
Hello, I was trying to install and import Torch-TensorRT in a colab notebook, but after following all the steps when I import torch_tensorrt I get the following error:
`ImportError: libnvinfer_plugin.so.8: cannot open shared object file: No such file or directory`
In some other issues was suggested to import tensorrt before importing torch_tensorrt, but even in this case I get

[2022-07-29 15:02] semigok commented on #708
I had the similar problem. I think it is because of the compatibility issue with torch versions and the CUDA version you are using. CUDA is backwards compatible only withing the same main version such as 11.x or 9.x. If you install the wrong pytorch packages or wheel you can get this error.

[2022-07-30 06:38] gxxyongzhe opened #1216 "🐛 [Bug] Encountered bug when compiling a script model"
##  Bug Description

Error occurred when compiling a torchsrcipt model

[code]

Errors:

[code]

## Environment

 - Torch-TensorRT Version (e.g. 1.0.0):  1.1.0
 - PyTorch Version (e.g. 1.0): 1.11.0
 - CPU Architecture: x86-64
 - OS (e.g., Linux): linux
 - How you installed PyTorch (`conda`, `pip`, `libtorch`, source): pip install torch==1.11.0+cu113 torchvision==0.12.0+cu113 /  wget libtorch-share

[2022-07-31 03:03] RolandGao commented on #1214
I have the same problem

[2022-08-01 03:51] gxxyongzhe commented on #1216
solved,  i just changed cuda 11.3.0 to cuda 11.3.1

[2022-08-01 03:51] #1216 closed

[2022-08-01 08:29] Nopileos2 commented on #1115
Are there any updates on this? I would also be fine with hints how to maybe make the conversion from view to reshape optional. Looking at the code it seems not easy, since there is no logic for it and the conversion pipeline is hardcoded as far as I can tell.

[2022-08-01 15:39] ncomly-nvidia commented on #832
@p1x31 thanks for the feature request! Are there any public models which require this which you're interested in?

[2022-08-01 15:54] ncomly-nvidia commented on #1209
The package name changed from `trtorch` to `torch-tensorrt` in v1.0. @JinLi711 is there a reason you're looking for v0.3?

[2022-08-01 15:56] LucaBonfiglioli opened #1218 "🐛 [Bug] RuntimeError when saving a compiled nn.Module"
##  Bug Description

I get RuntimeError when I try to save a compiled Tensor RT module. The error message says to report a bug, and I found no other issues of this kind.

## To Reproduce

Unfortunately I am not allowed to fully publish the code that raises this error. But I can generally describe what I am doing to give you some hints.

I have a very complex `nn.Module` with a mixture of neural an

[2022-08-01 16:14] narendasan commented on #1218
Is there anyway to provide a minimal repro for this? This should be a supported usecase.

[2022-08-01 16:20] narendasan commented on #1213
You can build Torch-TensorRT with 10.2 as long as you change the dependencies for CUDA, cuDNN and TensorRT to pull 10.2 based builds.

- https://github.com/pytorch/TensorRT/blob/db61e904f5e92219a6d3ce06f343670185ec886c/WORKSPACE#L44
- https://github.com/pytorch/TensorRT/blob/db61e904f5e92219a6d3ce06f343670185ec886c/WORKSPACE#L82
- https://github.com/pytorch/TensorRT/blob/db61e904f5e92219a6d3ce06f3

[2022-08-01 16:24] narendasan commented on #1212
To use Torch-TensorRT in Python without importing the Python API you can load `libtorchtrt_runtime.so` through `torch.ops.load_library` which will pull in the TorchScript interpreter extensions in order to deserialize and run compiled modules.

[2022-08-01 17:08] andi4191 commented on #1030
Closing this feature request. Change is already merged in to the master branch.

[2022-08-01 17:08] #1030 closed

[2022-08-01 17:08] andi4191 commented on #1054
Closing this Feature Request. Change is already merged in to the master branch.

[2022-08-01 17:08] #1054 closed

[2022-08-01 17:12] #970 closed

[2022-08-01 17:15] ncomly-nvidia commented on #859
Torch-TRT now has CMake support from the community. Check it out & let us know what you think! #1058

[2022-08-02 07:14] LucaBonfiglioli commented on #1218
Why would there be a nn.Module among the submodules after calling `torch.jit.script`?

Anyway, I am currently trying to simplify the code while still reproducing the bug to provide you with a minimal example.

[2022-08-02 08:32] domef opened #1222 "🐛 [Bug] Cannot export models to TensorRT with int8 quantization"
### 🐛 Describe the bug

I'm trying to convert a resnet18 to TensorRT. It works fine when setting `enabled_precisions` to `torch.float` and to `torch.float16`. It doesn't work with `torch.int8`.

[code]
When using the model exported with `torch.jit.script`, the error is the following:
[code]
When using the model exported with `torch.jit.trace`, the program exit with:
[code]

I'm using the nvidia co

[2022-08-02 16:25] narendasan commented on #1218
Correct me if I am not understanding your workflow properly but it seems like you have a `nn.Module` with some submodules, then you pick some submodules and trace them then compile them with Torch-TRT, then you script the whole thing (`nn.Modules` + Torch-TRT torchscript modules), then you try to save the resultant torchscript? Is there a reason scripting the full model and then passing that full

[2022-08-02 16:36] narendasan commented on #1214
This issue is solved in Torch-TensorRT 1.2.

Adding the following to install Torch-TRT from our CI should give you a build to try out.

I did notice that CoLab is still on CUDA 11.2 so not sure if you will run into issues re: CUDA incompatibility

[2022-08-02 23:07] bowang007 commented on #1173
closing per #1195

[2022-08-02 23:07] #1173 closed

[2022-08-03 06:38] noman-anjum-retro commented on #1212
Hey thanks for replying, where can I find libtorchtrt_runtime.so .  I searched It in libtorch repo and torch_tenosrRT repo. Also this method will run on window right?

[2022-08-03 07:58] valeriosofi commented on #1214
Thank you @narendasan, I tried with that wheel and it works even on colab! Do you have wheels like that also for python 3.8 and 3.9?

[2022-08-03 08:39] noman-anjum-retro commented on #1212
I got the file libtorchtrt_runtime.so  from linux source. But it's not getting loaded.

` File "D:\Codes\RetroActivity\experiments\src\exploration\action_recognition\video_play.py", line 372, in <module>
    model = get_torch_tensorrt_converted_model(model_name, num_classes)
  File "D:\Codes\RetroActivity\experiments\src\exploration\action_recognition\video_play.py", line 189, in get_torch_tensorr

[2022-08-03 08:41] noman-anjum-retro commented on #1212
I got this file libtorchtrt_runtime.so from linux source. But it's not getting loaded and throwing following error

`
  File "\video_play.py", line 189, in get_torch_tensorrt_converted_model
    torch.ops.load_library("libtorchtrt_runtime.so")
  File "C:\Users\NomanAnjum\AppData\Local\Programs\Python\Python310\lib\site-packages\torch\_ops.py", line 255, in load_library
    ctypes.CDLL(path)
  File

[2022-08-03 08:43] xsxsmm opened #1226 "🐛 [Bug] Encountered bug when compiling QAT to TRT model"
##  Bug Description

I trained Res18-QAT on cifiar by following  [https://github.com/pytorch/TensorRT/tree/master/examples/int8/training/vgg16](url)

Error occurred when compiling to trt model both in python and c++, but it was fine when compiling vgg16-QAT.

Error in python:
[code]

Error in c++:

[code]

Any ideas?

## Environment

 - Torch-TensorRT Version (e.g. 1.0.0): 1.1.0
 - PyTorch Version

[2022-08-03 09:37] LucaBonfiglioli commented on #1218
@narendasan Yes I think you understood correctly.

The main reason why I don't script the whole thing before compiling with TRT is that to make it compile with TRT it would require very invasive changes to all the codebase, which I am not going to do unless truly necessary, and not just for a performance test. Example: I need to work with truncated longs and doubles, so I cannot use `torch.gather`

[2022-08-03 13:31] narendasan commented on #1214
Yes you can pull from here: https://app.circleci.com/pipelines/github/pytorch/TensorRT/464/workflows/a07892ac-38f6-4ac9-9d48-69bbc0ce3acb/jobs/1396/artifacts

[2022-08-03 16:18] domef commented on #1218
I'm getting the same error, unfortunately my code is private too.
Another big problem is that error doesn't give any hint on what's the cause of the problem, so I don't even know where to search among the thousands of lines of my code.

[2022-08-03 17:07] domef opened #1227 "🐛 [Bug] Cannot export traced model to TensorRT"
##  Bug Description

I get an error while trying to compile a model with TensorRT. First I trace the model, then I compile it with TensorRT, where it explodes.
Unfortunately my codebase is private so I cannot share much information.

The code I use to export. The variable `mymodel` is a `nn.Module` in `eval` mode and on `cuda` device:

[code]

The error is:

[code]
and then there hundreds of lines

[2022-08-03 21:50] PrajwalCogniac commented on #1010
Yes any leads on how to fix the issue ?

[2022-08-04 07:13] valeriosofi commented on #1214
Thank you @narendasan, for now I'll definitely use those links, looking forward for release 1.2 to be officially out!

[2022-08-04 07:14] #1214 closed

[2022-08-04 12:37] lixiaolx opened #1229 "🐛 [Bug] Poor quantization accuracy of resnet50 model int8 using Torch-TRT PQT method"
##  Bug Description
Perform int8 quantization on resnet50 in the reference Test-demo ( https://github.com/pytorch/TensorRT/tree/master/tests/py/ptq ), and compare the inference result with the original FP32, the accuracy is quite different

run test code：

import os
import torch_tensorrt as torchtrt
from torch_tensorrt.logging import *
import torch
import tensorrt as trt
import torch.nn as nn
from

[2022-08-04 18:22] peri044 commented on #1229
1) The resnet model from timm is trained on ImageNet dataset with an image size of 224x224.
2) You are using CIFAR 10 for calibration which has image size of 32x32. Ideally the calibration dataset should be a subset of validation set of ImageNet. Can you verify if you're using representative data ? The reference scripts use VGG16 trained on CIFAR10 itself.

[2022-08-04 18:34] mfeliz-cruise opened #1231 "🐛 [Bug] aten::abs converter does not support int32"
##  Bug Description

The current implementation of the aten::abs converter relies on the UnaryLayer kABS implementation which does not support integers https://github.com/pytorch/TensorRT/blob/84ffb67467b80cd9e7df6a9969b790e8cbd51304/core/conversion/converters/impl/unary.cpp#L16.

https://docs.nvidia.com/deeplearning/tensorrt/api/c_api/classnvinfer1_1_1_i_network_definition.html#a77831224c9a72ad02

[2022-08-04 19:02] PrajwalCogniac commented on #536
I am facing the same issue ? Any idea to solve it ?
or @narendasan did you get any fix around it ?

[2022-08-05 03:18] lixiaolx commented on #1229
I tried to quantify resnet50 with the IMageNet dataset, and found that the difference in results is still larger than that of FP32 before quantization.
Please help to follow up and optimize the quantization accuracy of torch-tensorrt.
Here is my experiment:
data set:
I tested the full and subset (500, 1000 randomly) with the val dataset,
Verification method: 1.dataloader_calibrator
2.trt_calibrato

[2022-08-05 08:40] domef opened #1233 "❓ [Question] How to install "tensorrt" package?"
## ❓ Question

I'm trying to install `torch-tensorrt` on a Jetson AGX Xavier. I first installed `pytorch` 1.12.0 and `torchvision` 0.13.0 following this [guide](https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-11-now-available/72048). Then I installed `torch-tensorrt` following this [guide](https://pytorch.org/TensorRT/tutorials/installation.html#installation), and the compilatio

[2022-08-05 10:37] gxxyongzhe commented on #1226
I have tried mobilenet-v2-qat.
mobilev2 can be exported to Tensorrt, it works fine. only resnet -18.

[2022-08-05 15:23] Mark-M2L opened #1235 "❓ [Question] How do you debug errors in the compilation step?"
## ❓ Question

Hello all,

After training a model, I decided to use torch_tensorrt to test and hopefully increase inference speed. When compiling the custom model, I get the following error: `RuntimeError: Trying to create tensor with negative dimension -1: [-1, 3, 600, 400]`. This did not occur when doing inference in regular PyTorch. Further the following warning was issued (before receiving the

[2022-08-05 16:42] narendasan commented on #1235
This error is due to trying to use dynamic shape with partial compilation enabled. Currently there is a limitation in Torch-TensorRT where you cannot use these features together. For further debugging usually the first thing I do is enable the debug logs:

[code]

This gives you more information about the internal state of the compiler including what symbols have already been parsed and translated

[2022-08-05 16:43] narendasan commented on #1233
Are you able to import the tensorrt package explicitly on its own?

[2022-08-05 22:28] bowang007 commented on #1227
try if this one #1236 could fix your bug

[2022-08-05 22:34] bowang007 commented on #1112
closing per #1148

[2022-08-05 22:34] #1112 closed

[2022-08-05 22:36] bowang007 commented on #1040
can be closed now.

[2022-08-05 22:36] #1040 closed

[2022-08-05 22:39] bowang007 commented on #982
closing per #1167

[2022-08-05 22:39] #982 closed

[2022-08-05 23:07] mjack3 opened #1237 "🐛 [Bug] torch.vstack is not supported"
Hello everyone

##  Bug Description

RuntimeError: [Error thrown at core/conversion/conversion.cpp:225] List type. Only a single tensor or a TensorList type is supported.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Torch.vstach return a concatenate Tensor not a List. This method should work

## Environment

 - Torch-TensorRT Version (e.g. 1.0.0): 1.1.0
 - PyTo

[2022-08-07 04:34] peri044 commented on #1229
We didn't perform RN50 PTQ test on ImageNet (in Torch-TRT) but in ONNX-TRT, INT8 accuracy of Resnet PTQ should be very close to FP32. Here is the reference https://github.com/NVIDIA/TensorRT/tree/main/tools/tensorflow-quantization/examples/resnet#resnet50-v2

Can you provide a end-end script of your INT8 PTQ test with imagenet data loading and processing part so that we can reproduce this bug ?

W

[2022-08-08 04:10] lixiaolx commented on #1229
@peri044 hello，My test results and test code are as follows：

I tested the comparison of fp32 and int8 with batchsize=64, and the results are as follows:
native bs=64,fp32:
imageNet1k, valadation 5w result:batch_size:64 * Acc@1 71.341 (28.659)     Acc@5 88.570 (11.430)
int8 ,bs=64:
imageNet1k, valadation 5w result:batch_size:64 * Acc@1 2.153 (97.847)     Acc@5 4.580 (95.421)

Comparison of single

[2022-08-08 07:28] mjack3 commented on #1237
solved

[2022-08-08 07:28] #1237 closed

[2022-08-08 10:00] lixiaolx commented on #1229
@peri044  Hello, do you have any test scripts related to testing PTQ quantization int8 resnet50? Can you post the relevant code?